<%= form_tag({controller: :users, action: :maps}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
    <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
          :name, :id, :name, {prompt: "Select type" },
          { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
  rentals:<span class="check-box-search"><%= check_box_tag :rental, params[:rental] %> </span>

</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
   <!-- currently out:<span class="check-box-search"><%= check_box_tag :rental_out, params[:rental_out] %> </span>
   Past due:<span class="check-box-search"><%= check_box_tag :rental_past, params[:rental_past] %> </span> -->
 </div><!-- /.col-lg-6 -->
<% end %>

  <div class="" id="map_boards">
    <%= render 'users/maps', locals: { board: @user_places} %>
  </div>
      <h1 class="center-text"> Featured Shops </h1>
    </div>
    <% @featured_stores = User.where.not(company: nil).limit(15) %>

<div class="" id="map_companies">
  <%= render  'layouts/featured_companies', locals: { companies: @featured_stores} %>
</div>
