<%= form_tag({controller: :users, action: :maps}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
    <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
          :name, :id, :name, {prompt: "Select type" },
          { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
  rentals:<span class="check-box-search"><%= check_box_tag :rental, params[:rental] %> </span>

</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
   <!-- currently out:<span class="check-box-search"><%= check_box_tag :rental_out, params[:rental_out] %> </span>
   Past due:<span class="check-box-search"><%= check_box_tag :rental_past, params[:rental_past] %> </span> -->
 </div><!-- /.col-lg-6 -->
<% end %>

  <div class="" id="map_boards">
    <%= render 'users/maps', locals: { board: @user_places} %>
  </div>
      <h1 class="center-text"> Featured Shops </h1>
    </div>
<% @featured_stores = User.where.not(company: nil) %>
<% @featured_stores.each do |i| %>
<tbody style="width:100%;" class="tbody-search col-sm-6 col-md-4 col-lg-3 center-text">
    <!-- if no image load other boards image in results -->
    <td class="center-text" >
      <div  style="min-height:240px;">
          <%= link_to attachment_image_tag(Board.find(55).images.first, :file, :fill, 340, 200), user_path(i), target: :_blank %>
      </div>

  <ul class="main-well-ul">
     <li class="center-text title-link">
       <!-- new link to modal -->
       <div class="title-bar center-text">
         <%= i.company %>

      </div>
     </li>
     <li class="center-text">
      <%=  i.zipcode  %>

     </li>
     <li class="center-text">
       <strong class="make-li"><%= i.zipcode  %></strong>
     </li>
     <li class="center-text" style="padding-top:5px;">
       <strong class="pull-left" style="padding:5px;font-weight:lighter;font-size:20px;">$<%= i.company %></strong>
         <br>
         <hr class="style13">
       </td>
       </ul>
    </tbody>
    <% end %>
