<%= content_for :page_title,   @user.company.capitalize   + " Shop" %>
<%= content_for(:header) do %>
<script>
$(function() {
$("#geo-input").geocomplete();
country: "US"
});

$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');

openExtended.onclick = function() {
   if(this.style.display == 'block') {
     this.style['display'] = 'none';
     extended.style['display'] = 'block';
   }
};
});

  $('.date#starttimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

  $('.date#endtimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

</script>
<% end %>

<span id="top" name="top" style="display:block;position:relative;top:-50px;"></span>

<div class="center-text shop-info">
  <table class="pull-right"><thead><th><strong> <%= @user.company %></th></strong></thead>
    <tbody>
      <td>
      <%=@user.full_address %>
    </td>
      </tbody>
    </table>

    <% @user.reviews.average(:rating).to_i.times do %>
        <%= image_tag "Star.png", :size => "25x25" %>
    <% end %>
    <div id="openRates" class="btn btn-sort">open rates </div>
      <div id="ratesPartial" class="pull-left" style="display:none;padding-left:20px;">
       <%= render partial: 'form' %>
      </div>
  </div>
<br>


<span id="top"></span>
<%= form_tag({controller: :users, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div class="row shop-search-form">
       <div class="col-lg-6">
         <div class="input-group">
           <span class="input-group-btn">
           <%= grouped_collection_select nil, :category_id, Type.all, :categories,
                 :name, :id, :name, {prompt: "Choose type" },
                 { id: '' , class: "form-control"} %>
           </span>
         </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->
       <div class="col-lg-6">
         <div class="input-group">
           <span class="input-group-btn">
           <%= collection_select(nil, :make, Board.where(:user_id => @user.id, :for_sale => true).order(:make).distinct.sort, :make, :make, {prompt: "Choose make"},{ class: "form-control" }) %>
            </span>
         </div>
       </div>
   </div><!-- /.row -->

   <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control' })  %>
      </span>
    </div><!-- /input-group -->
    <div class="input-group">
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
      </span>
    </div>
  </div><!-- /.col-lg-6 -->

  <span id="open-extended" class="center-text" style="cursor:pointer;text-decoration:underline;display:block;"> Extend Search </span>
  <div id="extended-search" style="display:none;">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <%= collection_select(nil, :company, User.all.order(:company).distinct.sort, :company, :company, {prompt: "Choose co"},{ class: "form-control" }) %>
         </span>
      </div>
    </div>
  <div class="col-sm-4" style="top: 0;width: 50%;float: right;">
    <div class="input-group">
      <span class="col-md-8 col-lg-12">
      <%= number_field :min, params[:min], class: 'form-control', placeholder: "Choose price" %>
      </span>
      <span class="col-md-8 col-lg-12">
      <%= number_field :max, params[:max], class: 'form-control', placeholder: "Choose max" %>
      </span>
    </div>
    <div class="input-group" style="float:left;">
      <span class="col-md-8 col-lg-12">
      <%= number_field :minimum, params[:minimum], class: 'form-control', placeholder: "length min" %>
      </span>
      <span class="col-md-8 col-lg-12">
      <%= number_field :maximum, params[:maximum], class: 'form-control', placeholder: "Choose max" %>
      </span>
    </div>
    <div class='input-group date' id='starttimepicker'>
      <%= text_field :start_date, params[:start_date], class: 'form-control', placeholder: "Pick Up Date" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
      </div>
      <div class='input-group date' id='endtimepicker'>
        <%= text_field :end_date, params[:end_date], class: 'form-control', placeholder: "Drop Off Date" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        </div>
        <script>
                $('.date#starttimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

                $('.date#endtimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');
        </script>
    <!-- <%= text_field :start_time, "data-provide" => 'datepicker' %>
    <%= text_field :end_time, "data-provide" => 'datepicker1' %> -->
  </div>
</div>
  <div class="col-lg-6">
<!-- /input-group -->
    New:<span class="check-box-search"><%= check_box_tag :new,params[:new], true%> </span>
    Used:<span class="check-box-search"><%= check_box_tag :used,params[:used], true%> </span>
    Rental:<span class="check-box-search"><%= check_box_tag :rental, params[:rental] %> </span>

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="col-lg-12 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
<br>

<div style="top:450px;">
  <%= render partial: 'search_signed_in', locals: {user: @user} %>
</div>

<div style="position:fixed;bottom:20px;right:30px;">
  <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
</div>

<script>


</script>
