
<div class="center-text" style="min-height:70px;">
  <%= @user.company %>
    <% @user.reviews.average(:rating).to_i.times do %>
        <%= image_tag "Star.png", :size => "25x25" %>
    <% end %>
  <div class="pull-left" style="padding-left:20px;">
   <%= render partial: 'form' %>
  </div>
</div>
<br>


<hr class="style13" style="clear:all;">
<%= form_tag({controller: :users, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div class="row">
       <div class="col-lg-6">
         <div class="input-group">
           <span class="input-group-btn">
             <%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: "form-control" }) %>
            </span>
         </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->

     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
         <%= grouped_collection_select nil, :category_id, Type.all, :categories,
               :name, :id, :name, { include_blank: true },
               { id: 'category-select' , class: "form-control"} %>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
   </div><!-- /.row -->

   <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control' })  %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
      </span>
    </div><!-- /input-group -->
    <span><%= check_box :new, :id => "checkbox"%> </span> new <span><%= check_box :new, :id => "checkbox"%> </span> used
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="col-lg-12">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
<br>
<hr class="style13" style="">


<div style="top:450px;">
  <%= render partial: 'search_signed_in', locals: {user: @user} %>
</div>
