
<div class="center-text">
  <%= @user.company %>
</b>
    <% @user.reviews.average(:rating).to_i.times do %>
          <%= image_tag "Star.png", :size => "25x25" %>
        <% end %>
<h3>
</div>
<div class="create_review well pull-left center-text" style="height:300px;width:100%;">
  <div class="pull-left">
   <h4> Create Review: </h4>
   <%= render partial: 'form' %>
   </div>
   <!-- test on local search -->

   <div class="col-lg-9" style="position:relative;margin-top:-27px;width:100%;">
     <div class="well cat-well" style="margin:10px 0;background:azure; box-shadow: 1px 4px 9px 4px grey; border-color: white;">
     <%= form_tag({controller: :users, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div style="padding-left:15px;width:390px;">
       <%= text_field_tag :keyword, nil, class: 'form-control enter-width'  %><%= submit_tag "search", class: 'search-width form-control ', style: 'position:relative;top:-34px;left:195px;' %>
     </div>
     <div style="padding-left:15px;width:300px;margin-top:-30px;">
       <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
       <div class="">
         <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'max distance (mi.)'} , { :class => 'form-control' })  %>
       </div>
     </div>
     <div class="col-sm-4 types" style="margin-top:20px;">
       <%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: " cat-width form-control" }) %>
       <%= grouped_collection_select nil, :category_id, Type.all, :categories,
             :name, :id, :name, { include_blank: true },
             { id: 'category-select' , class: "cat-width form-control"} %>
     <% end %>
     </div>
   </div>
   </div>
</div>

  <%= render partial: 'boards/search_signed_in' %>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
