<div id="purchaseTokens" style="max-width:400px;width:100%;height:40px;">
<%= form_tag tokens_path do %>
  <thead>
    <tr>
        <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        <% end %>
      </div>
      <article>
        <%= label_tag(:amount, '$2 per listing($20 minimum)') %>
        <%= text_field_tag(:amount)%>
        <%= hidden_field_tag(:stripeToken) %>
        <% @token = true %>
      </article>
      <button class="pull-right btn btn-sort" id='tokenButton'>Purchase</button>
    <% end %>
  </tr>
  </thead>




<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:STRIPE_PUBLISHABLE_KEY] %>',
  locale: 'auto',
  name: 'Boards',
  description: 'Token purchase',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});
$('#tokenButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 20.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $20.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});
$(window).on('popstate', function() {
  handler.close();
});
</script>
