<div style="position:relative;">
  <% if @board && @event %>
<%= form_for [@board, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this @event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>


<div class="field" style="width:100%;">

       <%= hidden_field_tag(:stripeToken) %>

       <input id="dateranges" type="text" name="daterange" class="center-text" style="min-width:200px;value=" />

</div>

<br>
<div id="rent_now" style="display:none;left: calc(50% - 55px);position: relative;">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
      <% if current_user.present? %>
        data-email="<%=current_user.email %>"
      <% end %>
        data-description="A <%= @board.title %> reservation"
        data-amount=" 200 ">
    </script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%f.submit %>
</div>

<% end %>
<% end %>
</div>
<script>
$(document).ready(function() {
var endtime = document.getElementById('dateranges');
var pay_rent = document.getElementById('rent_now')

endtime.onclick = function() {
  if (pay_rent.style.display == 'none') {
     pay_rent.style['display'] = 'block';
  } else {
    pay_rent.style['display'] = 'block';
  }
};
});

</script>
