<div style="position:relative;">
  <% if @board && @event %>
<%= form_for [@board, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this @event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="field col-sm-12" style="width:100%;">
  <div>
     <%= f.label :pick_up_date %>
     <%# f.datetime_select :start_time, :ampm => true, :minute_step => 5 %>
     <div class='input-group date' id='datetimepicker'>
       <input type='text' class="form-control" name="@event[start_time]" id="@event_start_time" <% if @event.start_time %>value="<%= @event.start_time.strftime("%m/%d/%Y %I:%M %p") %><% end %>">
       <span class="input-group-addon">
         <span class="glyphicon glyphicon-calendar"></span>
       </span>
     </div>
   </div>
</div>

<div class="field col-sm-12" style="width:100%;">
     <%= f.label :drop_off_date %>
     <%# f.datetime_select :start_time, :ampm => true, :minute_step => 5 %>
     <div class='input-group date' id='datetimepicker1'>
       <input type='text' class="form-control" name="@event[end_time]" id="@event_end_time" <% if @event.end_time %>value="<%= @event.end_time.strftime("%m/%d/%Y %I:%M %p") %><% end %>">
       <span class="input-group-addon">
         <span class="glyphicon glyphicon-calendar"></span>
       </span>
     </div>
</div>
<br>
<div class="center-text" id="pay_now_rent" style="display:block;">
  <%f.submit %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
      <% if current_user.present? %>
        data-email="<%=current_user.email %>"
      <% end %>
        data-description="A <%= @board.title %> reservation"
        data-amount="<%= @board.price.to_i.ceil * 100 %>">
    </script>
</div>
<% end %>
<% end %>

<script>
function initRentPay(){
  var pay = document.getElementById('pay_now_rent');
  pay.style['display'] = 'block';

};
$(document).ready(function() {
 initRentPay();
});
</script>
</div>
