<% if @board.type.id == 1 %>
<table>
<tbody style="border:1px solid black;">

<td id="sizeFeetE" style="display:block"><%= f.number_field :feet, class: 'btn-width form-control', placeholder: 'feet'%></td>
<td id="sizeInchesE" style="display:block"><%= f.number_field :inches, class: 'btn-width form-control', placeholder: 'Inches' %></td>
<td id="sizeWitdthE" style="display:block"><%= f.number_field :width, class: 'btn-width form-control', placeholder: 'width In.',:step => 0.01 %></td>
<td id="sizeThicknessE" style="display:block"><%= f.number_field :thickness, class: 'btn-width form-control', placeholder: 'thickness/ in.', :step => 0.01 %></td>
<td id="sizeVolumeE" style="display:block"><%= f.number_field :volume, class: 'btn-width form-control', placeholder: 'volume/ L',:step => 0.01 %></td>

</tbody>
</table>
<% else %>
<table>
<thead>
      <th ><%= f.label :size %></th>
      <th ><%= f.label :unit_id, "unit" %> <br></th>
    </thead>
    <tbody>
      <tbody style="border:1px solid black;">
        <%= f.label :length %>
        <td id="sizeLengthE" style="display:block"><%= f.number_field :length, class: 'btn-width form-control', placeholder: 'length', :step => 0.01 %></td>
        <td id="sizeWidthE" style="display:block"><%= f.number_field :width, class: 'btn-width form-control', placeholder: 'width/ in.', :step => 0.01 %></td>
        <td id="sizeUnitsE" style="display:block"><%= f.collection_select( :unit_id, Unit.all, :id, :name, { :include_blank => 'Unit'} , { :class => 'form-control' })  %>
        </tbody>
      </table>
      <tbody>
<% end %>
      <!-- <script>
      $(function(){
        var surfBtnE = document.getElementById('surfBtn');

        var sizeLengthE = document.getElementById('sizeLengthE')
        var sizeFeetE = document.getElementById('sizeFeetE')
        var sizeInchesE = document.getElementById('sizeInchesE')
        var sizeWidthE = document.getElementById('sizeWidthE')
        var sizeThicknessE = document.getElementById('sizeThicknessE')
        var EsizeVolumeE = document.getElementById('sizeVolumeE')
        var sizeUnitsE = document.getElementById('sizeUnitsE')
        surfBtn.onclick = function() {
         if(sizeFeetE.style.display == 'none' ) {
           sizeLengthE.style['display'] = 'none';
           sizeFeetE.style['display'] = 'block';
           sizeInchesE.style['display'] = 'block';
           sizeWidthE.style['display'] = 'block';
           sizeThicknessE.style['display'] = 'block';
           sizeVolumeE.style['display'] = 'block';
           sizeUnitsE.style['display'] = 'none';
         } else {
           sizeLengthE.style['display'] = 'block';
           sizeFeetE.style['display'] = 'none';
           sizeInchesE.style['display'] = 'none';
           sizeWidthE.style['display'] = 'block';
           sizeThicknessE.style['display'] = 'none';
           sizeVolumeE.style['display'] = 'none';
           sizeUnitsE.style['display'] = 'block';
         }
        };
              alert('hi1')
      });
      alert('hi')
      </script> -->
