<% if @board.type.id == 1 %>
<table style="min-width: 100%;">

  <tbody style="border:1px solid black;">
<div class="row">
 <div class="col-md-6">
  <div class="form-group">
    <span id="sizeFeetE" style="display:block" class="center-text"><%= f.label :Feet %>
    <%= f.number_field :feet, class: 'btn-width form-control', placeholder: 'feet', min: 0%>
    </span>
  </div>
 </div>
<div class="col-md-6">
  <div class="form-group">
    <span id="sizeInchesE" style="display:block" class="center-text"><%= f.label :Inches %>
    <%= f.number_field :inches, class: 'btn-width form-control', placeholder: 'Inches', min: 0, max:12 %>
    </span>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <span id="sizeWitdthE" style="display:block" class="center-text"><%= f.label :Width %>
      <%= f.number_field :width, class: 'btn-width form-control', placeholder: 'width In.',:step => 0.01, min: 0 %>
      </span>
    </div>
  </div>
 <div class="col-md-6">
  <div class="form-group">
    <span id="sizeThicknessE" style="display:block" class="center-text"><%= f.label :Thickmess %>
     <%= f.number_field :thickness, class: 'btn-width form-control', placeholder: 'thickness/ in.', :step => 0.01, min: 0 %>
    </span>
  </div>
 </div>
 <div class="col-md-6">
  <div class="form-group">
      <span id="sizeVolumeE" style="display:block" class="center-text"><%= f.label :Volume %>
      <%= f.number_field :volume, class: 'btn-width form-control', placeholder: 'volume/ L',:step => 0.01, min: 0 %>
    </span>
  </div>
 </div>
</div>
</tbody>
</table>
<% else %>
<table>
<thead>
    </thead>
    <tbody>
<tbody style="border:1px solid black;">
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <span id="sizeLengthE" style="display:block">
        <%= f.label :length %>
        <%= f.number_field :length, class: 'btn-width form-control', placeholder: 'length', :step => 0.01 %>
      </span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <span id="sizeWidthE" style="display:block">
        <%= f.label :Width %>
        <%= f.number_field :width, class: 'btn-width form-control', placeholder: 'width/ in.', :step => 0.01 %>
      </span>
    </div>
  </div>
    <div class="col-md-4">
      <div class="form-group">
          <span id="sizeUnitsE" style="display:block">
            <%= f.label :unit_id, "unit" %>
          <%= f.collection_select( :unit_id, Unit.all, :id, :name, { :include_blank => 'Unit'} , { :class => 'form-control' })  %>
        </span>
      </div>
     </div>
     </tbody>
    </table>
   <tbody>
<% end %>
      <!-- <script>
      $(function(){
        var surfBtnE = document.getElementById('surfBtn');

        var sizeLengthE = document.getElementById('sizeLengthE')
        var sizeFeetE = document.getElementById('sizeFeetE')
        var sizeInchesE = document.getElementById('sizeInchesE')
        var sizeWidthE = document.getElementById('sizeWidthE')
        var sizeThicknessE = document.getElementById('sizeThicknessE')
        var EsizeVolumeE = document.getElementById('sizeVolumeE')
        var sizeUnitsE = document.getElementById('sizeUnitsE')
        surfBtn.onclick = function() {
         if(sizeFeetE.style.display == 'none' ) {
           sizeLengthE.style['display'] = 'none';
           sizeFeetE.style['display'] = 'block';
           sizeInchesE.style['display'] = 'block';
           sizeWidthE.style['display'] = 'block';
           sizeThicknessE.style['display'] = 'block';
           sizeVolumeE.style['display'] = 'block';
           sizeUnitsE.style['display'] = 'none';
         } else {
           sizeLengthE.style['display'] = 'block';
           sizeFeetE.style['display'] = 'none';
           sizeInchesE.style['display'] = 'none';
           sizeWidthE.style['display'] = 'block';
           sizeThicknessE.style['display'] = 'none';
           sizeVolumeE.style['display'] = 'none';
           sizeUnitsE.style['display'] = 'block';
         }
        };
              alert('hi1')
      });
      alert('hi')
      </script> -->
