<% if user_signed_in?%>
<div class="jumbotron well" id="msg-area">
  <h2><%= current_user.tokens.to_s + " tokens " %> </h2>
    <div class="btn btn-sort" style="link-style:none;"><%= link_to "purchase tokens", new_token_path %></div>
</div>

<!-- chat -->


<div class="col-md-3 col-sm-4 pull-right">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">User list</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
         <% end %>
      </ul>
    </div>
  </div>
  <div class="" id="" style="min-width:300px;">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
</div>

</div>
<!-- !chattttt -->

<div class="pull-right" style="width:163px;right:0px;top:35px;position:absolute;margin-top:20px;">
  <% if  current_user && current_user.provider != nil %>
    <h3 class="btn btn-sort"><%= link_to 'Add listing', new_board_path %></h3>
 <% end %>
</div>
<div class="pull-right" style="width:163px;right:20px;top:15px;position:absolute;margin-top:50px;">
  <% if !user_signed_in? %>
    <h3 class="btn-sort"><%= link_to 'Add listing', new_user_registration_path %></h3>
    <div class="facebook-btn" style="color:white;position:absolute;right:110%; top:20px;">
      <%= link_to 'Facebook log in', user_facebook_omniauth_authorize_path, class: 'btn-sort btn' %>
      </div>
 <% end %>
</div>
<div class="pull-right" style="width:210px;right:-50px;40px;top:30px;position:absolute;margin-top:50px;">
  <% if user_signed_in?  && current_user.provider == nil %>
    <%= link_to 'connect to post', user_stripe_connect_omniauth_authorize_path, class: 'btn-sort btn', style: 'color:black' %>
 <% end %>
</div>

<!-- nav desktop -->
<div class="dash-nav-desktop btn-group-vertical pull-left" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="btn-pending">pending</button>
  <button type="button" class="btn btn-default" id="btn-active">active</button>
  <button type="button" class="btn btn-default" id="btn-inventory">inventory</button>
  <button type="button" class="btn btn-default" id="btn-shipped">shipped</button>
</div>
<!--!nav desktop  -->

<!-- nav mobile  starts at < 835px-->
<div class="dash-nav-mobile btn-group-vertical pull-left" role="group" aria-label="...">
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Dropdown
       <span class="caret"></span>
     </button>
     <ul class="dropdown-menu"style="width:100%;">
       <li><button style="width:100%;" type="button" class="btn btn-default" id="btn-pending-m">pending</button></li>
       <li><button style="width:100%;" type="button" class="btn btn-default" id="btn-active-m">active</button></li>
       <li><button style="width:100%;" type="button" class="btn btn-default" id="btn-inventory-m">inventory</button></li>
       <li><button style="width:100%;" type="button" class="btn btn-default" id="btn-shipped-m">shipped</button></li>
     </ul>
   </div>
</div>
<!-- !nav mobile -->

<div class="dash-data">
<!-- Need to finish payment -->
<div class="col-md-12 well center-text" id="pending" style="background:#fff !important;">
  <%= render partial: 'pending_boards' %>
</div>
<div class="col-md-12 well center-text" id="active" style="background:#fff !important;">
  <%= render partial: 'active_boards' %>
</div>

<div class="col-md-12 well center-text" id="inventory" style="background:#fff !important;">
  <%= render partial: 'inventory_boards' %>
</div>

<div class="col-md-12 well center-text" id="shipped" style="background:#fff !important;">
  <%= render partial: 'shipped_boards' %>
</div>
</div>
  <% else %>
  <h2 class="center-text"> login to continue</h2>
 <% end %>

 <script>
 $(document).ready(function() {
   var activeBtn = document.getElementById('btn-active');
   var pendingBtn = document.getElementById('btn-pending');
   var inventoryBtn = document.getElementById('btn-inventory');
   var shippedBtn = document.getElementById('btn-shipped');
   var activeBtnM = document.getElementById('btn-active-m');
   var pendingBtnM = document.getElementById('btn-pending-m');
   var inventoryBtnM = document.getElementById('btn-inventory-m');
   var shippedBtnM = document.getElementById('btn-shipped-m');
   var pendingPG = document.getElementById('pending');
   var activePG = document.getElementById('active');
   var inventoryPG = document.getElementById('inventory');
   var shippedPG = document.getElementById('shipped');
   pendingPG.style['display'] = 'block';
   activePG.style['display'] = 'none';
   inventoryPG.style['display'] = 'none';
   shippedPG.style['display'] = 'none';

  activeBtn.onclick = function() {
      activePG.style['display'] = 'block';
      pendingPG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
   };
   pendingBtn.onclick = function() {
      pendingPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
   };
   inventoryBtn.onclick = function() {
      inventoryPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
   };
   shippedBtn.onclick = function() {
      shippedPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
   };
  //mobile
  activeBtnM.onclick = function() {
     activePG.style['display'] = 'block';
     pendingPG.style['display'] = 'none';
     inventoryPG.style['display'] = 'none';
     shippedPG.style['display'] = 'none';
  };
  pendingBtnM.onclick = function() {
     pendingPG.style['display'] = 'block';
     activePG.style['display'] = 'none';
     inventoryPG.style['display'] = 'none';
     shippedPG.style['display'] = 'none';
  };
  inventoryBtnM.onclick = function() {
     inventoryPG.style['display'] = 'block';
     activePG.style['display'] = 'none';
     pendingPG.style['display'] = 'none';
     shippedPG.style['display'] = 'none';
  };
  shippedBtnM.onclick = function() {
     shippedPG.style['display'] = 'block';
     activePG.style['display'] = 'none';
     inventoryPG.style['display'] = 'none';
     pendingPG.style['display'] = 'none';
  };
 });
 </script>
<!-- modal -->
