<div  id="results">
  <div class="top-dash">
  <div class="row" id="pending-table">
    <% if @active_boards.length == 0 %>
      <%= render partial: 'boards/none' %>
    <% end %>
    <thead>
      <td>
        <div class="center-text" id="active_boards">
        <%= paginate @active_boards, remote: true, window: 1 %>
        </div>
        <tr>
          <th>
            Active:
            </th>
          <td class="filtering center-text">
            <ti> <strong> Sort by: </strong> </ti>
           </ti>
            <div  <i style="display:inline;" class="btn btn-sort">  <%= sortable "created_at", "Date" %></i></div>
           </ti>
          </td>
        </tr>
      </td>
    </thead>
<style>
</style>
    <div class="col-md-12 table-scrollable ">
      <table style="" class="table table-bordered table-striped table-hover" id="results">
        <thead>
          <tr>
            <th>image</th>
            <th><i style="display:inline;"> <%= sortable "title" %></th>
            <th><i style="display:inline;"> <%= sortable "upc", "UPC" %></th>
            <th><i style="display:inline;"> <%= sortable "inventory" %></i></th>
            <th><i style="display:inline;"> <%= sortable "price", "Price" %></i></th>
            <th><i style="display:inline;"> <%= sortable "sale_price", "Board Price" %></i></th>
            <th><i style="display:inline;"> <%= sortable "cost" %></i></th>
            <th><i style="display:inline;"> <%= sortable "margin" %></i></th>
            <th><strong>Type</strong></th>
            <th><strong>Accessory</strong></th>
          </tr>
        </thead>

        <tbody>
        <% @active_boards.each do |board| %>
            <tr>
              <td class= "desktop-items-img" style="margin:0px;"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 80, 80), board, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td class=" mobile-items-img" style="margin:0px;overflow-x:hidden;"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 40, 40), board, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td><%= link_to board.title.truncate(13), board, target: :_blank %>
                <br>
              <%= link_to "Edit", edit_board_path(board), class: 'center-text btn-btn-sm btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#editModal" } %>
              </td>
              <td><%= board.upc %></td>
              <td><%= board.inventory %></td>
              <td><%= format_amount(board.price * 100) %></td>
              <td><%= format_amount(board.sale_price * 100) %></td>
              <td><%= format_amount(board.cost * 100)  %></td>
              <td><%= board.margin  %>%</td>
              <td class="text-center">
                <small><%=board.category.name %> </small>
              </td>
            <td class="text-center">
              <% board_accessories = Accessory.where(board_id: board) %>
              <% board_accessories.each_with_index do |a, index|  %>
              <% if index >=1 %>
                :
                <% end %>
              <%= link_to a.title, a, remote: true, data: { toggle: "modal", target: "#accModal" } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--  -->

    <tbody >
      <td>
        <div class="center-text pagination" id="active_boards">
        <%= paginate @active_boards, remote: true, window: 1 %>
        </div>
      </td>
    </tbody>
  </table>
</div>
</div>

<div>
<%= form_tag({controller: :boards, action: :search_dash}, {method: :get, remote: true}) do  %>
<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
      <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
            :name, :id, :name, {prompt: "Select type" },
            { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
 <% end %>
</div>
