<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions  text-center">

<% if @board.pending == false %>
  <div class="well">
    <%= f.hidden_field :arrived , value: false %> List Board
    <div class="actions">
      <%= f.submit 'submit', class:'btn btn-success' %>
    </div>
    <% elsif @board.pending == true && @board.arrived == false %>
    <%= f.hidden_field :pending, value: false %>  Cancel Sale
    <div class="actions">
     <%= f.submit 'cancel', class:'btn btn-danger' %>
    </div>
    <% else %>
      <%= f.hidden_field :pending, value: false %>  Cancel Sale
      <div class="actions">
       <%= f.submit 'cancel', class:'btn btn-danger' %>
      </div>
    <% end %>
</div>





<% end %>
