
  <%= form_tag new_charge_path, id: 'chargeForm' do %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag :amount, value: @board.price.round, :id => 'amount'%>
    <%= hidden_field_tag :item, value: @board.title %>
    <%= hidden_field_tag :board_id, value: @board.id %>
    <%= hidden_field_tag :owner_id, value: @board.user_id %>
    <%= hidden_field_tag :object_id, value: @board.id %>
    <button id="customButton" class="btn btn-large btn-primary">Buy Now</button>

    <script>
      var handler = StripeCheckout.configure({
        key: '<%= ENV["stripe_publishable_key"] %>',
        image: '/assets/star.png',
        token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("chargeForm").submit();
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'My Company',
          description: 'Product ($60.00)',
          amount: 60*100,
          shippingAddress: true
        });
        e.preventDefault();
      });
    </script>
  <% end %>
