<table class="center-text" style="">
      <thead>
        <th class="center-text single_table top" style="margin-left:20%;min-width:30%;max-width:30%;padding: 0px 4px;">Brand</th>
        <th class="center-text single_table top" style="nax-width:30%;padding: 0px 4px;"> Dimensions</th>

          <th class="center-text single_table top" style="width:30%;padding: 0px 4px;">Condition</th>
      </thead>
      <tbody>
        <td class="center-text single_table" style="max-width:55%;padding: 0px 4px;">
          <%= @board.make %>
        </td>
        <% if @board.surfable? && @board.size %>
          <td class="center-text single_table" style="min-width:150px;max-width:35%;padding: 0px 4px;">
            <%= @board.size.pretty_surf %>
          </td>
           <td class="center-text single_table" style="width:30%;padding: 0px 4px;">
             <% if @board.used %>
              Used
            <% else %>
              New
           </td>
          <% end %>
        <% else %>
          <td class="center-text single_table" style="max-width: 35%;padding: 0px 4px;">
            <% if @board.size %>
           <%= @board.size.pretty_dimensions %>
           <% end %>
          </td>
          <td class="center-text single_table" style="max-width: 35%;padding: 0px 4px;">
            <% if @board.used == true %>
               Used
               <% else %>
               New
            <% end %>
          </td>
        <% end %>
      </tbody>
      <% if @board.surfable? %>
        <thead>
          <th class="single_table center-text top" style="padding:top:10px;nax-width:15%;padding: 0px 4px;">Tail</th>
          <th class="single_table center-text top" style="width:30%;padding: 0px 4px;">Fin</th>
          <th class="single_table center-text top" style="width:30%;padding: 0px 4px;">Volume</th>
        </thead>
        <tbody >
          <td class="center-text single_table" style="width:30%;padding: 0px 4px;">
            <% if @board.tail_id %>
              <%= @board.tail.name%>
            <% end %>
            </td>
          <td class="single_table center-text" style="width:30%;padding: 0px 4px;">
           <% if @board.fin.name.present? %>
              <%= @board.fin.name%>
            <% end %>
          </td>
          <td class="single_table center-text" style="width:30%;padding: 0px 4px;">
            <% if @board.size %>
               <%= @board.size.volume%>
             <% end%>
          </td>
        <% end %>
      </tbody>
    </table>
