<% if ( current_user && current_user.provider != nil ) && (@board.for_sale == true) %>
<%= form_for(board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @board.user == current_user %>

  <div class="actions  text-center">
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="well">
      <div class="well">
       <div  class="form-group">
        <%= f.label :types %>
        <%= f.collection_select :type_id, Type.all, :id, :name, class: 'form-control' %>
        <%= f.label :category_id, "category" %> <br>
        <%= f.grouped_collection_select :category_id, Type.order(:name),:categories, :name, :id, :name, include_blank: true, class: 'form-control' %>
      <br>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
       </div>
       <div class="form-group" style="display:flex;">
         <%= f.label :description %>
         <%= f.text_area :description, class: 'form-control' %>
       </div>
</div>
      <div class="well-sm">
      <br>
        <div class="form-group">
          <%= f.label :make %>
          <%= f.text_field :make, class: 'btn-width form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :used %><strong>: Years</strong><br/>
          <%= f.check_box :used, class: 'form-control' %> <br />
       </div>

        <div class="form-group">
          <%= f.label :length %><strong> / height of board (inches)</strong><br/>
         <%= f.number_field :length %>
        </div>

        <div class="form-group">
          <%= f.label :width %> (inches)<br/>
         <%= f.number_field :width %>
        </div>
        <div class="form-group">
          <%= f.label :volume %><strong>: if applies </strong><br/>
         <%= f.number_field :volume %>
        </div>

    <div class="form-group center-text" style="display:flex;">
      <br>
      <strong> Includes bindings/stomp-pad/trucks</strong><br/>
      <%= f.check_box :footgear, class: 'form-control' %> <br />
    </div>

  </div>

    <div class="well-sm">
  <strong>  </strong>

     <div class="field">
      <%= f.label :zipcode %><br />
      <%= f.number_field :zipcode %>
     </div>
   </div>

   <div class="form-group">
     <p> price per day <p>
     <%= f.label :price %><br/>
    <%= f.number_field :price, class: 'btn-width form-control' %>
   </div>
   </div>

  <div>
      <%= f.label :images_files %><br>
      <btn class="center-text" style="position:absolute;left:calc(50% - 90px);"><%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %></btn>
  </div>
<br>
<hr>

<%= f.fields_for :images do |image_fields| %>
<div class="col-sm-1" style="min-height:250px;">
<%= image_fields.check_box :_destroy %>
<%= image_fields.label :remove %>
<br>
<%= attachment_image_tag(image_fields.object, :file, :fill, 150, 150, format: "jpg") %>
</div>
<% end %>


  <div style="margin-top:220px;" class="actions">
    <%= f.submit "update", class: "btn btn-info" %>
  </div>
<% end %>
<% end %>

<% end %>
