<% if boards.count >= 1%>
<div class="swiper-container">
<div class="swiper-wrapper">
 <%  boards.each do |board| %>
     <div class="swiper-slide">
 <tbody style="float:right;min-width:180px;max-height:195px;min-height:200px;max-height:200px;position:relative;padding:0;background-color:white;min-width:25%;">
<tr class="" style="">
   <td class="vendor-link" style="cursor:pointer;">
<div class="center-text">
  <%= board.title %>
  <div class="boardImage" id="surfModalBtn" style="padding: 0 9px;cursor:pointer">
    <!-- <%= link_to  image_tag("surf_girl.jpg", width: 130), board, remote: true, data: { toggle: "modal", target: "#surfModal" }%> -->
    <%= link_to attachment_image_tag(board.images.last, :file, :fill, 130, 130), board, remote: true, data: { toggle: "modal", target: "#surfModal" }%>
    <span id='window'></span>
  </div>
    <span class="center-text"><%= board.make %> </span>
    <br>
    <span class="center-text"><%= board.category.name %>  <strong>$<%= board.price %>.00</strong></span>
  </td>
</div>
</tr>
</tbody>
</div>
<% end %>
<% end %>

 </div>
 <!-- Add Pagination -->
 <div class="swiper-button-next swiper-button-white"></div>
 <div class="swiper-button-prev swiper-button-white"></div>

 <div class="swiper-pagination"></div>
</div>
<script>
$(document).ready(function(){
  var w = window.innerWidth
   document.documentElement.clientWidth
    document.body.clientWidth;
    if (w <= 700 && w >= 551) {
      var slides = 3
    } else if (w <= 550){
      var slides = 2
    } else {
      var slides = 4
    };

  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: slides,
    nextButton: '.swiper-button-next',
     prevButton: '.swiper-button-prev',
    paginationClickable: true,
    spaceBetween: 30,
    freeMode: true
});
})

</script>
