<% if boards.count >= 1%>
<div class="swiper-container">
<div class="swiper-wrapper">
 <%  boards.each do |board| %>
     <div class="swiper-slide">

 <tbody style="float:right;min-width:180px;max-height:195px;min-height:200px;max-height:200px;position:relative;padding:0;background-color:white;min-width:25%;">
<tr class="" style="">
   <td class="vendor-link" style="cursor:pointer;">
<div class="center-text">
  <%= board.title %>
  <div class="boardImage" id="surfModalBtn" style="padding: 0 9px;cursor:pointer">
    <!-- <%= link_to  image_tag("surf_girl.jpg", width: 130), board, remote: true, data: { toggle: "modal", target: "#surfModal" }%> -->
    <%= link_to attachment_image_tag(board.images.last, :file, :fill, 130, 130), board, remote: true, data: { toggle: "modal", target: "#surfModal" }%>
  </div>
    <span class="center-text"><%= board.make %> </span>
    <br>
    <span class="center-text"><%= board.category.name %>  <strong>$<%= board.price %>.00</strong></span>
  </td>
</div>
</tr>
</tbody>
</div>
<% end %>
<% end %>

 </div>
 <!-- Add Pagination -->
 <div class="swiper-pagination"></div>
</div>
