<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions  text-center">



<% if @board.for_sale === false && @board.pending == false %>
  <div class="actions">
    <%= f.hidden_field :pending , value: false %>
    <%= f.hidden_field :for_sale , value: true %>  List Board
    <%= f.submit 'submit', class:'btn btn-success' %>
  </div>
  <% elsif @board.for_sale == false && @board.pending == true && @board.user_id == current_user.id %>
  <%= f.hidden_field :pending, value: false %>  Cancel Sale
  <div class="actions">
   <%= f.hidden_field :for_sale , value: false %>
   <%= f.submit 'cancel', class:'btn btn-danger' %>
  </div>
  <% elsif @board.for_sale == true && @board.pending == false %>
  <%= f.hidden_field :pending, value: false %>  Delist Board
  <div class="actions">
   <%= f.hidden_field :for_sale , value: false %>
   <%= f.submit 'cancel', class:'btn btn-danger' %>
  <% else %>
  uh oh - forsale
<% end %>


<% end %>
