<div id="boardForm" class="panel panel-default topspace">
  <div class="panel-body">
<%= form_for(board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% if current_user.stripe_account != nil %>
<div id="newBoard" class="center-text" style="height:100%;max-width:85%;margin-left: 10%;margin-right: 5%;">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'btn-width form-control input-lg', id: 'boardTitle' %>
    </div>
  </div>
</div>

  <div class="row image-box center-text" id="images">
    <div class="progress" id='progress-bar' style='display:none;'>
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;background-color:#b2b2f1;">
        <span class="sr-only" id='progress-bar-text'></span>
      </div>

    </div>
    <%= f.label :add_images %><br>
    <btn class="center-text" style="position:absolute;left:calc(50% - 90px);">

    <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true, id: 'file-input', type: 'file'  %></btn>

    <div id="image"></div>
<hr>
<div style="max-height:100px;overflow-x:scroll;float:right;" id="preview"></div>
  </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :make, "Brand"%>
          <%= f.text_field :make, class: "form-control input-lg", placeholder: "Enter Brand", id: 'boardMake' %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
<label> Category </label>
          <%= f.grouped_collection_select :category_id, Type.order(:name), :categories, :name, :id , :name,   { :include_blank => 'Choose Category'} , { :class => 'form-control input-lg', id: 'boardCat' } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="surfBtn" style="width: 50%;position: relative;" class="btn btn-success">Surf Dimensions</div>
      <div id="sizeForm" style="display:block;width:100%;">
        <%= f.fields_for :size do |builder| %>
          <%= render "sizes/form", :f => builder %>
        <% end %>
        <div class="row" id="surf_box">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :tail_id, "Tail Type" %>
              <%=  f.collection_select( :tail_id, Tail.all, :id, :name,
                { :include_blank => 'Tail'} , { :class => 'form-control input-lg', id: 'boardTail' }) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Fin Type</label>
              <%=  f.collection_select :fin_id, Fin.all, :id , :name,
                { :include_blank => 'Fin'} , { class: "form-control input-lg", id:'boardFin' } %>
            </div>
          </div>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>inventory:</label>
          <%= f.number_field :inventory, min: 0, value: '', class: 'btn-width form-control input-lg', id: 'boardInventory' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <label>Used:</label>
        <%= f.check_box :used, class: 'form-control input-lg' %>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Cost:</label>
        $<%= f.number_field :cost, :step => 0.01, min: 1, class: 'form-control input-lg', id: 'boardCost' %> <br />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Margin:</label>
          %<%= f.number_field :margin, min: 0, class: 'btn-width form-control input-lg', id: 'boardMargin' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Sale Price:</label>
        $<%= f.number_field :board_price,:step => 0.01, min: 0,class: 'input-lg btn-width form-control', id: 'boardPrice' %>
      </div>
      <small>Fee:<span id="boardFee" style="position:relative;"> </span></small>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :company, :value => current_user.company ? current_user.company : nil %>
    <%= f.hidden_field :list_time, :value => Time.now %>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="center-text form-group">
        <%= f.label :upc %>:
        <%= f.text_field :upc, class: 'form-control' %>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Shippable:</label>
      <%= f.check_box :shippable, class: 'form-control input-sm', id:'boardShips' %>
    </div>
  </div>
  <div class="col-md-4" id ="boardRate" style="display:none;">
    <div class="form-group">
      <label>Flat Rate: $</label>
        <%= f.number_field :rate, min: 0, class: 'btn-width form-control input-md' %>
    </div>
  </div>
    <div class="row">
      <div class="col-md-11">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control', placeholder: "Enter Description", style: 'min-height:80px;min-width:100%;' , id: 'boardDescription'%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Add accessory to listing</label>
          <%= f.check_box :footgear, id: 'addAccessory' ,class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="">
        <div class="form-group">
          <div id="accessoryForm" style="margin-bottom:50px;display:none;position:relative;min-height:400px;min-width:100%;">
            <hr class="style14">
            <div id="AccBtn" class="center-text" style="position:relative;bottom:20px;">
              <%= f.submit 'Create', class: 'form-control', id:'submitBoard' ,style: 'background-color:darkslategrey;' %>
            </div>
            <div>
              <%= f.fields_for :accessories do |builder| %>
                <%= render "accessories/form", :f => builder %>
              <% end %>
              <div class="col-md-3">
                <div class="form-group">
                  <label>new accessory</label>
                  <span id="extraAccessory" class="btn btn-primary">eXtra Acceessory </span>
                </div>
              </div>
            <hr>
            </div>
         </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="center-text" id="createBTN" style="position: absolute;bottom: -40px;width: 100%;">
            <%= f.submit 'Create', class: 'form-control', style: 'background-color:lightgrey;' %>
          </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="">
        <div class="form-group">
          <div id="newaccessoryForm" style="margin-bottom:50px;display:none;position:relative;min-height:400px;min-width:100%;">
            <hr class="style14">
            <div id="newAccBtn" class="center-text" style="position:relative;bottom:20px;">
              <%= f.submit 'Create', class: 'form-control', style: 'background-color:lightgrey;' %>
            </div>
            <div>
              <%= f.fields_for :accessories do |builder| %>
                <%= render "accessories/form", :f => builder %>
              <% end %>
            <hr>
            </div>
         </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="center-text" style="display:none;position: absolute;bottom: -40px;width: 100%;">
            <%= f.submit 'Create', class: 'form-control', style: 'background-color:darkslategrey;border: none;' %>
          </div>
      </div>
    </div>
    </div>
<!-- section -->

  <% end %>
  <% end %>

  <script>

  $(function(){
    var checkAccessory = document.getElementById('addAccessory');
    var extraAccessory = document.getElementById('extraAccessory')
    var formAccessory = document.getElementById('accessoryForm')
    var newformAccessory = document.getElementById('newaccessoryForm')
    var saveAccessory = document.getElementById('AccBtn')
    var newsaveAccessory = document.getElementById('newAccBtn')

    checkAccessory.onclick = function() {
     if(this.checked) {
       formAccessory.style['display'] = 'block';
       saveAccessory.style['display'] = 'none';
     } else {
       formAccessory.style['display'] = 'none';
       saveAccessory.style['display'] = 'block';

     }
    };


    extraAccessory.onclick = function() {
      if (newformAccessory.style.display == 'none') {
       newformAccessory.style['display'] = 'block';
       newsaveAccessory.style['display'] = 'none';
       createBtn.style['position'] = 'absolute';
       createBtn.style['bottom'] = '0px';
       extraAccessory.innerHTML = 'Close Extra Accessory'
          } else {
       newformAccessory.style['display'] = 'none';
       newsaveAccessory.style['display'] = 'block';
       createBtn.style['position'] = 'nil';
       createBtn.style['bottom'] = 'nil';
     }
    };

  });
  $(function(){
    var surfBtn = document.getElementById('surfBtn');

    var sizeLength = document.getElementById('sizeLength')
    var sizeFeet = document.getElementById('sizeFeet')
    var sizeInches = document.getElementById('sizeInches')
    var sizeWidth = document.getElementById('sizeWidth')
    var sizeThickness = document.getElementById('sizeThickness')
    var sizeVolume = document.getElementById('sizeVolume')
    var sizeUnits = document.getElementById('sizeUnits')
    var surfBox = document.getElementById('surf_box')
      surfBox.style['display'] = 'none'

    surfBtn.onclick = function() {
     if(sizeFeet.style.display == 'none' ) {
       sizeLength.style['display'] = 'none';
       sizeFeet.style['display'] = 'block';
       sizeInches.style['display'] = 'block';
       sizeWidth.style['display'] = 'block';
       sizeThickness.style['display'] = 'block';
       sizeVolume.style['display'] = 'block';
       sizeUnits.style['display'] = 'none';
       surfBox.style['display'] = 'block';
       surfBtn.innerHTML = 'Dimensions';
     } else {
       sizeLength.style['display'] = 'block';
       sizeFeet.style['display'] = 'none';
       sizeInches.style['display'] = 'none';
       sizeWidth.style['display'] = 'block';
       sizeThickness.style['display'] = 'none';
       sizeVolume.style['display'] = 'none';
       sizeUnits.style['display'] = 'block';
       surfBox.style['display'] = 'none';
       surfBtn.innerHTML = 'Surf Dimensions';

     }
    };
  });

  function previewImages() {

var preview = document.querySelector('#preview');

if (this.files) {
  [].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

  // Make sure `file.name` matches our extensions criteria
  if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
  } // else...

  var reader = new FileReader();

  reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 100;
    image.title  = file.name;
    image.src    = this.result;
    preview.appendChild(image);
  }, false);

  reader.readAsDataURL(file);

}

}

document.querySelector('#file-input').addEventListener("change", previewImages, false);

  </script>
  <script>

  $('#createBTN').on('click', function(){
    var boardTitle = document.getElementById('boardTitle');
    var boardMake = document.getElementById('boardMake');
    var boardCat = document.getElementById('boardCat');
    var boardInventory = document.getElementById('boardInventory');
    var boardPrice = document.getElementById('boardPrice');
    var boardDescription = document.getElementById('boardDescription');
    var missingItems = 0;


   if($('#boardTitle').val() == ""  )
    {
     boardTitle.style['background-color'] = 'beige';
    } else {
     boardTitle.style['background-color'] = 'white';
    }
   if($('#boardMake').val() == ""  )
    {
      boardMake.style['background-color'] = 'beige';
    } else {
      boardMake.style['background-color'] = 'white';
    }
    if($('#boardCat').val() == ""  )
     {
       boardCat.style['background-color'] = 'beige';
     } else {
       boardCat.style['background-color'] = 'white';
     }
     if($('#boardInventory').val() == ""  )
      {
        boardInventory.style['background-color'] = 'beige';
      } else {
        boardInventory.style['background-color'] = 'white';
      }
      if($('#boardPrice').val() == ""  )
       {
         boardPrice.style['background-color'] = 'beige';
       } else {
         boardPrice.style['background-color'] = 'white';
       }
       if($('#boardDescription').val() == ""  )
        {
          boardDescription.style['background-color'] = 'beige';

        } else {
          boardDescription.style['background-color'] = 'white';
        }


  // submit disable
      $('#boardForm').submit(function()
      {
        // $('#accPrice').val() == ""
        if( boardTitle.style['background-color'] == 'beige' || boardMake.style['background-color'] == 'beige' || boardCat.style['background-color'] == 'beige' || boardInventory.style['background-color'] == 'beige' || boardPrice.style['background-color'] == 'beige' ||
            boardDescription.style['background-color'] == 'beige' )
         {
            return false;
         }
      });
  });

//

  function previewImages() {

var preview = document.querySelector('#preview-acc');

if (this.files) {
  [].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

  // Make sure `file.name` matches our extensions criteria
  if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
  } // else...

  var reader = new FileReader();

  reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 100;
    image.width = 100;
    image.title  = file.name;
    image.src    = this.result;
    preview.appendChild(image);
  }, false);
  reader.readAsDataURL(file);
}

}

document.querySelector('#file-input-acc').addEventListener("change", previewImages, false);

$(document).on('change', '#boardPrice', function() {
  var priceVal = $("#boardPrice").get(0).value;
  var cost = $('#boardCost').get(0).value;
  if (cost != ""){
    var marginc = parseFloat(priceVal) - cost
    var marginCalc = Math.floor(parseFloat(marginc) / priceVal * (100))
    $('#boardMargin').val(marginCalc)
  }
  var fee =  0.055 + 0.020
  var boardFee = document.getElementById('boardFee');
  priceVal = Math.ceil((priceVal *  fee)* 100 )/100;
  boardFee.innerHTML = "$" + priceVal
});

$(document).on('change', '#boardMargin', function() {
  var margin1 = $("#boardMargin").get(0).value
  var cost = $('#boardCost').get(0).value
 if ( cost  != ""){
  var margin = parseFloat(margin1) / 100
  var price = 1 - parseFloat(margin)
  var price  = Math.ceil( cost / price )
  var fee = 0.075
  priceVal = Math.ceil((price *  fee)* 100 )/100;
  boardFee.innerHTML = "$" + priceVal
  $('#boardPrice').val(price)
 }
});
$('#boardShips').on('click', function(){
  var rate = document.getElementById('boardRate');
  if (this.checked) {
    rate.style['display'] = 'block';
  } else {
    rate.style['display'] = 'none'
  }
});


</script>

</div>
</div>
