
<%= form_for(board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--  -->
<div class="title center-text">
<%= f.label :title %>
  <td><%= f.text_field :title, class: 'btn-width form-control' %></td>
</div>

<div class="image-box center-text" id="images">
  <%= f.label :add_images %><br>
  <btn class="center-text" style="position:absolute;left:calc(50% - 90px);"><%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %></btn>


<%= f.fields_for :images do |image_fields| %>
<div class="col-sm-1" style="position:absolute;top:250px;">
  <%= image_fields.check_box :_destroy %>
  <%= image_fields.label :remove %>
  <br>
  <%= attachment_image_tag(image_fields.object, :file, :fill, 150, 150, format: "jpg") %>
</div>
<% end %>
</div>


<div class="dimensions" style="width:100%;min-height:150px;">
  <table class="" style="position:absolute;top:400px;">
    <thead style="max-width:100%;">
      <th ><%= f.label :make %></th>
      <th ><%= f.label :category_id, "category" %> <br></th>
        <th class="col-sm-3"><%= f.label :zipcode %><br /></th>
    </thead>
    <tbody>
      <tbody>
        <td ><%= f.text_field :make, class: 'btn-width form-control' %></td>
        <td ><%= f.grouped_collection_select :category_id, Type.order(:name),:categories, :name, :id, :name, include_blank: true %></td>
        <td class="col-sm-3"><%= f.number_field :zipcode, class: 'form-control' %></td>
      <thead>
        <th class="col-sm-3"><%= f.label :width %> (inches)<br/></th>
        <th class="col-sm-3"><%= f.label :volume %><strong>: if applies </strong><br/></strong></th>

        <th ><%= f.label :length %><strong> / height of board (inches)</strong><br/></strong></th>

      </thead>
      <tbody>
        <td class="col-sm-3"><%= f.number_field :width, class: 'form-control' %></td>
        <td class="col-sm-3"><%= f.number_field :volume, class: 'form-control' %></td>
        <td ><%= f.number_field :length, class: 'form-control' %></td>

      </tbody>
      <th class="col-sm-3"><%= f.label :accessory %></th>
      <th class="col-sm-3"><%= f.label :used %></th>
      <thead>
      </thead>
      <tbody>
        <td class="col-sm-3"><%= f.check_box :footgear, class: 'form-control' %> <br /></td>
        <td class="col-sm-3"><%= f.check_box :used, class: 'form-control' %> <br /></td>

      </tbody>
</table>
</div>
<hr class="style14">
<!-- section -->

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', style: 'min-height:80px;'%>


<%= f.label :price %><br/>
<%= f.number_field :price, class: 'btn-width form-control' %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<!--  -->



  <div style="margin-top:20px;" class="actions">
    <%= f.submit "update", class: "btn btn-info" %>
  </div>
<% end %>
<% end %>
