
<%= form_for(board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% if current_user.stripe_account != nil %>
<div id="newBoard" class="center-text" style="height:100%;width:100%;">
        <div class="row center-text">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :title %>
                <td><%= f.text_field :title, class: 'btn-width form-control input-lg' %></td>
            </div>
          </div>
        </div>
        <div class="row image-box center-text" id="images">
          <div class="progress" id='progress-bar' style='display:none;'>
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;background-color:#b2b2f1;">
              <span class="sr-only" id='progress-bar-text'></span>
            </div>

          </div>
          <%= f.label :add_images %><br>
          <btn class="center-text" style="position:absolute;left:calc(50% - 90px);">

          <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %></btn>

          <div id="image"></div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <div class="dimensions" style="">
                <table class="" style="">
                  <thead style="max-width:100%;">
                    <th ><%= f.label :make %></th>
                    <th ><%= f.label :category_id, "category" %> <br></th>
                      <th class="col-sm-3"><%= f.label :zipcode %><br /></th>
                  </thead>
                  <tbody>
                    <tbody>
                      <td ><%= f.text_field :make, class: 'btn-width form-control' %></td>
                      <td><%= f.grouped_collection_select :category_id, Type.order(:name),:categories, :name, :id, :name, include_blank: true %></td>
                      <td id="tail"><%= f.collection_select( :tail_id, Tail.all, :id, :name,
                        { :include_blank => 'Tail'} , { :class => 'form-control' })  %></td>
                      <%= f.collection_select :fin_id, Fin.all, :id, :name,
                        { :include_blank => 'Tail'} , { :class => 'form-control' } %>


                      <td><%= f.number_field :zipcode, class: 'form-control' %></td>
                    <thead>
                      <th ><%= f.label :width %> (inches)<br/></th>
                      <th ><%= f.label :volume %><strong>: if applies </strong><br/></strong></th>
                      <th ><%= f.label :length %><strong> / height of board (inches)</strong><br/></strong></th>
                    </thead>
                    <tbody>
                      <div id="sizeForm" style="display:block;">
                        <div id="surfBtn" class="btn btn-primary">Surf Dimensions</div>
                        <%= f.fields_for :size do |builder| %>
                          <%= render "sizes/form", :f => builder %>
                        <% end %>
                      <hr>
                      </div>
                    </tbody>
                    <thead>
                    <th ><%= f.label :used %></th>
                    <th ><%= f.label :inventory %></th>
                    <th ><%= f.label :accessory %></th>

                    </thead>
                    <tbody>
                      <td ><%= f.check_box :used, class: 'form-control' %> <br /></td>
                      <td ><%= f.number_field :inventory, class: 'btn-width form-control' %></td>
                      <td ><%= f.check_box :footgear, id: 'addAccessory' ,class: 'form-control' %> <br /></td>
                    </tbody>
                    <thead>
                    <th ><strong>UPC</strong></th>
                    <th ><%= f.label :cost %></th>
                    <th ><%= f.label :margin %></th>
                    </thead>
                    <tbody>
                      <td ><%= f.text_field :footgear, class: 'form-control' %> <br /></td>
                      <td ><%= f.number_field :cost, class: 'form-control' %> <br /></td>
                      <td ><%= f.number_field :margin, class: 'btn-width form-control' %></td>

                    </tbody>
                    <thead>

                          <%= f.label :description %>
                          <%= f.text_area :description, class: 'form-control', style: 'min-height:80px;min-width:100%;'%>


                      <%= f.label :sale_price %><br/>
                      <%= f.number_field :price, class: 'btn-width form-control' %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.hidden_field :company, :value => current_user.company ? current_user.company : nil %>
                      <%= f.hidden_field :list_time, :value => Time.now %>
                    </thead>
                  </table>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <div id="newAccBtn" class="center-text" style="position:relative;bottom:20px;">
                <%= f.submit 'Save', class: 'form-control', style: 'background-color:lightgrey;' %>
              </div>

              <div id="accessoryForm" style="margin-bottom:50px;display:none;position:relative;min-height:400px;min-width:100%;">
                <div>
                  <%= f.fields_for :accessories do |builder| %>
                    <%= render "accessories/form", :f => builder %>
                  <% end %>
                <hr>
                </div>
             </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="center-text" style="position: absolute;bottom: -40px;width: 100%;">
                <%= f.submit 'Save', class: 'form-control', style: 'background-color:lightgrey;' %>
              </div>
          </div>
        </div>
        </div>
<!-- section -->

  <% end %>
  <% end %>

  <script>
  $(function(){
    var checkAccessory = document.getElementById('addAccessory');
    var formAccessory = document.getElementById('accessoryForm')
    var saveAccessory = document.getElementById('newAccBtn')

    checkAccessory.onclick = function() {
     if(this.checked) {
       formAccessory.style['display'] = 'block';
       saveAccessory.style['display'] = 'none';
     } else {
       formAccessory.style['display'] = 'none';
       saveAccessory.style['display'] = 'block';

     }
    };
  });
  $(function(){
    var surfBtn = document.getElementById('surfBtn');

    var sizeLength = document.getElementById('sizeLength')
    var sizeFeet = document.getElementById('sizeFeet')
    var sizeInches = document.getElementById('sizeInches')
    var sizeWidth = document.getElementById('sizeWidth')
    var sizeThickness = document.getElementById('sizeThickness')
    var sizeVolume = document.getElementById('sizeVolume')
    var sizeUnits = document.getElementById('sizeUnits')
    surfBtn.onclick = function() {
     if(sizeFeet.style.display == 'none' ) {
       sizeLength.style['display'] = 'none';
       sizeFeet.style['display'] = 'block';
       sizeInches.style['display'] = 'block';
       sizeWidth.style['display'] = 'block';
       sizeThickness.style['display'] = 'block';
       sizeVolume.style['display'] = 'block';
       sizeUnits.style['display'] = 'none';
     } else {
       sizeLength.style['display'] = 'block';
       sizeFeet.style['display'] = 'none';
       sizeInches.style['display'] = 'none';
       sizeWidth.style['display'] = 'block';
       sizeThickness.style['display'] = 'none';
       sizeVolume.style['display'] = 'none';
       sizeUnits.style['display'] = 'block';
     }
    };
  });
  </script>
