<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@board, html: {role: :form, 'data-model' => 'board'}, :remote => true) do |f| %>
  <div class="actions  text-center">
<% if  @board.for_sale === false && @board.pending == false %>
 <% if current_user.tokens >= 1 %>
  <div class="actions" >
    <%= f.hidden_field :pending , value: false %>
    <%= f.hidden_field :shipping, :value => nil %>
    <%= f.hidden_field :list_time, value: Time.now %>
    <%= f.hidden_field :for_sale , value: true %>
    <%= button_tag "list!", id: 'list-btn', class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Listing..."}, remote: true %>
    <% else %>
    <small> not enough of tokens </small>
    <% end %>
  </div>

  <% elsif @board.for_sale == false && @board.pending == true && @board.user_id == current_user.id %>
    <%= f.hidden_field :shipping, value: nil %>
    <%= f.hidden_field :shipped, value: nil %>
    <%= f.hidden_field :tracking, value: nil %>
    <%= f.hidden_field :customer_id, value: "nil"  %>
    <%= f.hidden_field :address, value: "" %>
    <%= f.hidden_field :pending, value: false %>
    <%= f.hidden_field :list_time, value: "" %>
    <div class="actions">
     <%= f.hidden_field :for_sale , value: false %>
     <!-- cancel btn? -->
    </div>
  <% elsif @board.for_sale == true && @board.pending == false %>
      <%= f.hidden_field :pending, value: false %>
      <%= f.hidden_field :list_time, value: "" %>

    <div class="actions">
        <%= f.hidden_field :for_sale , value: false %>
        <%= button_tag "Delist", id: 'delist-btn', class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> delisting..."}, remote: true %>
    </div>
    <% else %>
      uh oh - forsale
    <% end %>
    <br>
<% end %>
</div>
