<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      </ul>
    </div>
  <% end %>
<!-- can possibly be deleted  -->
  <div class="actions  text-center">
<% if @board.shipping == true  %>
  <div class="well">
    <%= f.hidden_field :shipping, value: false %> oops, I want to
    <%= f.submit 'pick up', class:'btn btn-danger' %>
  <% elsif @board.shipping == false  %>
    <%= f.hidden_field :shipping, value: true %> oops, I want to
    <%= f.submit 'ship it', class:'btn btn-danger' %>
  <% end %>
  </div>
<% end %>
