<div class="panel panel-default topspace">
  <div class="panel-body">
    <%= form_for @stripe_account do | f | %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <%= f.label :title %>
     <%= f.text_field :title, class: 'btn-width form-control input-lg' %>
      </div>
    </div>

    <div class="row image-box center-text" id="images">
      <div class="progress" id='progress-bar' style='display:none;'>
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;background-color:#b2b2f1;">
          <span class="sr-only" id='progress-bar-text'></span>
        </div>

      </div>
      <%= f.label :add_images %><br>
      <btn class="center-text" style="position:absolute;left:calc(50% - 90px);">

      <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %></btn>

      <div id="image"></div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :make, "Brand"%>
            <%= f.text_field :make, class: "form-control input-lg", placeholder: "Brand" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :category_id, "category" %>
            <%= f.grouped_collection_select :category_id, Type.order(:name),:categories, :name, :id, :name, include_blank: true, class: "form-control input-lg" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :tail_id, "Tail Type" %>
            <%=  f.collection_select( :tail_id, Tail.all, :id, :name,
              { :include_blank => 'Tail'} , { :class => 'form-control input-lg' }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Fin Type</label>
            <%=  f.collection_select :fin_id, Fin.all, :id, :name,
              { :include_blank => 'Tail'} , { class: "form-control input-lg" } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="sizeForm" style="display:block;">
          <div id="surfBtn" class="btn btn-primary">Surf Dimensions</div>
          <%= f.fields_for :size do |builder| %>
            <%= render "sizes/form", :f => builder %>
          <% end %>
        <hr>
        </div>
      </div>

      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Used:</label>
          <%= f.check_box :used, class: 'form-control input-lg' %>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Inventory:</label>
            <%= f.number_field :inventory, class: 'btn-width form-control input-lg' %>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Cost:</label>
          <%= f.number_field :cost, class: 'form-control input-lg' %> <br />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Margin:</label>
            <%= f.number_field :margin, class: 'btn-width form-control input-lg' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Sale Price:</label>
          <%= f.number_field :price, class: 'input-lg btn-width form-control' %>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :company, :value => current_user.company ? current_user.company : nil %>
      <%= f.hidden_field :list_time, :value => Time.now %>
    </div>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', style: 'min-height:80px;min-width:100%;'%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.check_box :footgear, id: 'addAccessory' ,class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <div id="newAccBtn" class="center-text" style="position:relative;bottom:20px;">
              <%= f.submit 'Save', class: 'form-control', style: 'background-color:lightgrey;' %>
            </div>
            <div id="accessoryForm" style="margin-bottom:50px;display:none;position:relative;min-height:400px;min-width:100%;">
              <div>
                <%= f.fields_for :accessories do |builder| %>
                  <%= render "accessories/form", :f => builder %>
                <% end %>
              <hr>
              </div>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="center-text" style="position: absolute;bottom: -40px;width: 100%;">
              <%= f.submit 'Save', class: 'form-control', style: 'background-color:lightgrey;' %>
            </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
