
  <h4 class="dash-data-title"> Board waiting arrival</h4>
<% @pending_boards.each do |i| %>
    <hr class="style13">
    <td><%= link_to attachment_image_tag(i.images.first, :file, :fill, 100, 100), i, remote: true, data: { toggle: "modal", target: "#newModal" }  %></td>
    <h3> <%= link_to i.title, i%> $<%= i.price %></h3>
    <strong style="font-size:15px;text-decoration:none">Chat with
      <%= link_to i.user.name.capitalize , conversations_path(user_id: i.user.id), remote: true, method: :post %>
    </strong>
      <%charge = Charge.find_by(board_id: i.id, user_id: current_user.id, completed: false) %>
        <%= link_to 'complete purchase / arrived!', complete_charge_path(charge_id: charge.id, token: charge.token, price: charge.price, customer_id: charge.customer_id, destination: charge.vendor.uid), class: 'btn-success btn' %>
  <% end %>
