<strong>
  <h1>
  sales for <%= @sales_user %> wtf
    <h2 class="page-header">
      <i class="fa fa-table purple"></i>  Transaction balance
      <br><small><span class="raised"><%= format_amount(@balance.pending[0].amount) %></span> pending</small>
    </h2>
  </h1>
  <div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Balance amount</th>
          <th>Available for transfer after</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |date,net| %>
          <% unless net.eql?(0) %>
            <tr>
              <td><%= format_amount(net) %></td>
              <td><%= format_date(date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Transfer ID</th>
          <th>Destination</th>
          <th>Amount</th>
          <th>Deposit date</th>
        </tr>
      </thead>
      <tbody>
        <% @transfers.each do |transfer| %>
          <tr>
            <td><%= transfer.id %></td>
            <td><%= transfer.bank_account.bank_name %> ending in <%= transfer.bank_account.last4%></td>
            <td><%= format_amount(transfer.amount) %></td>
            <td><%= format_date(transfer.date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</strong>


<%  @charges = Charge.where(:vendor_id  => current_user.id) %>
<% @charges.each do |i| %>
<strong> price </strong>
  <%= i.price %>
<% end %>

<% @payments.each do |payment| %>
  <tr>
    <td><%= link_to payment.source_transfer.source_transaction, charges_path(payment.source_transfer.source_transaction) %></td>
    <td><%= number_to_currency(payment.amount/100) %></td>
    <td><%= format_amount(payment.amount - payment.application_fee.amount) %></td>
    <td><%= format_date(payment.created) %></td>
    <td class="text-center">
      <% if payment.refunded %>
        <span class="text-danger">
          <span class="fa fa-undo"></span> Refunded
        </span>
      <% else %>
        <%= link_to "Refund", charges_path(payment.source_transfer.source_transaction), method: :delete, remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> refunding"}, class: "btn btn-sm btn-block btn-custom btn-danger" %>
      <% end %>
    </td>
  </tr>
<% end %>
<div style="margin-bottom:50px;">
  <% if current_user %>
  <strong> Sales </strong>
  <% @charges = Charge.where(:vendor_id => current_user.id) %>
    <%= line_chart @charges.group(:created_at).sum(:price) %>

  <% @board_all = Board.where(:user_id => current_user.id) %>
    <%= pie_chart @board_all.type.group(:name) %>
  <% end %>
  <!--  add board_type and category to charges as metadata or otherwise-->
  <!-- manipulate chart data group by_data_range, type, category, price, margins on the fly, -->
</div>
