<% if current_user.stripe_account %>
<strong>
  <h1>
    <h2 class="page-header">
      <i class="fa fa-table purple"></i>  Transaction balance
      <br><small><span class="raised"><%= format_amount(@balance.pending[0].amount) %></span> pending</small>
    </h2>
  </h1>
  <div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Balance amount</th>
          <th>Available for transfer after</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |date,net| %>
          <% unless net.eql?(0) %>
            <tr>
              <td><%= format_amount(net) %></td>
              <td><%= format_date(date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <div class="row" id="transfer-table">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Transfer ID</th>
          <th>Destination</th>
          <th>Amount</th>
          <th>Deposit date</th>
        </tr>
      </thead>
      <tbody>
        <% @transfers.each do |transfer| %>
          <tr>
            <td><%= transfer.id %></td>
            <td><%= transfer.bank_account.bank_name %> ending in <%= transfer.bank_account.last4%></td>
            <td><%= format_amount(transfer.amount) %></td>
            <td><%= format_date(transfer.date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</strong>


<%  @charges = Charge.where(:vendor_id  => current_user.id) %>
<% @charges.each do |i| %>
<strong> price </strong>
  <%= i.price %>
<% end %>
<div class="row" id="payment-table">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Payment ID</th>
          <th>Amount</th>
          <th>Net</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= link_to payment.source_transfer.source_transaction, charge_path(payment.source_transfer.source_transaction) %></td>
            <td><%= number_to_currency(payment.amount/100) %></td>
            <td><%= format_amount(payment.amount - payment.application_fee.amount) %></td>
            <td><%= format_date(payment.created) %></td>
            <td class="text-center">
              <% if payment.refunded %>
                <span class="text-danger">
                  <span class="fa fa-undo"></span> Refunded
                </span>
              <% else %>
              <strong style="font-size:15px;text-decoration:none">Chat with
                <%= link_to payment.metadata.customer.capitalize , conversations_path(user_id: payment.metadata.customer_id), remote: true, method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div style="margin-bottom:50px;">
  <% if current_user %>
  <strong> Sales </strong>
  <% @charges = Charge.where(:vendor_id => current_user.id) %>
    <%= line_chart @charges.group(:created_at).sum(:price), colors: ["#00bfff"] %>
  <% @board_all = Board.where(:user_id => current_user.id) %>
    <!-- <%= pie_chart current_user.boards.group(:title).sum(:price) %> -->
  <% end %>
  <!--  add board_type and category to charges as metadata or otherwise-->
  <!-- manipulate chart data group by_data_range, type, category, price, margins on the fly, -->
</div>
<% else %>

<% end %>
