  <table class="container-fluid index-results " id="results" style="min-width:95%;max-width:95%''">
      <% if current_user && @boards %>
        <% @boards = current_user.not_my_boards(@boards) %>
      <% end %>
    <thead>
      <td>
        <div class="center-text" style="" id="paginator">
          <% if @boards %>
          <%= paginate @boards, remote: true, window: 1 %>
          <% end %>
        </div>

        <tr>
          <td class="center-text sorting-row">
            <div class="btn-group">
              <button style="margin-bottom:10px;right:9%;border:1px solid darkslategrey;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Sort Options <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= sortableAsc "created_at", "Date" %> </li>
                <li><%= sortableAsc "price", "Price" %></li>
                <li><%= sortableAsc "length", "Height" %></li>
                <li class="divider"></li>
                <li><%= sortableDesc "created_at", "Date" %></li>
                <li><%= sortableDesc "price", "Price" %></li>
                <li><%= sortableDesc "length", "Height" %></li>
              </ul>
            </div>
          </td>
        </tr>
      </td>
    </thead>
    <% if @boards && @boards.length == 0 %>

    <tbody style="min-height:150px;min-width:120px !important;float:left;display:inline-flex;background-color:white;">
      <td style="max-height: 150px;min-width:150px;max-width: 150px;margin-right: 5%;
            margin-left: 10%;background-color:white;font-size:10px;">
        <%= render partial: 'boards/none' %>
      </td>
    </tbody>
      <% end %>
      <% if @boards %>
  <% @boards.each do |board| %>
    <tbody class="items" style="min-height:150px;min-width:120px !important;float:left;display:inline-flex;background-color:white;">
      <td class="" style="max-height: 150px;min-width:150px;max-width: 150px;    margin-right: 5%;
    margin-left: 10%;background-color:white;">
          <div class="desktop-items-img" style="width:150px;height:150px;">
          <!-- <%= link_to  image_tag("surf_girl.jpg", width: 150), board, remote: true, data: { toggle: "modal", target: "#newModal" }%> -->
            <%= link_to attachment_image_tag(board.images.last, :file, :fill, 150, 150), board, remote: true, data: { toggle: "modal", target: "#newModal" }%>
          </div>
          <div class="mobile-items-img center-text" style="width:120px;height:120px;">
            <%= link_to attachment_image_tag(board.images.last, :file, :fill, 120, 120), board, remote: true, data: { toggle: "modal", target: "#newModal" }%>
 <!-- <%= link_to  image_tag("surf_girl.jpg", width: 120), board, remote: true, data: { toggle: "modal", target: "#newModal" }%> -->
          </div>
          <span class="center-text" style="position:relative;overflow-x:hide;margin-top:15px;">
            <%= board.items? %>
          <br>
          </span>
          <span class="center-text" style="max-width:140px;position:relative;overflow-x:hidden;margin-top:15px;">
            <% if !board.surfable? && board.size%>
            <strong style="font-weight:200;"><%= board.size.pretty_dimensions %></strong>
            <% elsif board.size %>
            <strong style="font-weight:200;">  <%= board.size.pretty_surf %></strong>
            <% end %>
            <strong class="center-text" style="margin-right:50%;float:left;">  <%= board.pretty_price%></strong>

          </span>
      </td>
    </tbody>
<% end %>
<% end %>

      <tbody>
        <td>
          <div class="center-text" id="paginator">
            <% if @boards %>
            <%= paginate @boards, remote: true, window: 1 %>
            <% end %>
          </div>
        </td>
      </tbody>
    </table>
<script>
    $( document ).ready(function() {
  // hide spinner
  $(".sk-circle").hide();
  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".sk-circle").show();
  });
  $(document).ajaxStop(function(){
    $(".sk-circle").delay(400).hide(0);
  });
  // hide spinner on AJAX stop
});
</script>
