  <table class="container-fluid index-results " id="results" style="width:100%;">
    <% if @boards.length == 0 %>
        <%= render partial: 'boards/none' %>
      <% end %>
      <% if current_user %>
      <% @boards = @boards.where.not(:user_id => current_user) %>
    <% end %>
    <thead>
      <td>
        <div class="center-text" id="paginator">
        <%= paginate @boards, remote: true, window: 1 %>
        </div>
        <tr>
          <td class="filtering center-text">
            <ti> <strong> Sort by: </strong> </ti>
           </ti>
            <div <i style="display:inline;" class="btn btn-sort"> <%= sortable "created_at", "Date" %></i></div>
            <div <i style="display:inline;" class="btn btn-sort"> <%= sortable "price" %></i></div>
            <div <i style="display:inline;" class="btn btn-sort"> <%= sortable "length", 'height' %></i></div>
           </ti>
          </td>
        </tr>
      </td>
    </thead>
<style>
.no_padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
</style>
  <% @boards.each do |board| %>
    <tbody class="no_padding tbody-search col-sm-1 col-md-1 col-lg-2 center-text" style="max-width:150px !important;border:1px solid black;">
        <!-- if no image load other boards image in results -->
        <td class="center-text" >
          <div  style="max-height:120px;">
              <!-- <%= link_to attachment_image_tag(board.images.last, :file, :fill, 120, 120), board, remote: true, data: { toggle: "modal", target: "#newModal" }%> -->
            <%= link_to  image_tag("surf_girl.jpg", height: 120), board, remote: true, data: { toggle: "modal", target: "#newModal" }%>
          </div>
      <ul class="main-well-ul" style="top:20px;">
         <li class="center-text title-link">
           <!-- new link to modal -->
           <div class="title-bar center-text">
             <%= link_to board.title.truncate(23), board, target: :_blank  %>
             <strong><%= board.category.name %></strong>
          </div>
         </li>
         <li class="center-text">
          <%=  board.description.truncate(33)  %>
         </li>
         <li class="center-text">
           <strong class="make-li"><%=  board.make %></strong>
           <%= time_ago_in_words(board.list_time) %>
         </li>
         <li class="center-text" style="padding-top:5px;">
           <strong class="pull-left" style="padding:5px;font-weight:lighter;font-size:20px;">$<%= board.price %></strong>
             <button class="btn btn-sort pull-right view_btn"><%= link_to 'view', board, target: :_blank  %></button>
             <br>
             <hr style="display:flex;" class="style13">
           </td>
           </ul>
        </tbody>
        <% end %>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
           <div class="modal-dialog modal-lg" role="document">
             <div class="modal-header">
               <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
             </div>
             <div class="modal-content">
             </div>
           </div>
           <div class="center-text" id="paginator">
           </div>
         </div>
         <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="accModal">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-header">
                <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" id="dismissAccModal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
              </div>
              <div style="background-color:lightgrey;" class="modal-content">
              </div>
            </div>
            <div class="center-text" id="paginator">
            </div>
          </div>
      <tbody >
        <td>
          <div class="center-text" id="paginator">
            <%= paginate @boards, remote: true, window: 1 %>
          </div>
        </td>
      </tbody>
    </table>

<script>
    $( document ).ready(function() {

  // hide spinner
  $(".sk-circle").hide();


  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".sk-circle").show();
  });
  $(document).ajaxStop(function(){
    $(".sk-circle").delay(400).hide(0);
  });
  // hide spinner on AJAX stop

});

</script>
