<!-- partial rendered on from index -->
<table class="" id="results" style="width:100%;">
  <thead >
    <td>
      <div class="center-text" id="paginator">
      <%= paginate @boards, remote: true %>
      </div>
      <tr>
        <td class="filtering center-text">
          <ti> <strong> Sort by: </strong> </ti>
          <ti class="btn btn-sort" style="padding-left:8px;"><%= sortable "created_at", "Date" %> </ti>
          <ti class="btn btn-sort"><%= sortable "price" %></ti>
          <ti class="btn btn-sort center-text" ><%= sortable "length", "Height" %></ti>
        </td>
      </tr>
    </td>
  </thead>

<% if @boards.length < 1 %>
  <%= render partial: 'none' %>
<% end %>

<% @boards.each do |board| %>
  <tbody class="col-sm-6 col-md-4">
    <% if @boards.length == 0 %>
      <%= render partial: 'none' %>
    <% end %>
    <td class="center-text">
      <%= link_to attachment_image_tag(board.images.first, :file, :fill, 240, 240), board, target: :_blank %>
    <ul class="main-well-ul">
     <li class="center-text title-ind">
       <!-- new link to modal -->
       <div class="title-bar center-text">
         <%= link_to board.title, board, remote: true, data: { toggle: "modal", target: "#newModal" } %>
      </div>
       <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-header">
              <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-content">
            </div>
          </div>
          <div class="center-text" id="paginator">
          </div>
        </div>
     </li>
     <li>
      <%=  board.description.truncate(25)  %>
      <%=  board.zipcode  %>
     </li>
     <li class="well-width">
      <strong>Height: </strong><%= board.length %>

      <strong>width: </strong><%= board.width %>
        <% if board.type_id == 1 %>
         <strong>Volume: </strong><%= board.volume %>
        <% else %>
        <strong>Volume: </strong> N/A
        <% end %>
     </li>
     <li>
      type: <%= board.type.name %> as  <%= board.category.name %>
     </li>

     <li class="center-text">
       Make:<strong><%= board.make %></strong> Price: <strong>$<%=  board.price %></strong>
     </li>
    </ul>
    <hr class="style13">
    </td>

    <!-- <%if current_user && board.user_id == current_user.id %>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> -->
    <% end %>
  </tbody>



  <thead >
    <td>
      <div class="center-text" id="paginator">
      <%= paginate @boards, remote: true %>
      </div>

    </td>
  </thead>
</table>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
