
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
    <div class="row board-search-form">
      <div class="main-form" style="">
        <span><%= hidden_field_tag :type_id, nil,:id => "hidden_type", :value => ''%></span>

          New:<span class="check-box-search"><%= check_box_tag :new,params[:new], true%> </span>
          Used:<span class="check-box-search"><%= check_box_tag :used,params[:used], true%> </span>
        </div>
        <span id="category_ids" ></span>
      <span id="brand_ids"  ></span>
      <div class="input-group" ></div>
        <span>
        <%= number_field :minimum, params[:minimum], style: 'width: 35%;margin: 0px;margin-left: 5%;', class: 'form-control', min: 1, placeholder: "min length" %>
        </span>
        <span style="">
        <%= number_field :maximum, params[:maximum], style: 'float: right;width: 38%;position: absolute;left: 40%;margin: 0px;', class: 'form-control',min: 1, placeholder: "max length" %>
        </span>
        <%= collection_select( nil, :unit_id, Unit.all, :id, :name,
          { :include_blank => 'Unit'} , { :class => 'form-control', style: 'float: right;width: 17%;left: -5%;margin: 0px;' })%>
          <span class="unit_id" style=""> Unit </span>
      </div>
      <div class="input-group" style="float: right;bottom: 67px;width: 48%;">
        <span>
        <%= number_field :min, params[:min], style: 'width: 45%;margin: 0px;', class: 'form-control', min: 1, placeholder: "min price" %>
        </span>
        <span style="">
        <%= number_field :max, params[:max], style: 'float: right;width: 44%;position: absolute;left: 43%;margin: 0px;', class: 'form-control',min: 1, placeholder: "max price" %>
        </span>
      </div>
</div>



<div style="position:absolute;left:5%;">
       <span id="open-extended" class="pull-right" style="cursor:pointer;text-decoration:underline;">  </span>
        <div id="show_type" style="display:none;"></div>
       <div id="extended-search" style="display:none;">
         <div class="col-lg-6">
           <div class="input-group">
             <!-- <span class="input-group-btn">
               <%= collection_select(nil, :company, User.all.order(:company).distinct.sort, :company, :company, {prompt: "Choose co"},{ class: "form-control" }) %>
              </span> -->
              <div class="col-sm-4" style="top: 0;width: 100%;float: left;">
                <div class="input-group">
                  <span style="float: left;width: 50%;">
                  <%= number_field :min, params[:min], class: 'form-control', min: 1, placeholder: "Choose price" %>
                  </span>
                  <span style="float:right;">
                  <%= number_field :max, params[:max], class: 'form-control',min: 1, placeholder: "Choose max" %>
                  </span>
                </div>
                <!--  -->
                <div class="input-group">
                    <span style="float: left;width: 35%;">
                      <%= number_field :minimum, params[:minimum], class: 'form-control',min: 1, placeholder: "length min" %>
                    </span>
                    <span style="float:right;">
                      <%= number_field :maximum, params[:maximum], class: 'form-control',min: 1, placeholder: "Choose max", style:'width: 62%;right: 35px;' %>

                          <%= collection_select( nil, :unit_id, Unit.all, :id, :name,
                            { :include_blank => 'Unit'} , { :class => 'form-control', style: 'float: none;width: 65px;right: 35px;' })%>
                    </span>
                    <span style="">Length: Min - Max Unit:</span>
                  </div>
                <!--  -->

                <div class='input-group date' id='starttimepicker' style="float: right;left: 90%;top: 0;position: absolute;width: 50%;">
                  <%= text_field :start_date, params[:start_date], class: 'form-control', placeholder: "Pick Up Date" %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                  </div>
                  <div class='input-group date' id='endtimepicker' style="float: right;left: 90%;top: 34px;position: absolute;width: 50%;">
                    <%= text_field :end_date, params[:end_date], class: 'form-control', placeholder: "Drop Off Date" %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                    <div class="row">
                    <div class="input-group">
                    <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control', style: 'left: 5%;width: 112%;'  %>
                    <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control', style: 'float: right;top: 0;position: absolute;left: 117%;' })  %>
                    </div>
                  </div>

                <!-- <%= text_field :start_time, "data-provide" => 'datepicker' %>
                <%= text_field :end_time, "data-provide" => 'datepicker1' %> -->
              </div>
<script>
        $('.date#starttimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

        $('.date#endtimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');
</script>
    </div>
    </div><!-- /.col-lg-6 -->
  :<span class="check-box-search" style="display: inline;position: absolute;left: 109%;width: 100%;bottom: 24px;">Rental: <%= check_box_tag :rental, params[:rental] %> </span>
  </div><!-- /.col-lg-6 -->
<!-- /.row -->
<div class="col-lg-12 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn" >
       <%= button_tag "Go!", style:'background-color:darkslategrey;border:1px solid darkslategrey;' ,class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
</div>
