<div id="results">
 <div class="top-dash">
<h4 class="dash-data-title"> Active Inventory </h4>
  <div class="row" id="pending-table">
    <% if @shipping_boards.count == 0 %>
      <%= render partial: 'boards/none' %>
    <% end %>
    <thead>
      <td>
        <div class="center-text" id="active_boards">
        <%= paginate @shipping_boards, remote: true, window: 1 %>
        </div>
        <tr>
          <td class="filtering center-text">
            <ti> <strong> Sort by: </strong> </ti>
           </ti>
            <div  <i style="display:inline;" class="btn btn-sort">  <%= sortable "created_at", "Date" %></i></div>
           </ti>
          </td>
        </tr>
      </td>
    </thead>
<style>

</style>
    <div class="col-md-12 table-scrollable ">
      <table style="table-layout:fixed;min-width:100%;max-width:100%;overflow-x:scroll;" class="table table-bordered table-striped table-hover" id="results">
        <thead>
          <tr>
            <th>image</th>
            <th><i style="display:inline;"> <%= sortable "title" %></th>
            <th><i style="display:inline;"> <%= sortable "price" %></i></th>
            <th><i style="display:inline;"> <%= sortable "cost" %></i></th>
            <th><i style="display:inline;"> <%= sortable "margin" %></i></th>
            <th>listing</th>
          </tr>
        </thead>

        <tbody>
        <% @shipping_boards.each do |board| %>
            <tr>
              <td class= "desktop-items-img" style="margin:0px;"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 80, 80), board, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td class=" mobile-items-img" style="margin:0px;overflow-x:hidden;"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 40, 40), board, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td><%= link_to board.title.truncate(13), board, target: :_blank %>
                :shipped:
                <%=
                  check_box_tag 'shipped', true, board.shipped,
                    onchange: "$(this).data('params', 'shipped=' + this.checked)",
                    data: { remote: true, url: board_path(board.id), method: :patch }
                    %></td>
              <td><%= format_amount(board.price * 100) %></td>
              <td><%= format_amount(board.cost * 100)  %></td>
              <td><%= board.margin  %>%</td>
              <td class="text-center">
                <small><%=board.category.name %> </small>
                <% if board.for_sale == false %>
                  <span class="text-danger">
                    inactive
                  </span>
                <% else %>
                active
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--  -->

    <tbody >
      <td>
        <div class="center-text pagination" id="active_boards">
        <%= paginate @shipping_boards, remote: true, window: 1 %>
        </div>
      </td>
    </tbody>
  </table>
</div>

<div>
<%= form_tag({controller: :boards, action: :search_inactive}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
      <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
            :name, :id, :name, {prompt: "Select type" },
            { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
 <% end %>
</div>
