<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @board.shipping == nil && @board.shipped == nil %>
  <div class="actions  text-center">
    <%= f.label :ship_it %>
    <%= f.check_box :shipping  %>
    <%= f.submit 'Submit', class:'btn btn-success' %>
  </div>

  <div class="actions  text-center">
<% elsif @board.shipping == true && @board.address == nil%>
    <div class="actions">
      <strong> Address released to Users after payment is received. </strong>
        <div class="field">
           <%= f.label :address %><br/>(123 first st)
           <%= f.text_field :address, class: 'form-control' %><br/>
         </div>
         <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, class: 'form-control' %>
         </div>
         <div class="field">
          <%= f.label :state %>(CA)<br />
          <%= f.text_field :state, class: 'form-control' %>
         </div>
         <div class="field">
          <%= f.label :zipcode %><br />
          <%= f.number_field :zipcode, class: 'form-control' %>
         </div>
         <%= f.hidden_field :shipped, value: true %> submit address
         <%= f.submit 'submit', class:'btn btn-success' %>
    </div>
    <!-- address filled out now update user  -->
    <% elsif @board.shipped == true  %>

     here to ship congrats you should receive a tracking number from <%= @board.user.name %> when your board goes out.
     <!-- local pick up inform user to get in contact -->
    <% elsif @board.shipping == false %>
     here to pickup congrats you should hear from <%= @board.user.name %> soon.
  <% end %>
<% end %>
