<div id="show-view">
<% if ( user_signed_in? && current_user.id === @board.user.id || @board.customer_id) || (@board.for_sale == true ) %>
<%= render 'layouts/spinner' %>
  <div class="well-sm pull-left" style="position:absolute;top:0;z-index:929;">
    <% if (current_user && current_user.owner?(@board)) && (@board.boardSold?) %>
    <div id="editModalBtn"><%= link_to "Edit", edit_board_path, class: 'btn btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#editModal" } %></div>
       <div style="z-index:1000;min-width:50px;min-height:50px;background-color:white;">
        <% if @board.shipping == true %>
          <% if @board.tracking != true || false %>
          <%= render partial: 'tracking', locals: {board: @board} %>
          <% end %>
        <% end %>
        </div>
      <% end %>
  </div>
      <!-- begin view -->
<div class="title center-text">
  <strong><%= @board.title %></strong>
    <strong><%= @board.length %></strong>
</div>
  <div class="image-box center-text" id="images" style="">
    <%= render partial: 'images', locals: {board: @board}  %>
    <%=  image_tag("surf_girl.jpg", height: 280, width: 330) %>
  </div>
<hr class="style13" style="top:440px;">
<%= render partial: 'datatable', locals: {board: @board}  %>

<!-- section -->
  <div class="description-modal pull-right" style="padding:40px 15px;position:relative;clear:all;">
    <%= @board.description %>
  </div>
<!-- board accesories -->
<div class="center-text">
  <tbody>
    <%= render partial: 'accessories/collection' %>
  </tbody>
</div>
</div>
<script>
$(document).ready(function() {
var openAccess = document.getElementById('accessoryBtnOpen');
var hideAccess = document.getElementById('accessoryBtnHide');
var access = document.getElementById('searchAccessories');
openAccess.style.display = 'flex';
hideAccess.style.display = 'none';

openAccess.onclick = function() {
 if(this.style.display == 'flex') {
   this.style['display'] = 'none';
   hideAccess.style['display'] = 'flex';
   access.style['display'] = 'flex';
 }
};
hideAccess.onclick = function() {
 if(this.style.display == 'flex') {
   this.style['display'] = 'none';
   openAccess.style['display'] = 'flex';
   access.style['display'] = 'none';
 }
};
});

</script>
<div style="posisition:relative;" class="col-sm-12 col-md-12 col-lg-12">
  <div id="accessoryBtnOpen" style="center-text display:flex;" class="btn btn-success">Search Accessories </div>

  <div id="accessoryBtnHide" style="center-test display:none;background-color:darkgreen;" class="btn btn-primary">Hide</div>
</div>
<div id="searchAccessories"  style="display:none;" class="col-md-9">
  <%= render 'accessories/search_accessories_form' %>

</div>
<!-- shop accessories by type -->
<div id="boardAccessories" style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
 </div>
<!--  -->
<!-- section -->
  <% if @board.rental %>

  <div class="rental-div" style="min-height:100%;">
        <div class="rent-dates">
          <span class="center-text">
            <div id="invisible" data-rubyvar="<%= @board.price  %>"></div>
          <div id="number" style="font-size:30px;"><%= @board.price %> </div>
          <%= render 'events/form', locals: {events: @events, board: @board} %>
        <!-- section -->
        </span>
        </div>
    <div id="events_calendar" style="max-width:100%;padding-bottom:30px;">
      <%= render 'events/calendar', locals: {events: @events, board: @board} %>
    </div>

</div>

<hr>
<script>
$('input[name="daterange"]').daterangepicker(
{
   locale: {
     format: 'YYYY-MM-DD'
   },
   startDate: "<%= Time.now %>",
   endDate: '<%= Time.now + 1.days%>',
   showDropdowns: true,
   autoApply: true,
   orientation: 'auto top',
   parentEl: '.modal-content'
},
function(start, end, label) {
   if ( start.format('YYYY-MM-DD') < end.format('YYYY-MM-DD') ) {
     var depDate = moment(start);
     var arrDate = moment(end);
     var nbDays = depDate.diff(arrDate, 'days');
     var one = 1;
     var rubyVar = $('#invisible').data('rubyvar');

     alert("A " + (-nbDays + one ) * (rubyVar) +" date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
   }
});
$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {

  alert("A old date range was changed: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

});
</script>
  <% else %>
<!-- section -->
    <div class="payment center-text">
      <% if current_user && current_user.owner?(@board)%>
        <strong data-board="<%= @board.price %>"style="font-size:30px;">$</strong>
        <% elsif @board.sellable? %>
         <strong style="font-size:30px;">$</strong><strong data-board="<%= @board.price %>" id="showPrice" style="font-size:30px;">.00</strong>
         <div class="form-group">
           pick up
           <input id="checkbox" type="checkbox", "true">
         </div>
         <div id="delivery" style="display:none;">
           <div class="form-group">
             ship it
             <%= render partial: 'chargeshow', locals: {board: @board} %>
           </div>
         </div>
         <div id="pickup" style="display:none;">
           <div class="form-group">
             pick up
             <%= render partial: 'charge', locals: {board: @board} %>
           </div>
         </div>
         <% else %>
         <div class="form-group">
           Not Available
         </div>
       <% end %>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
  var checkbox = document.getElementById('checkbox');
  var delivery_div = document.getElementById('delivery');
  var pickup_div = document.getElementById('pickup');

  delivery_div.style['display'] = 'block';
  var prices = $('#showPrice').data('board');
  var pricing = document.getElementById('showPrice');
  pricing.innerHTML = prices

  checkbox.onclick = function() {
   if(this.checked) {
     pickup_div.style['display'] = 'block';
     delivery_div.style['display'] = 'none';

   } else {
     delivery_div.style['display'] = 'block';
     pickup_div.style['display'] = 'none';
   }
  };
});
</script>
<% end %>
  <div id="forsale">
  <% if !current_user %>
    <% elsif current_user.owner?(@board) %>
    <%= render partial: 'forsale', locals: {board: @board} %>
   <% end %>
  </div>
