<div id="show-view">
<% if ( user_signed_in? && current_user.id === @board.user.id || @board.customer_id) || (@board.for_sale == true ) %>

<div class="container-fluid">
  <!-- shipping detail? try to clean up and gather data from stripe token -->
      </div>
    <!-- edit button plus contact for shipping, is contact for shipping necessary -->
  <div class="well-sm pull-left" style="position:absolute;top:0;z-index:929;">
    <% if (current_user && current_user.id == @board.user_id)&& (@board.shipping != true || false) %>
      <%= link_to "Edit", edit_board_path, class: 'btn btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#editModal" } %>


       <div style="z-index:1000;min-width:50px;min-height:50px;background-color:white;">
        <% if @board.shipping == true %>
          <% if @board.tracking != true || false %>
          <%= render partial: 'tracking', locals: {board: @board} %>
          <% end %>
        <% end %>
        </div>
      <% elsif @board.shipping == false %>
        <% @a = @board.customer_id %>
        contact <% b = User.find(@a).email %>
        <%= b %>
        for pickup info
      <% end %>
  </div>

      <!-- begin view -->
<div class="title center-text">
  <strong><%= @board.title %></strong>
</div>
<!--  images -->
  <div class="image-box center-text" id="images" style="">
    <%= render partial: 'images', locals: {board: @board}  %>
  </div>

<hr class="style13" style="top:440px;">

  <div class="dimensions-modal" style="">
    <table class="col-sm-3 col-md-5" style="">
      <thead>
        <th class="col-sm-3"> Height: </th>
        <th class="col-sm-3"> Width: </th>
        <th class="col-sm-3"> Make: </th>
        <% if @board.used == false %>
          <th class="col-sm-3"> Used </th>
        <% end %>
      </thead>
      <tbody>
        <td class="col-sm-3"> <%= @board.length %> </td>
        <td class="col-sm-3"> <%= @board.width %> </td>
        <td class="col-sm-3"> <%= @board.make %> </td>
        <% if @board.type_id == 1 && @board.volume %>
             <th class="col-sm-3">Voume:</th>
             <% end %>
        <% if @board.type_id == 1 %>
         <td class="col-sm-3">
         <%= @board.volume %>
        <% end %>
      </tbody>
    </table>
</div>

<!-- section -->
  <div class="description-modal pull-right" style=";position:relative;clear:all;">
    <%= @board.description %>
  </div>
<!--  -->
<div class="center-text">
  <% @board.user.accessories.where(category_id: @board.category_id).each do |i| %>
  <tbody>
  <tr><%= i.title %></tr>
  <td><%= i.price  %></td>
  <% end %>
</tbody>
</div>
</div>
<div style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
  <div class="col-sm-6" style="min-width:25%;">
    <% a = Accessory.first %>
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
    </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
  <div class="col-sm-6" style="min-width:25%;">
    <%= a.title %><strong>$<%= a.price %>.00</strong>
    <div class="accessoryImage">
    <%= attachment_image_tag(a.images.first, :file, :fill, 120, 120) %>
    </div>
    <div class="accessoryImage1">
    <%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %>
    </div>
    <%= a.category.name %>
  </div>
 </div>
<!--  -->
<style>
.accessoryImage {
  display:block;
}
.accessoryImage1 {
  display:none;
}
@media (max-width: 444px) {
  .accessoryImage {
    display:none;
  }
  .accessoryImage1 {
    display:block;
  }
}
</style>
<!-- section -->
  <% if @board.rental %>
  <div class="rental-div" style="min-height:100%;">


        <div class="rent-dates">
          <span class="center-text">
            <div id="invisible" data-rubyvar="<%= @board.price  %>"></div>
          <div id="number" style="font-size:30px;"><%= @board.price %> </div>

          <%= render 'events/form', locals: {events: @events, board: @board} %>
        <!-- section -->
        </span>
        </div>
    <div id="events_calendar" style="max-width:100%;padding-bottom:30px;">
      <%= render 'events/calendar', locals: {events: @events, board: @board} %>
    </div>

</div>

<hr>
<script>

$('input[name="daterange"]').daterangepicker(
{
   locale: {
     format: 'YYYY-MM-DD'
   },
   startDate: "<%= Time.now %>",
   endDate: '<%= Time.now + 1.days%>',
   showDropdowns: true,
   autoApply: true,
   orientation: 'auto top',
   parentEl: '.modal-content'
},

function(start, end, label) {
   if ( start.format('YYYY-MM-DD') < end.format('YYYY-MM-DD') ) {
     var depDate = moment(start);
     var arrDate = moment(end);
     var nbDays = depDate.diff(arrDate, 'days');
     var one = 1;
     var rubyVar = $('#invisible').data('rubyvar');

     alert("A " + (-nbDays + one ) * (rubyVar) +" date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
   }
});
$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {

  alert("A old date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

});
</script>
  <% else %>

<!-- section -->

    <div class="payment center-text">
      <% if current_user && current_user.id == @board.user_id %>
        <strong style="font-size:30px;">$<%= @board.price %></strong>
      <% elsif @board.for_sale == true %>
         <strong style="font-size:30px;">$<%= @board.price %></strong>
         <div class="form-group">
           pick up
           <input id="checkbox" type="checkbox", "true">
         </div>
         <div id="delivery" style="display:none;">
           <div class="form-group">
             ship it
             <%= render partial: 'chargeshow', locals: {board: @board} %>
           </div>
         </div>
         <div id="pickup" style="display:none;">
           <div class="form-group">
             pick up
             <%= render partial: 'charge', locals: {board: @board} %>
           </div>
         </div>
       <% end %>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
  var checkbox = document.getElementById('checkbox');
  var delivery_div = document.getElementById('delivery');
  var pickup_div = document.getElementById('pickup');
  delivery_div.style['display'] = 'block';

  checkbox.onclick = function() {
   if(this.checked) {
     pickup_div.style['display'] = 'block';
     delivery_div.style['display'] = 'none';

   } else {
     delivery_div.style['display'] = 'block';
     pickup_div.style['display'] = 'none';
   }
  };
  });
</script>
<% end %>

  <div id="forsale">
  <% if !current_user %>
    <% elsif @board.for_sale === true && @board.user_id == current_user.id %>
        <%= render partial: 'forsale', locals: {board: @board} %>
    <% elsif @board.for_sale == false  && @board.user_id == current_user.id%>
    <%= render partial: 'forsale', locals: {board: @board} %>
   <% end %>
  </div>

<script>


</script>
