<div id="show-view">
<% if ( user_signed_in? && current_user.id === @board.user.id || @board.customer_id) || (@board.for_sale == true ) %>
<div class="container-fluid">
  <!-- shipping detail? try to clean up and gather data from stripe token -->
  <% if current_user && current_user.id == @board.customer_id.to_i %>
    <% if @board.shipping == nil %>
    <div class="">
      <div class="text-center">
          <h4 style="color:darkred;"> You're almost there!</h4>
             <h4 style="color:black;text-shadow:-1px 1px slategrey;"> Select if you want this item shipped check the box.<br> Local pickups press submit.</h4>
          <% end %>
          <%= render partial: 'shipping', locals: {board: @board} %>
    <% end %>
      </div>
    </div>
    <!-- edit button plus contact for shipping, is contact for shipping necessary -->
  <div class="well-sm pull-left" style="position:absolute;top:0;z-index:929;">
    <% if (current_user && current_user.id == @board.user_id)&& (@board.shipping != true || false) %>
      <%= link_to "Edit", edit_board_path, class: 'btn btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#editModal" } %>
      <% end %>
      <% if @board.shipping == nil && (@board.customer_id != nil && @board.customer_id != "nil") && @board.for_sale == false %>
      <td><%= link_to 'delete', @board, method: :delete, data: { confirm: 'Are you sure you want to delete this listing? '}, class: 'btn btn-warning' %></td>
        <% @a = @board.customer_id %>
        <% b = User.find(@a).email %>
        contact <%= b %> for shipping info
      <% elsif @board.shipping == true %>
      <!-- shipping address -->
         <br>
         <div style="z-index:1000;min-width:50px;min-height:50px;background-color:white;">
         <% if @board.tracking != true || false %>
          <%= render partial: 'tracking', locals: {board: @board} %>
        </div>
         <% end %>
      <% elsif @board.shipping == false %>
        <% @a = @board.customer_id %>
        contact <% b = User.find(@a).email %>
        <%= b %>
        for pickup info
      <% end %>

  </div>



      <!-- begin view -->
  <div class="title center-text">
    <strong><%= @board.title %></strong>
  </div>

  <div class="image-box center-text" id="images" style="">
      <div class="scroller">
      <% @board.images.each_with_index do |photo, index| %>

        <div class="slide-img">
        <%= link_to(image_tag(attachment_url(photo, :file, :fill, 350, 350, format: 'jpg')),
              attachment_url(photo, :file, :fit, 500, 500, format: 'jpg'),
              data: { lightbox: "example-set", title: "" }) %>
        </div>

      <% end %>


    </div>
  </div>

  <hr class="style13" style="top:440px;">

  <div class="dimensions-modal" style="">
    <table class="col-sm-3 col-md-5" style="">
      <thead>
        <th class="col-sm-3"> Height: </th>
        <th class="col-sm-3"> Width: </th>
        <th class="col-sm-3"> Make: </th>
        <% if @board.used == true %>
        <th class="col-sm-3"> Used </th>
        <% end %>
      </thead>
      <tbody>
        <td class="col-sm-3"> <%= @board.length %> </td>
        <td class="col-sm-3"> <%= @board.width %> </td>
        <td class="col-sm-3"> <%= @board.make %> </td>
        <% if @board.type_id == 1 && @board.volume %>
             <th class="col-sm-3">Voume:</th>
             <% end %>
        <% if @board.type_id == 1 %>
         <td class="col-sm-3">
         <%= @board.volume %>
        <% end %>
      </tbody>
</table>
</div>

<!-- section -->
  <div class="description-modal pull-right" style=";position:relative;clear:all;">
    <%= @board.description %>
  </div>
<!-- section -->
  <% if @board.rental %>
  <div class="rental-div" style="min-height:100%;">
    <div class="rent-dates">
      <%= render 'events/form', locals: {events: @events, board: @board} %>
    <!-- section -->
    </div>
    <hr>

    <div id="events_calendar" style="max-width:100%;padding-bottom:30px;">
      <%= render 'events/calendar', locals: {events: @events, board: @board} %>
    </div>
</div>

  <% else %>

<!-- section -->

    <div class="payment center-text">
      <% if current_user && current_user.id == @board.user_id %>
        <strong style="font-size:30px;">$<%= @board.price %></strong>
      <% elsif @board.for_sale == true %>
         <strong style="font-size:30px;">$<%= @board.price %></strong>
         <div class="form-group">
           pick up
           <input id="checkbox" type="checkbox", "true">
         </div>
         <div id="delivery" style="display:none;">
           <div class="form-group">
             ship it
             <%= render partial: 'chargeshow', locals: {board: @board} %>
           </div>
         </div>
         <div id="pickup" style="display:none;">
           <div class="form-group">
             pick up
             <%= render partial: 'charge', locals: {board: @board} %>
           </div>
         </div>
       <% end %>
    </div>
  <% end %>
</div>
<% end %>

<div id="forsale">
  <% if !current_user %>
    <% elsif @board.for_sale === true && @board.user_id == current_user.id %>
        <%= render partial: 'forsale', locals: {board: @board} %>
    <% elsif @board.for_sale == false  && @board.user_id == current_user.id%>
    <%= render partial: 'forsale', locals: {board: @board} %>
   <% end %>
</div>
</div>
<script>


  function initStripe(){

var checkbox = document.getElementById('checkbox');
var delivery_div = document.getElementById('delivery');
var pickup_div = document.getElementById('pickup');
delivery_div.style['display'] = 'block';

checkbox.onclick = function() {
   if(this.checked) {
     pickup_div.style['display'] = 'block';
     delivery_div.style['display'] = 'none';

   } else {
     delivery_div.style['display'] = 'block';
     pickup_div.style['display'] = 'none';
   }
};
};

function initSlider(){
    $('.scroller').slick({
      dots: true,
      infinite: true,
      speed: 200,
      prevArrow: '<div class="slick-prev"><i class="fa fa-chevron-left"></i></div>',
      nextArrow: '<div class="slick-next"><i class="fa fa-chevron-right"></i></div>'
    });
}

$(document).ready(function() {

  initSlider();
    initStripe();
});

$('.date#datetimepicker').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

$('.date#datetimepicker1').datetimepicker().data("DateTimePicker").format('ddd, MMM D YYYY, h:mm A');

</script>
