<% if ( user_signed_in? && current_user.id === @board.user.id || @board.customer_id) || (@board.for_sale == true ) %>

<div class="container-fluid">
  <div class="well">
    <div class="text-center">
        <% if current_user && current_user.id == @board.customer_id.to_i %>
          <% if @board.shipping == nil %>
          <h4 style="color:darkred;"> You're almost there!</h4>
             <h4 style="color:black;text-shadow:-1px 1px slategrey;"> Select if you want this item shipped check the box.<br> Local pickups press submit.</h4>
          <% end %>
          <%= render partial: 'shipping', locals: {board: @board} %>
    <% end %>
    </div>
    </div>
  <div class="well well-sm pull-left">
    <% if (current_user && current_user.id == @board.user_id)%>
      <%= link_to "Edit", edit_board_path, class: 'btn btn-primary pull-right' %>
      <% if @board.shipping == nil && (@board.customer_id != nil && @board.customer_id != "nil") && @board.for_sale == false %>
        <% @a = @board.customer_id %>
        <% b = User.find(@a).email %>
        contact <%= b %> for shipping info
      <% elsif @board.shipping == true %>
        <% @a = @board.customer_id %>
        <% b = User.find(@a).email %>
        Ship to <strong><%= @board.address + " " + @board.city.capitalize + " " + @board.state.upcase + ", " + @board.zipcode.to_s  %></strong>
        enter tracking number:
         <br>
         <% if !@board.tracking%>
          <%= render partial: 'tracking', locals: {board: @board} %>
         <% end %>

      <% elsif @board.shipping == false %>
        <% @a = @board.customer_id %>
        contact <% b = User.find(@a).email %>
        <%= b %>
        for pickup info
      <% end %>
    <% end %>
<div>
  Posted: <%= time_ago_in_words(@board.created_at) %> ago
</div>
  <tr>
    <td><h2><%= @board.title %></h2></td>
    <td><h3><%= @board.type.name %>board</h3></td>
    <strong>
      <%= @board.make %>Brand
      </strong>
      <br>
     <!-- bindings/trucks/stomp pad -->
     <% if @board.type_id == 1 %>
      <strong>Stomp pad </strong>
      <% elsif @board.type_id === 2 %>
      <strong> Bindings </strong>
      <% else %>
      <strong> Trucks </strong>
      <% end %>
      <% if @board.footgear == true %>
        Yes  <% else %>  No:
      <%end %>
    </tr>
    <strong> board age: </strong> <%= @board.age %> Years
 </div>
 <div class="">
  <div style="text-align:center;"class="well well-sm ">

     <h3> Dimensions</h3>
     <strong>Length:</strong><%= @board.length %><br>
     <strong>Width:</strong><%= @board.width %><br>
     <% if @board.type_id == 1 %>
     <strong>volume:</strong><%= @board.volume %><br>
     <% end %>
   </div>
 </div>
<div class="well well-sm pull-right">
 <%= @board.description %>
</div>
<tr>
  <hr style="padding-top:30px;">
<% @board.images.each do |i| %>
  <td style="" class="center-text" ><%= attachment_image_tag(i, :file, :limit, 300, 400) %></td>
<% end %>
</tr>
</div>

<hr>

<div class=" text-center">
 <div class="well">
   <% if !user_signed_in? %>
   <strong> $<%= @board.price %> </strong>
   <h3 class="btn-outline" ><%= link_to 'Sign Up to Purchase', new_user_registration_path %></h3>
   <% elsif @board.for_sale == true && @board.user_id != current_user.id %>

  <p> $<%= @board.price %> </p>


<div class="pay">
  <%= render partial: 'charge', locals: {board: @board} %>
</div>

  <% elsif  @board.user_id != current_user.id && @board.for_sale == true %>
    <%= render partial: 'charge', locals: {board: @board} %> here
  <% elsif @board.for_sale === true && @board.user_id == current_user.id %>
      <%= render partial: 'forsale', locals: {board: @board} %>
  <% elsif @board.for_sale == false  && @board.user_id == current_user.id%>
  <%= render partial: 'forsale', locals: {board: @board} %>

 <% end %>


 <br>

 </div>
</div>
</div>

<% if user_signed_in? %>
<% if current_user.id == @board.user.id %>
<%= button_to "delete", @board, :method=>:delete, :class=>:destroy %>
<%= link_to 'Back', boards_path %>

<% end %>
<% end %>
<% else %>
<p class="text-center"> Nothing Here</p>
<% end %>
