<!-- # <% modal ||= false %>
# <% remote = modal ? true : false %>
# <%= form_for(@board, :remote => true, html: {id: 'trackingForm', role: :form, 'data-model' => 'board'}) do |f| %>
#   <% if @board.errors.any? %>
#     <div id="error_explanation">
#       <h2><%= pluralize(@board.errors.count, "error") %> prohibited this person from being saved:</h2>
#       <ul>
#       <% @board.errors.full_messages.each do |msg| %>
#         <li><%= msg %></li>
#       <% end %>
#       </ul>
#     </div>
#   <% end %>
#   <%# Added Bootstrap classes, and help-block container for error messages %>
#   <div class="form-group">
#     <%= f.label :tracking_number, class: 'control-label' %><br>
#     <%= f.text_field :tracking, class: 'form-control' %>
#     <span class="help-block"></span>
#   </div>
#   <%# Added Bootstrap classes %>
#   <div class="actions" id="sendTracking">
#     <%= button_tag "send!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Sending..."} %>
#   </div>
# <% end %>
#
# <script>
#
# </script> -->
