<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>

      </ul>
    </div>
  <% end %>

  <div class="actions  text-center">
    <%= f.hidden_field :user_id, :value => current_user.id %>
<% if @board.pending == false && @board.for_sale == true  %>
  <div class="well">
    here----
    <%= f.hidden_field :arrived, value: true %> unlist this sale
    <div class="actions">
      <%= f.submit 'submit', class:'btn btn-danger' %>
    </div>
<% elsif @board.pending == true  %>
   Cancel Sale here
    <%= f.hidden_field :pending, value: false %>
    <%= f.hidden_field :for_sale, value: false %>
  </div>
  <div class="actions">
    <%= f.submit 'cancel', class:'btn btn-danger' %>
  </div>
<% end %>


  <!-- <div class="actions">
    <%= f.submit 'submit', class:'btn btn-info' %>
  </div> -->
<% end %>
