<%= form_for(@board) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>

      </ul>
    </div>
  <% end %>

  <div class="actions  text-center">
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="well">
    <%= f.check_box :arrived %> check to unlist this sale

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
