<% if user_signed_in?%>
  <%= content_for :page_title,   current_user.name.capitalize   + "'s Dashboard" %>
  <% content_for(:header) do %>
  <%= render partial: 'layouts/spinner' %>

  <script>
$( document ).ready(function() {
// hide spinner
$(".sk-circle").hide();
// show spinner on AJAX start
$(document).ajaxStart(function(){
  $(".sk-circle").show();
});
$(document).ajaxStop(function(){
  $(".sk-circle").delay(400).hide(0);
});
// hide spinner on AJAX stop
});
  $(document).ready(function() {
    var activeBtn = document.getElementById('btn-active');
    var receiptBtn = document.getElementById('btn-receipt');
    var inventoryBtn = document.getElementById('btn-inventory');
    var shippedBtn = document.getElementById('btn-shipped');
    var pickUpBtn = document.getElementById('btn-pickup');
    var salesBtn = document.getElementById('btn-sales');
    var rentalBtn = document.getElementById('btn-rental');
    var accessoryBtn = document.getElementById('btn-accessory');
    var activeBtnM = document.getElementById('btn-active-m');
    var receiptBtnM = document.getElementById('btn-receipt-m');
    var inventoryBtnM = document.getElementById('btn-inventory-m');
    var shippedBtnM = document.getElementById('btn-shipped-m');
    var pickUpBtnM = document.getElementById('btn-pickup-m');
    var salesBtnM = document.getElementById('btn-sales-m');
    var rentalBtnM = document.getElementById('btn-rental-m');
    var accessoryBtnM = document.getElementById('btn-accessory-m');

    var receiptPG = document.getElementById('receipts');
    var activePG = document.getElementById('active');
    var inventoryPG = document.getElementById('inventory');
    var shippedPG = document.getElementById('shipped');
    var pickUpPG = document.getElementById('pickUp');
    var salesPG = document.getElementById('sales');
    var rentalPG = document.getElementById('rental');
    var accessoryPG = document.getElementById('accessories');

      activeBtn.onclick = function() {
          activePG.style['display'] = 'block';
          receiptPG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          pickUpPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          accessoryPG.style['display'] = 'none';


       };
       receiptBtn.onclick = function() {
          receiptPG.style['display'] = 'block';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          pickUpPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          accessoryPG.style['display'] = 'none';


       };
       inventoryBtn.onclick = function() {
          inventoryPG.style['display'] = 'block';
          activePG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          pickUpPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          accessoryPG.style['display'] = 'none';


       };
       shippedBtn.onclick = function() {
          shippedPG.style['display'] = 'block';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          pickUpPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          accessoryPG.style['display'] = 'none';


       };
       pickUpBtn.onclick = function() {
          pickUpPG.style['display'] = 'block';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          accessoryPG.style['display'] = 'none';


       };
       salesBtn.onclick = function() {
          pickUpPG.style['display'] = 'none';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';
          salesPG.style['display'] = 'block';
          accessoryPG.style['display'] = 'none';

       };
       rentalBtn.onclick = function() {
          pickUpPG.style['display'] = 'none';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'block';
          accessoryPG.style['display'] = 'none';

       };
       accessoryBtn.onclick = function() {
         accessoryPG.style['display'] = 'block';
          pickUpPG.style['display'] = 'none';
          activePG.style['display'] = 'none';
          inventoryPG.style['display'] = 'none';
          receiptPG.style['display'] = 'none';
          shippedPG.style['display'] = 'none';
          salesPG.style['display'] = 'none';
          rentalPG.style['display'] = 'none';

       };
      //mobile
      activeBtnM.onclick = function() {
         activePG.style['display'] = 'block';
         receiptPG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         pickUpPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';


      };
      receiptBtnM.onclick = function() {
         receiptPG.style['display'] = 'block';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         pickUpPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';


      };
      inventoryBtnM.onclick = function() {
         inventoryPG.style['display'] = 'block';
         activePG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         pickUpPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';


      };
      shippedBtnM.onclick = function() {
         shippedPG.style['display'] = 'block';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         pickUpPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';


      };
      pickUpBtnM.onclick = function() {
         pickUpPG.style['display'] = 'block';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';


      };
      salesBtnM.onclick = function() {
        salesPG.style['display'] = 'block';
         pickUpPG.style['display'] = 'none';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         rentalPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';

      };
      rentalBtnM.onclick = function() {
        rentalPG.style['display'] = 'block';
         pickUpPG.style['display'] = 'none';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
         accessoryPG.style['display'] = 'none';

      };
      accessoryBtnM.onclick = function() {
        accessoryPG.style['display'] = 'block';
        rentalPG.style['display'] = 'none';
         pickUpPG.style['display'] = 'none';
         activePG.style['display'] = 'none';
         inventoryPG.style['display'] = 'none';
         receiptPG.style['display'] = 'none';
         shippedPG.style['display'] = 'none';
         salesPG.style['display'] = 'none';
      };
     });
     // tokensJS

     </script>
     <!-- hide tokems partial -->
     <% if @user.stripe_account %>
     <script>


  $(document).ready(function() {
  var open = document.getElementById('showTokens');
  var tokenpartial = document.getElementById('tokenPartial');
  var closePartial = document.getElementById('closePartial');
  var dashData = document.getElementById('dashData');
  var dashBoard = document.getElementById('dashBoard');

  open.onclick = function() {
    if (tokenpartial.style.display == 'none') {
       tokenpartial.style['display'] = 'block';
       closePartial.style['display'] = 'block';
       open.style['display'] = 'none';
       dashData.style['overflow-y'] = 'hidden'
      //  elemelons
              $(function(){
                // Set your Stripe publishable API key here
                var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");

                var elements = stripe.elements();

                // Style the payment element
                var style = {
                  base: {
                    fontSize: "14px"
                  }
                };

                // Create an instance of the card Element
                var card = elements.create('card', {style: style});

                // Add an instance of the card Element into the `card-element` <div>
                card.mount('#card-element');

                // Listen for errors
                card.addEventListener('change', function(event) {
                  var displayError = document.getElementById('card-errors');
                  if (event.error) {
                    displayError.textContent = event.error.message;
                    displayError.style.display = 'block';
                  } else {
                    displayError.textContent = '';
                    displayError.style.display = 'none';
                  }
                });

                // Create a token
                var form = document.getElementById('payment-form');
                form.addEventListener('submit', function(event) {
                  event.preventDefault();

                  // Validate the form isn't empty before requesting a token
                  if (document.getElementById('amount').value == ''){
                    return false;
                  }

                  var submit_btn = document.getElementById('submit_payment');
                  var errorElement = document.getElementById('card-errors');
                  submit_btn.innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding tokens...";
                  submit_btn.className += " disabled";
                  stripe.createToken(card).then(function(result) {
                    if (result.error) {
                      errorElement.textContent = result.error.message;
                      errorElement.style.display = 'block';
                      submit_btn.innerHTML = "Purchase Tokens";
                      submit_btn.classList.remove("disabled");
                    } else {
                      // Reset errors
                      errorElement.textContent = '';
                      errorElement.style.display = 'none';
                      // Send the token to your server
                      stripeTokenHandler(result.token);
                    }
                  });
                });

                // Submit the token
                function stripeTokenHandler(token) {
                  // Insert the token ID into the form so it gets submitted to the server
                  var form = document.getElementById('payment-form');
                  var hiddenInput = document.createElement('input');
                  hiddenInput.setAttribute('type', 'hidden');
                  hiddenInput.setAttribute('name', 'stripeToken');
                  hiddenInput.setAttribute('value', token.id);
                  form.appendChild(hiddenInput);

                  // Submit the form
                  form.submit();
                }
              });
      // !elemelons

    }
    closePartial.onclick = function() {
    if (closePartial.style.display == 'block') {
      closePartial.style['display'] = 'none';
      tokenpartial.style['display'] = 'none';
      open.style['display'] = 'block';
      dashData.style['overflow-y'] = 'scroll'

    }
    };
  };
  });
    </script>
  </div>
  <% end %>
  <script>
  $(document).ready(
     function(){
         $('input:submit').attr('disabled',true);
         $('input:file').change(
             function(){
                 if ($(this).val()){
                     $('input:submit').removeAttr('disabled');
                 }
                 else {
                     $('input:submit').attr('disabled',true);
                 }
             });
     });
    </script>


  <% end %>
  <span id="dashboard"></span>
  <div class="div-wrapper" id="dashBoard">
  <% if @user.stripe_account %>
<div class="jumbotron gel bcg" id="msg-area" style="">
  <div class="pull-left" style="top:50px;left:1px;width:190px;position:fixed;z-index:1;">
      <h3 class="btn btn-sort" style="max-width:100px;link-style:none;position:relative;bottom:2px;left:11px;" id="showTokens"><%= tokens = current_user.tokens > 0 ? "#{current_user.tokens.to_s} tokens" : "get" + " tokens " %></h3>
      <h3 class="btn btn-danger" style="max-width:100px;display:none;position: relative;bottom: 2px;left: 11px;" id="closePartial">CLOSE</h3>
  </div>
<% if current_user.role == "admin" %>
<div id="csv-upload"><%= form_tag import_boards_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>
<% end %>
</div>
    <div id="tokenPartial" class="" style="    min-height: 285px;border:4px solid black;left:calc(50% - 150px);display:none;z-index:990;top:150px;position:absolute;">
      <div style="width:300px;min-height:200px;max-height240px;background-color:#f5f5f5;z-index:989;">
      <%= render partial: 'tokens/new' %>
      </div>
    </div>
    <div class="pull-left" style="max-height: 30px;margin: 0px;top:108px;left:10px;width:190px;position:fixed;z-index:1;">
      <% if  current_user.tokens > 2 && current_user.stripe_account %>
        <h3 class="btn btn-sort" style="max-height: 30px;margin: 0px;"><%= link_to 'Listing', new_board_path %></h3>
        <h3 class="btn btn-sort" style="max-height: 30px;margin: 0px;"><%= link_to "accessory" , accessoryInventory_path, remote: true, data: { toggle: "modal", target: "#newAcc" } %></td></h3>
      <% end %>
    </div>
    <% end %>
</div>




  <% if current_user && !current_user.stripe_account %>
  <div id="userDash" class="jumbotron bcg" style="">
    <div class="center-text" style="right:0px;position:absolute;top:50px;position:fixed;z-index:1;">
    <%= link_to 'new managed', new_stripe_account_path, class: 'btn-sort btn', style: 'color:black' %>
    </div>
  <% else %>
  <% array = [] %>
    <%  @stripe_account.verification.fields_needed.each do |i| array << i end %>
    <% array.include? 'legal_entity.ssn_last_4'%>
    <% if @stripe_account.verification.fields_needed  %>
    <div class="row" style="top: -2px;position: absolute;width: 156%;right: 166%;">
        <div class="alert alert-warning text-center shadow-sm">
          <p style="font-size:10px;">
            We need some information to continue processing your acct
            <%= link_to "Update your information", edit_stripe_account_path(@stripe_account.id), class: "btn btn-sm btn-warning btn-custom" %>
          </p>
        </div>
    </div>
    <% else %>
    <p style="font-size:10px;">
      <%= link_to "Update your information", edit_stripe_account_path(@stripe_account.id), class: "btn btn-sm btn-warning btn-custom" %>
    </p>
     <% end %>
 <% end %>
</div>

<!-- nav desktop -->
<div class="dash-nav-desktop btn-group-vertical pull-left bcg" role="group" aria-label="...">

  <% if !@user.stripe_account  %>
  <button type="button" class="btn btn-default" id="btn-rental"><%= link_to 'Rental',  rental_boards_events_path, remote:true,  data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."}  %></button>
  <% else %>
  <button type="button" class="btn btn-default" style="display:block;" id="btn-active"><%= link_to 'Active', active_boards_boards_path, remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>
  <button type="button" class="btn btn-default" id="btn-inventory"><%= link_to 'Inactive',  inactive_boards_boards_path, remote:true,  data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."}  %></button>
  <button type="button" class="btn btn-default" id="btn-accessory"><%= link_to 'accessories', table_accessories_path , remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>
  <button type="button" class="btn btn-default" id="btn-pickup"><%= link_to 'PickUp',  picked_boards_charges_path, remote:true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} , style: 'color:white;'%></button>
  <button type="button" class="btn btn-default" id="btn-shipped"><%= link_to 'Shipping',  shipped_boards_charges_path, remote:true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>
  <button type="button" class="btn btn-default" id="btn-sales"><%= link_to 'Sales', sales_boards_boards_path , remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>
  <button type="button" class="btn btn-default" id="btn-receipt"><%= link_to 'Receipts',  receipts_charges_path, remote:true,  data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."}  %></button>
  <button type="button" class="btn btn-default" id="btn-rental"><%= link_to 'Rental',  rental_boards_events_path, remote:true,  data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."}  %></button>

  <% end %>

</div>

<style>
  #btn-accessory a {
    margin-left:-9px;
  }
</style>
<!--!nav desktop  -->

<!-- nav mobile  starts at < 835px-->
<div class="dash-nav-mobile btn-group-vertical pull-left bcg" style="" role="group" aria-label="...">
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default dropdown-toggle">
       Dropdown
       <span class="caret"></span>
     </button>
     <ul class="dropdown-menu mobile-drop-dash" style="min-width: 10px;max-width: 100px;">
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-active-m"><%= link_to 'Active',  active_boards_boards_path, remote:true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-receipt-m"><%= link_to 'Receipts', receipts_charges_path, remote:true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-inventory-m"><%= link_to "Inactive", inactive_boards_boards_path, remote:true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-shipped-m"><%= link_to 'shipping',  shipped_boards_charges_path, remote:true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-pickup-m"><%= link_to 'Pick Up',  picked_boards_charges_path, remote:true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-sales-m"><%= link_to 'Sales', sales_boards_boards_path , remote: true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-rental-m"><%= link_to 'Rental', rental_boards_events_path , remote: true %></button></li>
       <li class="mobNavLi" ><button type="button" class="btn btn-default" id="btn-accessory-m"><%= link_to 'accessories', table_accessories_path , remote: true %></button></li>
     </ul>
   </div>
</div>
<style>

.dash-nav-mobile button a:active .dropdown-menu {
  display:none;
}


</style>
<!-- !nav mobile -->
<div class="dash-data" id="dashData">
  <div id="desktopTable" class="bcg">
<!-- Need to finish payment -->
<div style="display:none;" class="col-md-12 center-text"  id="active">
</div>
<div style="display:block;" class="dashTable col-md-12 center-text" id="receipts">

</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="inventory">
</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="shipped">
</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="pickUp">
</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="sales">
</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="rental">
</div>
<div  style="display:none;" class="dashTable col-md-12 center-text" id="accessories">
</div>
</div>
</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
     </div>
     <div class="modal-content">
     </div>
   </div>
   <div class="center-text" id="paginator">
   </div>
 </div>
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="chargeModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-header">
        <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
      </div>
      <div class="modal-content">
      </div>
    </div>
    <div class="center-text" id="paginator">
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="accModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
       </div>
       <div class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="accEdit">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" id="dismissEditModal" aria-label="Close"><span aria-hidden="true">Close</span></button>
       </div>
       <div style="background-color:azure;" class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
  </div>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="editModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
       </div>
       <div class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newAcc">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-header">
          <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
        </div>
        <div class="modal-content">
        </div>
      </div>
      <div class="center-text" id="paginator">
      </div>
    </div>
 <% else %>
 <h2 class="center-text"> login to continue</h2>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>

var handler = StripeCheckout.configure({
   key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Boards',
  description: 'Token purchase',
  token: function(token) {
    $('input#stripeToken').val(token.id);

    $('form').submit();
  }
});
$('#tokenButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 1000) {
    $('#error_explanation').html('<p> amount must be at least $10.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});
$(window).on('popstate', function() {
  handler.close();
});


$('.mobNavLi').on('click', function(){
  $('.mobile-drop-dash').toggle()
})
$('.dropdown-toggle').on('click', function(){
  $('.mobile-drop-dash').toggle()
})
</script>
