
<% if user_signed_in?%>
<div class="jumbotron gel" id="msg-area">
  <h2><%= current_user.tokens.to_s + " tokens " %> </h2>
    <div class="btn btn-sort" style="link-style:none;" id="showTokens">Get Tokens</div>
    <div id="tokenPartial" style="display:none;top:35px;position:absolute;left:33%;">
      <%= render partial: 'tokens/new' %>
    </div>

    <!-- <%= link_to "purchase tokens", new_token_path %> -->
</div>

<div class="pull-right" style="width:163px;right:0px;top:35px;position:absolute;margin-top:20px;">
  <% if  current_user && current_user.provider != nil %>
    <h3 class="btn btn-sort"><%= link_to 'Add listing', new_board_path %></h3>
 <% end %>
</div>
<div class="pull-right" style="width:163px;right:0px;top:15px;position:absolute;margin-top:50px;">
  <% if !user_signed_in? %>
    <h3 class="btn-sort"><%= link_to 'Add listing', new_user_registration_path %></h3>
    <div class="facebook-btn" style="color:white;position:absolute;top:20px;">
      <%= link_to 'Facebook log in', user_facebook_omniauth_authorize_path, class: 'btn-sort btn' %>
      </div>
 <% end %>
</div>
<div class="pull-right" style="width:210px;right:-50px;40px;top:30px;position:absolute;margin-top:50px;">
  <% if user_signed_in?  && current_user.provider == nil %>
    <%= link_to 'connect to post', user_stripe_connect_omniauth_authorize_path, class: 'btn-sort btn', style: 'color:black' %>
 <% end %>
</div>

<!-- nav desktop -->
<div class="dash-nav-desktop btn-group-vertical pull-left" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="btn-pending">pending</button>
  <button type="button" class="btn btn-default" style="display:block;" id="btn-active"><%= link_to 'Active', active_boards_boards_path, remote:true %></button>
  <button type="button" class="btn btn-default" id="btn-inventory"><%= link_to 'Inactive',  inactive_boards_boards_path, remote:true %></button>
  <button type="button" class="btn btn-default" id="btn-shipped">shipping</button>
  <button type="button" class="btn btn-default" id="btn-pickup">picking up</button>

</div>
<!--!nav desktop  -->

<!-- nav mobile  starts at < 835px-->
<div class="dash-nav-mobile btn-group-vertical pull-left" role="group" aria-label="...">
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Dropdown
       <span class="caret"></span>
     </button>
     <ul class="dropdown-menu"style="width:100%;">
       <li><button type="button" class="btn btn-default" id="btn-pending-m">pending</button></li>
       <li><button type="button" class="btn btn-default" id="btn-active-m"><%= link_to 'Active',  active_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-inventory-m"><%= link_to 'Inactive',  inactive_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-shipped-m">shipping</button></li>
       <li><button type="button" class="btn btn-default" id="btn-pickup-m">picking up</button></li>
     </ul>
   </div>
</div>
<!-- !nav mobile -->

<div class="dash-data">
<!-- Need to finish payment -->
<div style="display:none;" class="col-md-12 center-text"  id="active">

</div>
<div style="display:block;" class="col-md-12 center-text" id="pending">
  <%= render partial: 'pending_boards' %>
</div>

<div  style="display:none;" class="col-md-12 center-text" id="inventory">
</div>

<div  style="display:none;" class="col-md-12 center-text" id="shipped">
  <%= render partial: 'shipped_boards' %>
</div>
<div  style="display:none;" class="col-md-12 center-text" id="pickUp">
  <%= render partial: 'pick_boards' %>
</div>
</div>
  <% else %>
  <h2 class="center-text"> login to continue</h2>
 <% end %>

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-header">
        <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-content">
      </div>
    </div>
    <div class="center-text" id="paginator">
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="editModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
