
<% if user_signed_in?%>
  <%= content_for :page_title,   current_user.name.capitalize   + "'s Dashboard" %>
  <% content_for(:header) do %>
  <script>
  $(document).ready(function() {
    var activeBtn = document.getElementById('btn-active');
    var pendingBtn = document.getElementById('btn-pending');
    var inventoryBtn = document.getElementById('btn-inventory');
    var shippedBtn = document.getElementById('btn-shipped');
    var pickUpBtn = document.getElementById('btn-pickup');
    var salesBtn = document.getElementById('btn-sales');
    var activeBtnM = document.getElementById('btn-active-m');
    var pendingBtnM = document.getElementById('btn-pending-m');
    var inventoryBtnM = document.getElementById('btn-inventory-m');
    var shippedBtnM = document.getElementById('btn-shipped-m');
    var pickUpBtnM = document.getElementById('btn-pickup-m');
    var salesBtnM = document.getElementById('btn-sales-m');
    var pendingPG = document.getElementById('pending');
    var activePG = document.getElementById('active');
    var inventoryPG = document.getElementById('inventory');
    var shippedPG = document.getElementById('shipped');
    var pickUpPG = document.getElementById('pickUp');
    var salesPG = document.getElementById('sales');

   activeBtn.onclick = function() {
       activePG.style['display'] = 'block';
       pendingPG.style['display'] = 'none';
       inventoryPG.style['display'] = 'none';
       shippedPG.style['display'] = 'none';
       pickUpPG.style['display'] = 'none';
       salesPG.style['display'] = 'none';
    };
    pendingBtn.onclick = function() {
       pendingPG.style['display'] = 'block';
       activePG.style['display'] = 'none';
       inventoryPG.style['display'] = 'none';
       shippedPG.style['display'] = 'none';
       pickUpPG.style['display'] = 'none';
       salesPG.style['display'] = 'none';
    };
    inventoryBtn.onclick = function() {
       inventoryPG.style['display'] = 'block';
       activePG.style['display'] = 'none';
       pendingPG.style['display'] = 'none';
       shippedPG.style['display'] = 'none';
       pickUpPG.style['display'] = 'none';
       salesPG.style['display'] = 'none';
    };
    shippedBtn.onclick = function() {
       shippedPG.style['display'] = 'block';
       activePG.style['display'] = 'none';
       inventoryPG.style['display'] = 'none';
       pendingPG.style['display'] = 'none';
       pickUpPG.style['display'] = 'none';
       salesPG.style['display'] = 'none';
    };
    pickUpBtn.onclick = function() {
       pickUpPG.style['display'] = 'block';
       activePG.style['display'] = 'none';
       inventoryPG.style['display'] = 'none';
       pendingPG.style['display'] = 'none';
       shippedPG.style['display'] = 'none';
       salesPG.style['display'] = 'none';
    };
    salesBtn.onclick = function() {
       pickUpPG.style['display'] = 'none';
       activePG.style['display'] = 'none';
       inventoryPG.style['display'] = 'none';
       pendingPG.style['display'] = 'none';
       shippedPG.style['display'] = 'none';
       salesPG.style['display'] = 'block';
    };
   //mobile
   activeBtnM.onclick = function() {
      activePG.style['display'] = 'block';
      pendingPG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
      pickUpPG.style['display'] = 'none';
      salesPG.style['display'] = 'none';
   };
   pendingBtnM.onclick = function() {
      pendingPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
      pickUpPG.style['display'] = 'none';
      salesPG.style['display'] = 'none';
   };
   inventoryBtnM.onclick = function() {
      inventoryPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
      pickUpPG.style['display'] = 'none';
      salesPG.style['display'] = 'none';
   };
   shippedBtnM.onclick = function() {
      shippedPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
      pickUpPG.style['display'] = 'none';
      salesPG.style['display'] = 'none';
   };
   pickUpBtnM.onclick = function() {
      pickUpPG.style['display'] = 'block';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
      salesPG.style['display'] = 'none';
   };
   salesBtnM.onclick = function() {
     salesPG.style['display'] = 'block';
      pickUpPG.style['display'] = 'none';
      activePG.style['display'] = 'none';
      inventoryPG.style['display'] = 'none';
      pendingPG.style['display'] = 'none';
      shippedPG.style['display'] = 'none';
   };
  });
  // tokensJS
  $(document).ready(function() {
  var open = document.getElementById('showTokens');
  var tokenpartial = document.getElementById('tokenPartial');
  var closePartial = document.getElementById('closePartial');


  open.onclick = function() {
    if (tokenpartial.style.display == 'none') {
       tokenpartial.style['display'] = 'block';
       closePartial.style['display'] = 'block';
       open.style['display'] = 'none';
      //  elemelons

              $(function(){
                // Set your Stripe publishable API key here
                var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");

                var elements = stripe.elements();

                // Style the payment element
                var style = {
                  base: {
                    fontSize: "14px"
                  }
                };

                // Create an instance of the card Element
                var card = elements.create('card', {style: style});

                // Add an instance of the card Element into the `card-element` <div>
                card.mount('#card-element');

                // Listen for errors
                card.addEventListener('change', function(event) {
                  var displayError = document.getElementById('card-errors');
                  if (event.error) {
                    displayError.textContent = event.error.message;
                    displayError.style.display = 'block';
                  } else {
                    displayError.textContent = '';
                    displayError.style.display = 'none';
                  }
                });

                // Create a token
                var form = document.getElementById('payment-form');
                form.addEventListener('submit', function(event) {
                  event.preventDefault();

                  // Validate the form isn't empty before requesting a token
                  if (document.getElementById('amount').value == ''){
                    return false;
                  }

                  var submit_btn = document.getElementById('submit_payment');
                  var errorElement = document.getElementById('card-errors');
                  submit_btn.innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding tokens...";
                  submit_btn.className += " disabled";
                  stripe.createToken(card).then(function(result) {
                    if (result.error) {
                      errorElement.textContent = result.error.message;
                      errorElement.style.display = 'block';
                      submit_btn.innerHTML = "Purchase Tokens";
                      submit_btn.classList.remove("disabled");
                    } else {
                      // Reset errors
                      errorElement.textContent = '';
                      errorElement.style.display = 'none';
                      // Send the token to your server
                      stripeTokenHandler(result.token);
                    }
                  });
                });

                // Submit the token
                function stripeTokenHandler(token) {
                  // Insert the token ID into the form so it gets submitted to the server
                  var form = document.getElementById('payment-form');
                  var hiddenInput = document.createElement('input');
                  hiddenInput.setAttribute('type', 'hidden');
                  hiddenInput.setAttribute('name', 'stripeToken');
                  hiddenInput.setAttribute('value', token.id);
                  form.appendChild(hiddenInput);

                  // Submit the form
                  form.submit();
                }
              });


      // !elemelons

    }  closePartial.onclick = function() {
    if (closePartial.style.display == 'block') {
      closePartial.style['display'] = 'none';
      tokenpartial.style['display'] = 'none';
      open.style['display'] = 'block';

    }
  };
  };
  });
    </script>
  <% end %>
  <% if @user.stripe_account %>
<div class="jumbotron gel" id="msg-area">
  <h2><%= current_user.tokens.to_s + " tokens " %> </h2>
    <div class="btn btn-sort" style="max-width:100px;link-style:none;" id="showTokens">Get Tokens</div>
    <div class="btn btn-danger" style="max-width:100px;display:none;" id="closePartial">CLOSE</div>

    <div id="tokenPartial" class="" style="border:4px solid black;left:calc(50% - 150px);display:none;z-index:990;top:150px;position:absolute;">
      <div style="width:300px;min-height:200px;max-height240px;background-color:#f5f5f5;z-index:989;">
      <%= render partial: 'tokens/new' %>
      </div>
    </div>
</div>
<% end %>


<div class="pull-right" style="top:65px;right:-70px;width:183px;position:fixed;z-index:1;">
  <% if  current_user && current_user.stripe_account != nil %>
    <h3 class="btn btn-sort"><%= link_to 'Add listing', new_board_path %></h3>
 <% end %>
</div>


<div class="center-text" style="right:0px;position:absolute;top:50px;position:fixed;z-index:1;">
  <% if current_user.stripe_account == nil %>
    <%= link_to 'new managed', new_stripe_account_path, class: 'btn-sort btn', style: 'color:black' %>
  <% else %>
  <% array = [] %>
  <%  @stripe_account.verification.fields_needed.each do |i| array << i end %>
  <% array.include? 'legal_entity.ssn_last_4'%>
    <% if @stripe_account.verification.fields_needed  %>
    <div class="row" style="top: -2px;position: absolute;width: 156%;right: 166%;">
        <div class="alert alert-warning text-center shadow-sm">
          <p style="font-size:10px;">
            We need some information to continue processing your acct
            <%= link_to "Update your information", edit_stripe_account_path(@stripe_account.id), class: "btn btn-sm btn-warning btn-custom" %>
          </p>
        </div>
    </div>
    <% else %>
    <p style="font-size:10px;">
      <%= link_to "Update your information", edit_stripe_account_path(@stripe_account.id), class: "btn btn-sm btn-warning btn-custom" %>
    </p>
     <% end %>
    <!-- <%= link_to 'connect to post', user_stripe_connect_omniauth_authorize_path, class: 'btn-sort btn', style: 'color:black' %> -->
 <% end %>

</div>

<!-- nav desktop -->
<div class="dash-nav-desktop btn-group-vertical pull-left" role="group" aria-label="...">
  <button type="button" class="btn btn-default" style="display:block;" id="btn-active"><%= link_to 'Active', active_boards_boards_path, remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>
  <button type="button" class="btn btn-default" id="btn-pending">pending</button>
  <button type="button" class="btn btn-default" id="btn-inventory"><%= link_to 'Inactive',  inactive_boards_boards_path, remote:true,  data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."}  %></button>
  <button type="button" class="btn btn-default" id="btn-shipped"><%= link_to 'Shipping',  shipped_boards_boards_path, remote:true %></button>
  <button type="button" class="btn btn-default" id="btn-pickup"><%= link_to 'PickUp',  pick_boards_boards_path, remote:true %></button>
  <button type="button" class="btn btn-default" id="btn-sales"><%= link_to 'Sales', sales_boards_boards_path , remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> ..."} %></button>

</div>
<!--!nav desktop  -->

<!-- nav mobile  starts at < 835px-->

<div class="dash-nav-mobile btn-group-vertical pull-left" role="group" aria-label="...">
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Dropdown
       <span class="caret"></span>
     </button>
     <form>
       <script>
       (function(){
         list = $('.mobile-dash-li');
         list.onclick = function() {
           list.addClass('hidden');
         }
       })();

       </script>
     <ul class="dropdown-menu mobile-dash-li" style="width:100%;">
       <li><button type="button" class="btn btn-default" id="btn-active-m"><%= link_to 'Active',  active_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-pending-m">pending</button></li>
       <li><button type="button" class="btn btn-default" id="btn-inventory-m"><%= link_to 'Inactive',  inactive_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-shipped-m"><%= link_to 'shipping',  shipped_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-pickup-m"><%= link_to 'Pick Up',  pick_boards_boards_path, remote:true %></button></li>
       <li><button type="button" class="btn btn-default" id="btn-sales-m"><%= link_to 'Sales', sales_boards_boards_path , remote: true %></button></li>
     </ul>
   </form>
   </div>
</div>
<!-- !nav mobile -->


<div class="dash-data">
<!-- Need to finish payment -->
<div style="display:none;min-height:100%" class="col-md-12 center-text"  id="active">

</div>
<div style="display:block;" class="col-md-12 center-text" id="pending">
<%= render partial: 'pages/pending_boards' %>
</div>

<div  style="display:none;" class="col-md-12 center-text" id="inventory">
</div>

<div  style="display:none;" class="col-md-12 center-text" id="shipped">

</div>
<div  style="display:none;" class="col-md-12 center-text" id="pickUp">

</div>
<div  style="display:none;" class="col-md-12 center-text" id="sales">

</div>
</div>
<%= form_tag({controller: :boards, action: :search_dash}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:absolute;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
    <%= grouped_collection_select nil, :category_id, Type.all, :categories,
          :name, :id, :name, {prompt: "Choose a type" },
          { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->

 <% end %>
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-header">
        <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-content">
      </div>
    </div>
    <div class="center-text" id="paginator">
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="editModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
 <% else %>
 <h2 class="center-text"> login to continue</h2>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>

var handler = StripeCheckout.configure({
   key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Boards',
  description: 'Token purchase',
  token: function(token) {
    $('input#stripeToken').val(token.id);

    $('form').submit();
  }
});
$('#tokenButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 1000) {
    $('#error_explanation').html('<p> amount must be at least $10.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});
$(window).on('popstate', function() {
  handler.close();
});
</script>
