<!-- <p id="notice"><%= notice %></p> -->

<!-- start board load -->


<span id="top"></span>
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div class="row board-search-form">
     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
         <%= grouped_collection_select nil, :category_id, Type.all, :categories,
               :name, :id, :name, {prompt: "Choose a type" },
               { id: 'category-select' , class: "form-control"} %>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
           <%= collection_select(nil, :make, Board.order(:make), :make, :make, {prompt: "Choose make"},{ class: "form-control" }) %>
          </span>
       </div>
     </div>
   </div><!-- /.row -->

   <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
      </span>
    </div><!-- /input-group -->
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control' })  %>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    New:<span class="check-box-search"><%= check_box_tag :new,params[:new], true%> </span>
    Used:<span class="check-box-search"><%= check_box_tag :used,params[:used], true%> </span>
    Rental:<span class="check-box-search"><%= check_box_tag :rental, params[:rental] %> </span>

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="col-lg-12 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
<br>

<%= render partial: 'search_signed_in'%>
</div>

<div style="position:fixed;bottom:10px;right:30px;"><a href="#top"><i class="fa fa-caret-up" aria-hidden="true"></i></a></div>
