<!-- <p id="notice"><%= notice %></p> -->

<% unless current_user %>

  <div style="position:absolute; left:calc(50% - 20px;)">
    <p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
  <% else %>
  <% if  current_user && current_user.provider != nil %>
    <h3 class="pull-right btn-outline" ><%= link_to 'New', new_board_path %></h3>
  <% end %>

  <% if current_user && current_user.provider == nil %>
    <%= link_to image_tag('powered-by-stripe.png'), user_stripe_connect_omniauth_authorize_path %>
  <% elsif current_user && current_user.provider != nil %>
    <h2 style="color:black;"> CONNECTED <%= current_user.uid %> </h2>
  <% end %>


  <table class="well center-text" style="width:100%;">
    <thead>
      <td>
        <h1 class="center-text" style="padding-left: 25px;">Boards</h1>
      </td>
    </thead>
<!-- start board load -->


<div class="col-lg-8">
 <div class="well" style="background:silver; box-shadow: 1px 4px 9px 4px black; border-color: snow;">
<%= form_tag({controller: :boards, action: :search}, {method: :get}) do  %>
 <div class="col-sm-4">
   <!-- <%= collection_select( nil, :type_id, Type.all, :id, :name, { :include_blank => 'all'} , { :class => 'form-control' })  %> -->

 <%= collection_select(nil, :type_id, Type.all, :id, :name, {prompt: "Choose a type" },{ :class => 'form-control' }) %>
</div>
 <div class="col-sm-4">
 <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'Miles from you'} , { :class => 'form-control' })  %>
</div>

 <%= text_field_tag :keyword  %> <%= submit_tag "search" %>

</div>
<% end %>
</div>
<table class="well" style="width:100%;">
  <thead >
    <td>
    </td>
  </thead>
<% if @boardies.length < 1 %>
  <%= render partial: 'none' %>
<% end %>
<% @boardies.each do |board| %>
  <tbody class="col-sm-6 col-md-4" >
    <% if @boardies.length == 0 %>
      <%= render partial: 'none' %>
    <% end %>
    <td class="well center-text"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 240, 240), board %>
    <ul style="top:10px;position:relative;right:30px;list-style-type:none; text-align:left;">
     <li class="center-text title-ind">
        <%= link_to board.title, board %>
     </li>
     <li>
      <%=  board.description.truncate(38)  %>
     </li>
     <li>
      <strong>Height: </strong><%= board.length %>
      <strong>width: </strong><%= board.width %>

        <% if board.type_id == 1 %>
         <strong>Volume: </strong><%= board.volume %>
        <% end %>

     </li>
     <li>
      type: <%= board.type.name %>
     </li>
     <li>
      <strong>$<%=  board.price %></strong>
     </li>
    </ul>
    </td>
    <!-- <%if current_user && board.user_id == current_user.id %>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> -->
    <% end %>

  </tbody>
</table>
<br>

</div>
<% end %>
