<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIDdA5C2oS2Opd5tIqc8B9Fe-Z1NsrBes"></script>

<script>
$(function() {
$("#geo-input").geocomplete();
country: "US"
});

$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');
var type_select = document.getElementById('type_select');
var mainSearch = document.getElementById('mainsearch');
openExtended.onclick = function() {
   if(this.style.display == 'block') {
     this.style['display'] = 'none';
     extended.style['display'] = 'block';
   }
};

type_select.onchange = function() {
  mainSearch.style['display'] = 'block'
  }
});


$(window).scroll(function(){
    //Click event to scroll to top
    $(".next").click(function(){
        $('html, body').animate({scrollTop : 200},0);

    });
  });


</script>

<% end %>
<span id="top" name="top" style="display:block;position:relative;top:-50px;"></span>
<div id="type_select">
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
<span class="input-group-btn">
  <%= collection_select(nil, :type_id, Type.all.order(:name), :id, :name, {prompt: "Choose type"},{id:'type-select' ,class: "form-control" }) %>
</span>
<% submit_tag "Submit" %>
<% end %>
  </div>
<div id="mainsearch" style="display:none;">
<%= render partial: 'search_form' %>
</div>
<br>
<div>
  <%= render partial: 'search_signed_in'%>
</div>

<div style="position:fixed;bottom:20px;right:30px;">
  <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
</div>
