
<!--  -->
<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
     </div>
     <div class="modal-content">
     </div>
   </div>
   <div class="center-text" id="paginator">
   </div>
 </div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="surfModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
     </div>
     <div class="modal-content">
     </div>
   </div>
   <div class="center-text" id="paginator">
   </div>
 </div>
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="accModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" id="dismissAccModal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
       </div>
       <div style="background-color:azure;" class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIDdA5C2oS2Opd5tIqc8B9Fe-Z1NsrBes"></script>
<script>
$(function() {
$("#geo-input").geocomplete();
  country: "US"
});

$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');
var type_select = document.getElementById('type_select');
var typeSelect = document.getElementById('type-select');
var mainSearch = document.getElementById('mainsearch');
var type_value = document.getElementById('type-value');
var featuredDiv = document.getElementById('featured-boards');
var searchSigned = document.getElementById('search-result-partial')
var searchResults = document.getElementById('results');
var searchBar = document.getElementById('search-bar');

openExtended.onclick = function() {
   if(extended.style.display == 'none') {
     this.innerHTNL = 'Close Extended';
     extended.style['display'] = 'block';
     searchResults.style['top'] = '315px';
       } else if (extended.style.display == 'block') {
     extended.style['display'] = 'none';
     this.innerHTNL = 'Open Extended';
     searchResults.style['top'] = '190px';

   }
};

type_select.onchange = function() {
  mainSearch.style['display'] = 'block';
  featuredDiv.style['display'] = 'none';
  type_value.style['top'] = '50px';
  type_select.style['z-index'] = '1';
  type_select.style['position'] = '';
  searchSigned.style['display'] = 'block';
  searchBar.style['display'] = 'block';
  typeSelect.style['position'] = 'relative';
  typeSelect.style['margin-right'] = '10px';
  typeSelect.style['z-index'] = '1';
  typeSelect.style['top'] = '96px';
  typeSelect.style['background'] = 'darkslategrey';
  typeSelect.style['color'] = 'white';

  }
});

function updateTextArea(source){
 var value = source;
 var type_val = document.getElementById('show_type');
  type_val.innerHTML = value
  document.getElementById('hidden_type').value = value;
};

$(window).scroll(function(){
    //Click event to scroll to top
    $(".next").click(function(){
        $('html, body').animate({scrollTop : 200},0);
    });
  });
</script>

<% end %>

<!--  -->
<div id="div-wrapper" style="">
  <div id="type_select" style="">
    <%= form_tag({controller: :boards, action: :search_type}, {method: :get, remote: true}) do  %>
    <span id="type-value" class="type_collection" style="">
      <%= collection_select(nil, :type_id, Type.all.order(:name), :id, :name, options = {prompt: 'Select Type', id:'type-select' ,class: "typesone form-control"}, html_options = {id:'type-select' , :onchange => "updateTextArea(this.value)"})  %>
    </span>
    <% submit_tag "Submit" %>
    <% end %>
  </div>

  <div id="featured-boards"  class="single-div" style="">
    <div id="about" class="bcg">
          <h1 class="center-text" id="kuivir-header" style="padding: 0px 15px;border-bottom: 1px solid white;left: calc(50% - 63px);position: absolute;top: 15%;color: white;"> kuivir </h1>
           <h3 style="left: calc(50% - 104px);color: white;top:45%;position: absolute;font-weight:300;">board market place</h3>
    </div>

  <div id="feature-divs" class="single-div bcg" style="">
    <div class="featured" style="">
      <% if current_user %>
       <% @surf = current_user.not_my_boards(@surf) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span class="center-text"><h3 style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;"> Surf </h3></span>
       <%= render partial: 'featured', locals: {boards: @surf} %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
       <% @surf = current_user.not_my_boards(@snow) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span class="center-text"><h3 style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;"> Snow </h3></span>
       <%= render partial: 'featured', locals: {boards: @snow} %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
       <% @skate = current_user.not_my_boards(@skate) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span class="center-text"><h3 style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;"> Skate </h3></span>
       <%= render partial: 'featured', locals: {boards: @skate} %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
       <% @wake = current_user.not_my_boards(@wake) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span class="center-text"><h3 style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;"> Wake </h3></span>
       <%= render partial: 'featured', locals: {boards: @wake} %>
    </div>
  </div>
</div>

  <div id="mainsearch" class="bcg single-div" style="">
  <%= render partial: 'search_form' %>
  </div>

  <div id="search-result-partial" class=" bcg single-div" style="">
    <%= render partial: 'search_signed_in'%>
  </diV>

  </div>
  <div style="z-index: 999;position:fixed;bottom:20px;right:30px;">
    <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
  </div>
  <%= render 'layouts/spinner' %>
  <div id="footer" class="bcg single-div">


      <a href="https://www.google.com">
        Info
      </a>

      <a href="https://www.google.com">
        Info
      </a>

  </div>
</div>
