<!--  -->
<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<span style="z-index:999999;position:fixed;top:25%;left:50%;"><%= render 'layouts/spinner' %></span>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" class="close" style="background-color:darkslategrey;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="closeModal">&times</span></button>
     </div>
     <div class="modal-content">
     </div>
   </div>
   <div class="center-text" id="paginator">
   </div>
 </div>
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="loginModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-header">
        <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="closeModal">&times</span></button>
      </div>
      <div class="modal-content">
      </div>
    </div>
    <div class="center-text" id="paginator">
    </div>
  </div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="surfModal">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-header">
       <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="closeModal">&times</span></button>
     </div>
     <div class="modal-content">
     </div>
   </div>
   <div class="center-text" id="paginator">
   </div>
 </div>
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  id="accModal">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-header">
         <button type="button" class="close" style="background-color:black;width:100%;height:30px;border-radius:2%;color:white;" id="dismissAccModal" aria-label="Close"><span aria-hidden="true" class="closeModal">&times</span></button>
       </div>
       <div style="background-color:azure;" class="modal-content">
       </div>
     </div>
     <div class="center-text" id="paginator">
     </div>
   </div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIDdA5C2oS2Opd5tIqc8B9Fe-Z1NsrBes"></script>
<script>
$(function() {
$("#geo-input").geocomplete();
  country: "US"
});


$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');
var type_select = document.getElementById('type_select');
var typeSelect = document.getElementById('type-select');
var mainSearch = document.getElementById('mainsearch');
var type_value = document.getElementById('type-value');
var featuredDiv = document.getElementById('featured-boards');
var searchSigned = document.getElementById('search-result-partial')
var searchResults = document.getElementById('results');
var searchBar = document.getElementById('search-bar');
var type_button1 = document.getElementById('type_button-surf');
var type_button2 = document.getElementById('type_button-snow');
var type_button3 = document.getElementById('type_button-skate');
var type_button4 = document.getElementById('type_button-wake');
openExtended.onclick = function() {
   if(extended.style.display == 'none') {
     this.innerHTNL = 'Close Extended';
     extended.style['display'] = 'block';
     searchResults.style['top'] = '315px';
       } else if (extended.style.display == 'block') {
     extended.style['display'] = 'none';
     this.innerHTNL = 'Open Extended';
     searchResults.style['top'] = '190px';
   }
};
type_select.onchange = function() {
  mainSearch.style['display'] = 'block';
  featuredDiv.style['display'] = 'none';
  type_value.style['top'] = '50px';
  type_select.style['z-index'] = '1';
  type_select.style['position'] = '';
  searchSigned.style['display'] = 'block';
  searchBar.style['display'] = 'block';
  typeSelect.style['position'] = 'relative';
  typeSelect.style['margin-right'] = '10px';
  typeSelect.style['z-index'] = '1';
  typeSelect.style['top'] = '100px';
  typeSelect.style['background'] = 'darkslategrey';
  typeSelect.style['color'] = 'white';
  document.location = '#top'
  }
  var sel = document.getElementById('type-select')
  var button = document.getElementById('type_button-surf');
  var button1 = document.getElementById('type_button-snow');
  var button2 = document.getElementById('type_button-skate');
  var button3 = document.getElementById('type_button-wake');


  button.addEventListener('click', function (e) {
      sel.options[3].selected = true;


      if ("createEvent" in document) {
          var evt = document.createEvent("HTMLEvents");
          evt.initEvent("change", false, true);
          sel.dispatchEvent(evt);
      }
      else {
          sel.fireEvent("onchange");
      }
      $.ajax({
          url:  "/boards/search_type",
          type: "GET",
          data: { type_id: 1
         }
      });
  });
  button1.addEventListener('click', function (e) {
      sel.options[2].selected = true;


      if ("createEvent" in document) {
          var evt = document.createEvent("HTMLEvents");
          evt.initEvent("change", false, true);
          sel.dispatchEvent(evt);
      }
      else {
          sel.fireEvent("onchange");
      }
      $.ajax({
          url:  "/boards/search_type",
          type: "GET",
          data: { type_id: 2
         }
      });
  });


  button2.addEventListener('click', function (e) {
      sel.options[1].selected = true;

      if ("createEvent" in document) {
          var evt = document.createEvent("HTMLEvents");
          evt.initEvent("change", false, true);
          sel.dispatchEvent(evt);
      }
      else {
          sel.fireEvent("onchange");
      }
      $.ajax({
          url:  "/boards/search_type",
          type: "GET",
          data: { type_id: 3
         }
      });
  });
  button3.addEventListener('click', function (e) {
      sel.options[4].selected = true;

      if ("createEvent" in document) {
          var evt = document.createEvent("HTMLEvents");
          evt.initEvent("change", false, true);
          sel.dispatchEvent(evt);
      }
      else {
          sel.fireEvent("onchange");
      }
      $.ajax({
          url:  "/boards/search_type",
          type: "GET",
          data: { type_id: 4
         }
      });
  });
  sel.addEventListener('change', function (e) {
    mainSearch.style['display'] = 'block';
    featuredDiv.style['display'] = 'none';
    type_value.style['top'] = '50px';
    type_select.style['z-index'] = '1';
    type_select.style['position'] = '';
    searchSigned.style['display'] = 'block';
    searchBar.style['display'] = 'block';
    typeSelect.style['position'] = 'relative';
    typeSelect.style['margin-right'] = '10px';
    typeSelect.style['z-index'] = '1';
    typeSelect.style['top'] = '100px';
    typeSelect.style['background'] = 'darkslategrey';
    typeSelect.style['color'] = 'white';
    document.location = '#top'
  });



});

function updateTypeArea(source){
 var value = source;
 var type_val = document.getElementById('show_type');
  type_val.innerHTML = value
  document.getElementById('hidden_type').value = value;
   var surfSize = document.getElementById('surfTable');
   var snowSize = document.getElementById('snowTable');
   var skateSize = document.getElementById('skateTable');
   var wakeSize = document.getElementById('wakeTable');

  var openGuide = document.getElementById('showGuide');
  var guidePartial = document.getElementById('guidePartial');
  var closeGuide = document.getElementById('closeGuide');
  openGuide.onclick = function() {
    if (guidePartial.style.display == 'none') {
       guidePartial.style['display'] = 'block';
       closeGuide.style['display'] = 'block';
       openGuide.style['display'] = 'none';
     }
     if (value == "1"){
       surfSize.style['display'] = 'block'
       snowSize.style['display'] = 'none'
       skateSize.style['display'] = 'none'
       wakeSize.style['display'] = 'none'
     };
     if (value == "2"){
       snowSize.style['display'] = 'block'
       surfSize.style['display'] = 'none'
       skateSize.style['display'] = 'none'
       wakeSize.style['display'] = 'none'
     };
     if (value == "3"){
       skateSize.style['display'] = 'block'
       surfSize.style['display'] = 'none'
       snowSize.style['display'] = 'none'
       wakeSize.style['display'] = 'none'
     };
     if (value == "4"){
       wakeSize.style['display'] = 'block'
       surfSize.style['display'] = 'none'
       skateSize.style['display'] = 'none'
       snowSize.style['display'] = 'none'
     };
     };
     closeGuide.onclick = function() {
       if (guidePartial.style.display == 'block') {
          guidePartial.style['display'] = 'none';
          closeGuide.style['display'] = 'none';
          openGuide.style['display'] = 'block';
        }
  };

};

$(window).scroll(function(){
    //Click event to scroll to top
    $(".next").click(function(){
        $('html, body').animate({scrollTop : 200},0);
    });
  });


</script>

<% end %>

<!--  -->
<div id="div-wrapper" style="">
  <div id="type_select" style="">
    <%= form_tag({controller: :boards, action: :search_type}, {method: :get, remote: true}) do  %>
    <span id="type-value" class="type_collection" style="">
      <%= collection_select(nil, :type_id, Type.all.order(:name), :id, :name, options = {prompt: 'Select Type', id:'type-select' ,class: "typesone form-control"}, html_options = {id:'type-select' , :onchange => "updateTypeArea(this.value)"})  %>
    </span>
    <% submit_tag "Submit" %>
    <% end %>
  </div>

  <div id="featured-boards"  class="single-div" style="">
    <div id="about" class="bcg">
          <h1 class="center-text" id="kuivir-header" style="padding: 0px 15px;border-bottom: 1px solid white;left: calc(50% - 63px);position: absolute;top: 15%;color: white;"> kuivir </h1>
           <h3 style="left: calc(50% - 104px);color: white;top:45%;position: absolute;font-weight:300;">board market place</h3>
    </div>

  <div id="feature-divs" class="single-div bcg" style="">
    <div class="featured" style="">
      <% if current_user %>
       <% @surf = current_user.not_my_boards(@surf) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span id="type_button-surf" class="ftr-btn center-text" style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;
       font-size: 27px;left: calc(50% - 32px);">Surf</span>
       <% if @surf.count >= 1 %>
       <%= render partial: 'featured', locals: {boards: @surf} %>
       <% end %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
      <% @snow = current_user.not_my_boards(@snow) %>
      <% end %>
      <hr class="style13" style="margin:0;">
      <span id="type_button-snow" class="ftr-btn center-text" style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;
      font-size: 27px;left: calc(50% - 32px);">Snow</span>

       <% if @snow.count >= 1 %>
       <%= render partial: 'featured', locals: {boards: @snow} %>
       <% end %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
       <% @skate = current_user.not_my_boards(@skate) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span id="type_button-skate" class="ftr-btn center-text" style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;
       font-size: 27px;left: calc(50% - 32px);">Skate</span>
       <% if @skate.count >= 1 %>
        <%= render partial: 'featured', locals: {boards: @skate} %>
       <% end %>
    </div>
    <div class="featured" style="">
      <% if current_user %>
         <% @wake = current_user.not_my_boards(@wake) %>
       <% end %>
       <hr class="style13" style="margin:0;">
       <span id="type_button-wake" class="ftr-btn center-text" style="color:darkslategrey;text-shadow:2px 0px snow;position:relative;
       font-size: 27px;left: calc(50% - 32px);">Wake</span>
       <%= render partial: 'featured', locals: {boards: @wake} %>
       <% if @wake.count >= 1 %>
       <% end %>
    </div>
  </div>
</div>
<style>
#guidePartial td{
  font-size:10px;
}
#guidePartial th{
  font-size:11px;
}
</style>

  <div id="mainsearch" class="bcg single-div" style="">
   <%= render partial: 'search_form' %>
   <hr class="style14" style="margin-top:1px;">
   <span id="showGuide" style="color: black !important;background-color: white;position: absolute;top: 121px;right: 28px;text-decoration:underline;cursor:pointer;"> SIze Guide </span>
   <div id="guidePartial" class="" style="left:calc(50% - 197px);border:1px solid black;display:none;z-index:990;top:150px;position:absolute;">
     <h3 class="btn btn-danger pull-right layer" style="height:30px;max-width:100%;display:none;position:relative;bottom:20px;" id="closeGuide">&times</h3>
     <div style="background-color:#f5f5f5;">
     <%= render partial: 'layouts/guide' %>
     </div>
   </div>

  </div>

  <div id="search-result-partial" class=" bcg single-div" style="">
    <%= render partial: 'search_signed_in'%>
  </diV>

  </div>
  <div style="z-index: 999;position:fixed;bottom:20px;right:30px;">
    <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
  </div>
  <div id="footer" class="bcg single-div">
      <a href="https://www.google.com">
        Info
      </a>

      <a href="https://www.google.com">
        Info
      </a>

  </div>
</div>
