<p id="notice"><%= notice %></p>

<h3 class="pull-right"><%= link_to 'New', new_board_path %></h3>

<% if current_user && current_user.provider == nil %>
<%= link_to image_tag('powered-by-stripe.png'), user_stripe_connect_omniauth_authorize_path %>
<% elsif current_user && current_user.provider != nil %>
<h2 style="color:white;"> CONNECTED <%= current_user.uid %> </h2>
<% end %>


<table class="well" style="width:100%;">
  <thead >
    <td>
 <h1 style="padding-left: 25px;">Boards</h1>
    </td>
  </thead>

  <tbody class="well">
    <% @boardies.each do |board| %>
      <tr>
        <td style="padding-left: 15px;"><%= link_to board.title, board %></td>
        <td>: <%=  board.make  %> </td>
        <td>: <%=  board.length %> </td>
        <strong> <td>: $<%=  board.price %> </td> </strong>


        <%if current_user && board.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</hr>
<div class="well well-styled">
   <% if @charge %>
 <div class="well well-styled">
   <h4 style="text-decoration:underline;">Pending Arrival</h4>
  <% @charge.each do |charge| %>
   <% if charge.completed == false %>
    <% my_charge = Charge.find_by(user_id: current_user.id, completed: false) %>
    <%my_board = Board.find_by(title: charge.item ) %>
    <% if my_charge.user_id === current_user.id && my_board.user_id != current_user.id%>
    <h3><%= link_to my_board.title, my_board %></h3>
      <div class="btn btn-success" style="text-decoration:none;">
        <%= link_to 'complete purchase / arrived!', complete_charge_path(charge_id: my_charge.id, token: my_charge.token, price: my_charge.price, customer_id: my_charge.customer_id, destination: my_charge.vendor.uid) %>
      </div>
      <% end %>
     <div>
      <strong>Reservation:</strong> <%= charge.item%>
      <strong>Completed payment:</strong> <%= charge.completed %>
    </div>
    <% end %>
  <% end %>
  <% end %>


</div>


</div>
</div>



<% unless signed_on %>
<p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
<% end %>
