<!-- <p id="notice"><%= notice %></p> -->
<div class="pull-right" style="width:163px;right:20px;top:15px;position:absolute;margin-top:20px;">
  <% if  current_user && current_user.provider != nil %>
    <h3 class="btn-outline" ><%= link_to 'Add listing', new_board_path %></h3>
 <% end %>
</div>
<div class="pull-right" style="width:163px;right:20px;top:15px;position:absolute;margin-top:20px;">
  <% if !user_signed_in? %>
    <h3 class="btn-outline"><%= link_to 'Add listing', new_user_registration_path %></h3>
    <div class="facebook-btn" style="color:white;position:absolute;right:110%; top:20px;">
      <%= link_to 'Facebook log in', user_facebook_omniauth_authorize_path, class: 'btn-outline btn' %>
      </div>
 <% end %>
</div>
<div class="pull-right" style="width:210px;right:-50px;40px;top:30px;position:absolute;margin-top:20px;">
  <% if user_signed_in?  && current_user.provider == nil %>
    <%= link_to 'connect to post', user_stripe_connect_omniauth_authorize_path, class: 'btn-outline btn' %>
 <% end %>
</div>

  <table class="well center-text" style="width:100%;">
    <thead>
      <td>
        <h1 class="center-text" style="padding-left: 25px;">Boards </h1>

      </td>
      </div>

    </thead>
<!-- start board load -->


<!-- test on local search -->

<div class="col-lg-9" style="position:relative;margin-top:25px;">
  <div class="well cat-well" style="margin:10px 0;background:azure; box-shadow: 1px 4px 9px 4px grey; border-color: white;">
  <%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
  <div style="padding-left:15px;width:390px;">
    <%= text_field_tag :keyword, nil, class: 'form-control enter-width'  %><%= submit_tag "search", class: 'search-width form-control ', style: 'position:relative;top:-34px;left:195px;' %>
  </div>
  <div style="padding-left:15px;width:300px;margin-top:-30px;">
    <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
    <div class="">
      <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'max distance (mi.)'} , { :class => 'form-control' })  %>
    </div>
  </div>
  <div class="col-sm-4 types" style="margin-top:20px;">
    <%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: " cat-width form-control" }) %>
    <%= grouped_collection_select nil, :category_id, Type.all, :categories,
          :name, :id, :name, { include_blank: true },
          { id: 'category-select' , class: "cat-width form-control"} %>
  <% end %>
  </div>
</div>
</div>

  <%= render partial: 'search_signed_in' %>

<br>


<div class="center-text"><%= paginate @boards %></div>
