<!-- <p id="notice"><%= notice %></p> -->

<!-- start board load -->

<hr class="style13">

<!-- test on local search -->
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div class="row">
       <div class="col-lg-6">
         <div class="input-group">
           <span class="input-group-btn">
             <%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: "form-control" }) %>
            </span>
         </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->

     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
         <%= grouped_collection_select nil, :category_id, Type.all, :categories,
               :name, :id, :name, { include_blank: true },
               { id: 'category-select' , class: "form-control"} %>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
   </div><!-- /.row -->

   <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control' })  %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
      </span>
    </div><!-- /input-group -->
    New:<span class="check-box-search"><%= check_box_tag :new,params[:new], true%> </span>
    Used:<span class="check-box-search"><%= check_box_tag :used,params[:used], true%> </span>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="col-lg-12">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
<br>
<hr class="style13" style="">
<%= render partial: 'search_signed_in'%>
</div>
