<!-- <p id="notice"><%= notice %></p> -->
<div class="pull-right" style="width:163px;right:20px;top:15px;position:absolute;margin-top:20px;">
  <% if  current_user && current_user.provider != nil %>
    <h3 class="btn-outline" ><%= link_to 'Add listing', new_board_path %></h3>
 <% end %>
</div>
<div class="pull-right" style="width:163px;right:20px;top:15px;position:absolute;margin-top:20px;">
  <% if !user_signed_in? %>
    <h3 class="btn-outline"><%= link_to 'Add listing', new_user_registration_path %></h3>
    <div class="facebook-btn" style="color:white;position:absolute;right:110%; top:20px;">
      <%= link_to 'Facebook log in', user_facebook_omniauth_authorize_path, class: 'btn-outline btn' %>
      </div>
 <% end %>
</div>
<div class="pull-right" style="width:210px;right:-50px;40px;top:30px;position:absolute;margin-top:20px;">
  <% if user_signed_in?  && current_user.provider == nil %>
    <%= link_to 'connect to post', user_stripe_connect_omniauth_authorize_path, class: 'btn-outline btn' %>
 <% end %>
</div>

  <table class="well center-text" style="width:100%;">
    <thead>
      <td>
        <h1 class="center-text" style="padding-left: 25px;">Boards</h1>
      </td>
    </thead>
<!-- start board load -->


<!-- test on local search -->
<% if user_signed_in? && current_user.role == "admin"  %>
<div class="col-lg-9" style="position:relative;margin-top:25px;">
  <div class="well cat-well" style="margin:10px 0;background:azure; box-shadow: 1px 4px 9px 4px grey; border-color: white;">
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get}) do  %>
<div style="padding-left:15px;width:390px;">
<%= text_field_tag :keyword, nil, class: 'form-control enter-width'  %><%= submit_tag "search", class: 'search-width form-control ', style: 'position:relative;top:-34px;left:195px;' %>
</div>
<div style="padding-left:15px;width:300px;margin-top:-30px;">
  <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
  <div class="">
    <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'max distance (mi.)'} , { :class => 'form-control' })  %>
 </div>
</div>
 <div class="col-sm-4 types" style="margin-top:20px;">
  <%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: " cat-width form-control" }) %>
  <%= grouped_collection_select nil, :category_id, Type.all, :categories,
            :name, :id, :name, { include_blank: true },
                                                 { id: 'category-select' , class: " cat-width form-control"} %>
</div>

</div>
</div>
<% end %>

<% else %>
<!-- end test search -->
<!--alien search  -->
<!-- <%= form_tag boards_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search],:id => 'geo-input' %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %> -->
<!-- !!alien search -->

<div class="col-lg-8">
  <div class="well cat-well" style="margin:20px 0;background:azure; box-shadow: 1px 4px 9px 4px grey; border-color: white;">
<%= form_tag({controller: :boards, action: :search}, {method: :get}) do  %>
<div style="z-index:999;">
<%= text_field_tag :search, params[:search],:id => 'geo-input'  %>
</div>
<div style="padding-left:15px;width:390px;">
  <%= text_field_tag :keyword, nil, class: 'form-control enter-width'  %><%= submit_tag "search", class: 'search-width form-control ', style: 'position:relative;top:-34px;left:190px;' %>
</div>
<div class="col-sm-4">
<%= collection_select(nil, :type_id, Type.order(:name), :id, :name, {prompt: "Choose a type" },{ id:'type-select', class: " cat-width form-control" }) %>
</div>
<!-- collection -->
<div class="col-sm-4" id="new_select">
 <%= grouped_collection_select nil, :category_id, Type.all, :categories,
           :name, :id, :name, { include_blank: true },
                                                { id: 'category-select' , class: " cat-width form-control"} %>

</div>
 <div class="col-sm-4">
 <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'Max distance away (Mi.)'} , { :class => 'cat-width form-control' })  %>

</div>
</div>
<% end %>
</div>
<% end %>
<table class="well" style="width:100%;">

  <thead >
    <td>
    </td>
  </thead>
<% if @boards.length < 1 %>

  <%= render partial: 'none' %>
<% end %>
<% @boards.each do |board| %>
  <tbody class="col-sm-6 col-md-4" >
    <% if @boards.length == 0 %>
      <%= render partial: 'none' %>
    <% end %>

    <td class="well center-text"><%= link_to attachment_image_tag(board.images.first, :file, :fill, 240, 240), board %>
    <ul style="top:10px;position:relative;right:30px;list-style-type:none; text-align:left;">
     <li class="center-text title-ind">
        <%= link_to board.title, board %>
     </li>
     <li>
      <%=  board.description.truncate(25)  %>
     </li>
     <li style="min-width:239px;">
      <strong>Height: </strong><%= board.length %>
      <strong>width: </strong><%= board.width %>
        <% if board.type_id == 1 %>
         <strong>Volume: </strong><%= board.volume %>
        <% else %>
        <strong>Volume: </strong> N/A

        <% end %>
     </li>
     <li>
      type: <%= board.type.name %>
     </li>
     <li>
      type: <%= board.category.name %>
     </li>
     <li>
      <strong>$<%=  board.price %></strong>
     </li>
    </ul>
    </td>
    <!-- <%if current_user && board.user_id == current_user.id %>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %> -->
    <% end %>


  </tbody>
</table>
<br>

</div>
<script type="text/javascript">
$(document).ready(function() {
  var subcat;
  subcat = $('#category-select').html();
  return $('#type-select').change(function() {
    var cat, options;
    cat = jQuery('#type-select').children('option').filter(':selected').text();
    options = $(subcat).filter("optgroup[label='" + cat + "']").html();
    if (options) {
      return $('#category-select').html(options);
    } else {
      return $('#category-select').empty();
    }
  });
});
</script>
<%= paginate @boards %>
