<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIDdA5C2oS2Opd5tIqc8B9Fe-Z1NsrBes"></script>

<script>
$(function() {
$("#geo-input").geocomplete();
  country: "US"
});

$(document).ready(function() {
  alert('hi')

var type_select = document.getElementById('type_select');
var mainSearch = document.getElementById('mainsearch');
var type_value = document.getElementById('type-value')
var featured =  document.getElementById('featured');
var signed_search =  document.getElementById('search-signed-in');


type_select.onchange = function() {
  alert('hi3')

  mainSearch.style['display'] = 'block'
  signed_search.style['display'] = 'block'
  featured.style['display'] = 'none'
  $("featured-div").hide();

  $(".sk-circle").hide();
  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".sk-circle").show();
  });
  $(document).ajaxStop(function(){
    $(".sk-circle").delay(400).hide(0);
  });
  }
});
function updateTextArea(source){
  alert('hi4')
 var value = source;
 var type_val = document.getElementById('show_type');
  type_val.innerHTML = value
  document.getElementById('hidden_type').value = value;
};
$(window).scroll(function(){
    //Click event to scroll to top
    $(".next").click(function(){
        $('html, body').animate({scrollTop : 200},0);
    });
  });
</script>
<% end %>
<span id="top" name="top" style="display:block;position:relative;top:-50px;"></span>
<div id="type_select">
<%= form_tag({controller: :boards, action: :search_type}, {method: :get, remote: true}) do  %>
<span id="type-value" class="input-group-btn">
  <%= collection_select(nil, :type_id, Type.all.order(:name), :id, :name, options = {prompt: 'Select Type', id:'type-select' ,class: "typesone form-control"}, html_options = {id:'type-select' , :onchange => "updateTextArea(this.value)"})  %> #-> f is a form tag this you use this form
</span>
<% submit_tag "Submit" %>
<% end %>

<div  id="featured" style='display:block;'>
  <div class="featured-div" style="top:-20px;position:relative;min-height:300px;max-height:300px;min-width:!00%;">
    <h1 class="center-text" style="color:black;"> Welcome </h1>
    <h5 class="pull-right" style="right:1px;color:black;position:absolute;top:20%;">Find New/Used boards from shops, shapers and individuals</h5>
    <h3 style="color:black;position:absolute;bottom:10px;">Featured Boards </h3>
  </div>
  <div style="position:relative;">
    <%= render partial: 'featured'%>
  </div>
</div>

<style>
.typesone:active {
 background-color:black;
}
#type-select {
  width:100%;
  height:35px;
  font-size:15px;
}
</style>
</div>

<div id="mainsearch" style="display:none;">
  <%= render partial: 'search_form'%>
</div>
<div id='search_signed-in' style='position:absolute;top:300px;display:none;width:100%;'>
  <%= render partial: 'search_signed_in'%>
</div>
<br>


<div style="position:fixed;bottom:20px;right:30px;">
  <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
</div>

<div class="sk-circle" style="z-index:9999;position:absolute;top:17%;left:calc(50% - 24px);%;">
  <div style="position:absolute;background-color:rgba(17, 214, 188, 0.3);min-width:50px;min-height:50px;border-radius:90%;">"
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
  </div>
</div>
