<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    <td>
      <% if current_user && current_user.provider == nil %>
      <%= link_to image_tag('powered-by-stripe.png'), user_stripe_connect_omniauth_authorize_path %>
      <% elsif current_user && current_user.provider != nil %>
      <h2 style="color:white;"> CONNECTED <%= current_user.uid %> </h2>
      <% end %>
    </td>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.title, board %></td>
        <td>: <%=  board.make  %> </td>
        <td>: <%=  board.length %> </td>
        <strong> <td>: $<%=  board.price %> </td> </strong>



        <%if current_user && board.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
<% if signed_on %>
<p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
<% end %>
