<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIDdA5C2oS2Opd5tIqc8B9Fe-Z1NsrBes"></script>

<script>
$(function() {
$("#geo-input").geocomplete();
  country: "US"
});

$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');
var type_select = document.getElementById('type_select');
var mainSearch = document.getElementById('mainsearch');
var type_value = document.getElementById('type-value');
var featuredDiv = document.getElementById('featured-boards');
  openExtended.onclick = function() {
     if(extended.style.display == 'none') {
       this.innerHTNL = 'Close Extended';
       extended.style['display'] = 'block';
     } else if (extended.style.display == 'block') {
       extended.style['display'] = 'none';
       this.innerHTNL = 'Open Extended';
     }
  };

type_select.onchange = function() {
  mainSearch.style['display'] = 'block';
  featuredDiv.style['display'] = 'none';
  type_value.style['top'] = '0';
  type_value.addClass('form-control');

  $(".sk-circle").hide();
  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".sk-circle").show();
  });
  $(document).ajaxStop(function(){
    $(".sk-circle").delay(400).hide(0);
  });
  }
});
function updateTextArea(source){
 var value = source;
 var type_val = document.getElementById('show_type');
  type_val.innerHTML = value
  document.getElementById('hidden_type').value = value;
};


$(window).scroll(function(){
    //Click event to scroll to top
    $(".next").click(function(){
        $('html, body').animate({scrollTop : 200},0);
    });
  });

</script>

<% end %>
<span id="top" name="top" style="display:block;position:relative;top:-50px;"></span>
<div id="type_select" >
<%= form_tag({controller: :boards, action: :search_type}, {method: :get, remote: true}) do  %>
<span id="type-value" class="type_collection">
  <%= collection_select(nil, :type_id, Type.all.order(:name), :id, :name, options = {prompt: 'Select Type', id:'type-select' ,class: "typesone form-control"}, html_options = {id:'type-select' , :onchange => "updateTextArea(this.value)"})  %>
</span>

<% submit_tag "Submit" %>
<% end %>
<style>
.typesone:active {
 background-color:black;
}
#type-value {
    z-index: 1;
    top: 90px;
    width: 100px;
    position: relative;
    height: 55px;
    font-size: 15px;
    top: 140px;
    left: calc(50% - 55px);
}
</style>

  </div>
  <div id="featured-boards" style="top:-40px;display:block;min-width:100%;height:300px;position:relative;background-color:black;">
    <h1 class="center-text" style="left:calc(50% - 50px);position:absolute;top:30%;color:white;"> kuivir </h1>
    <h3 style="color:white;bottom:0px;position:absolute;"> Buy and sell new or used Boards from Shops, individuals and shapers. </h3>
    <div style="position:absolute;top:300px;width:100%;">
      <span class="center-text"><h3 style="color:lightcoral;text-shadow:2px 0px snow;position:relative;"> Surf </h3></span>
      <div style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
        <%= render partial: 'featured', locals: {boards: @surf} %>
      </div>
      <hr class="style13">

      <span class="center-text"><h3 style="color:lightcoral;text-shadow:2px 0px snow;position:relative;"> Snow </h3></span>
      <div style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
        <%= render partial: 'featured', locals: {boards: @snow} %>
      </div>
      <hr class="style13">

      <span class="center-text"><h3 style="color:lightcoral;text-shadow:2px 0px snow;position:relative;"> Skate </h3></span>
      <div style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
        <%= render partial: 'featured', locals: {boards: @skate} %>
      </div>
      <hr class="style13">

      <span class="center-text"><h3 style="color:lightcoral;text-shadow:2px 0px snow;position:relative;"> Wake </h3></span>
      <div style="display:flex;position:relative;min-height:100px;min-width:100%;overflow-x:scroll;">
        <% if current_user %>
          <% @wake = @wake.where.not(user_id: current_user.id) %>
         <% end %>
        <%= render partial: 'featured', locals: {boards: @wake} %>
      </div>
      <hr class="style13">

</div>
  </div>
<div id="mainsearch" style="display:none;">
<%= render partial: 'search_form' %>
</div>
<br>
<div>
  <%= render partial: 'search_signed_in'%>
</div>

<div style="position:fixed;bottom:20px;right:30px;">
  <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
</div>

<div class="sk-circle" style="z-index:9999;position:absolute;top:17%;left:calc(50% - 24px);%;">
  <div style="position:absolute;background-color:rgba(17, 214, 188, 0.3);min-width:50px;min-height:50px;border-radius:90%;">"
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
  </div>
</div>
