<%= content_for :page_title,   "Wojoi"%>
<% content_for(:header) do %>
<script>
$(function() {
$("#geo-input").geocomplete();
country: "US"
});

$(document).ready(function() {
var openExtended = document.getElementById('open-extended');
var extended = document.getElementById('extended-search');

openExtended.onclick = function() {
   if(this.style.display == 'block') {
     this.style['display'] = 'none';
     extended.style['display'] = 'block';
   }
};
});
function initSlider(){
    $('.scroller').slick({
      dots: true,
      speed: 200,
      prevArrow: '<div class="slick-prev"><i class="fa fa-chevron-left"></i></div>',
      nextArrow: '<div class="slick-next"><i class="fa fa-chevron-right"></i></div>'
    });
}

$(document).ready(function() {

  initSlider();

});


</script>
<% end %>
<span id="top" name="top" style="display:block;position:relative;top:-50px;"></span>
<%= form_tag({controller: :boards, action: :search_signed_in}, {method: :get, remote: true}) do  %>
     <div class="row board-search-form">
     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
         <%= grouped_collection_select nil, :category_id, Type.all, :categories,
               :name, :id, :name, {prompt: "Choose a type" },
               { id: 'category-select' , class: "form-control"} %>
         </span>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
     <div class="col-lg-6">
       <div class="input-group">
         <span class="input-group-btn">
           <%= collection_select(nil, :make, Board.where(:for_sale => true).order(:make).distinct.sort, :make, :make, {prompt: "Choose make"},{ class: "form-control" }) %>
          </span>
       </div>
     </div>
   </div><!-- /.row -->

   <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <%= text_field_tag :search, params[:search],:id => 'geo-input', :class => 'form-control'  %>
      </span>
    </div><!-- /input-group -->
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <%= collection_select( nil, :value, Distance.all, :value, :value, { :include_blank => 'distance from (mi.)'} , { :class => 'form-control' })  %>
        </span>

      </div><!-- /input-group -->

      <span id="open-extended" style="display:block;"> open </span>
      <div id="extended-search" style="display:none;">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-btn">
              <%= collection_select(nil, :company, User.all.order(:company).distinct.sort, :company, :company, {prompt: "Choose co"},{ class: "form-control" }) %>
             </span>
          </div>
        </div>
      </div><!-- /exteneded -search-->


    </div><!-- /.col-lg-6 -->
    New:<span class="check-box-search"><%= check_box_tag :new,params[:new], true%> </span>
    Used:<span class="check-box-search"><%= check_box_tag :used,params[:used], true%> </span>
    Rental:<span class="check-box-search"><%= check_box_tag :rental, params[:rental] %> </span>

  </div><!-- /.col-lg-6 -->
<!-- /.row -->
<div class="col-lg-12 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% end %>
</div>
<br>
<div>
<%= render partial: 'search_signed_in'%>
</div>

<div style="position:fixed;bottom:20px;right:30px;">
  <a href="#top"> <i class="fa fa-caret-up" aria-hidden="true"></i></a>
</div>

<% if @user %>
  <%= render partial: 'pages/messaging' %>
<% end %>
