<% if ( user_signed_in? && current_user.id === @board.user.id ) || (@board.for_sale == true ) %>

<div class="container-fluid">
<div class="jumbotron">
  <div class="well well-sm pull-left">
    <% if current_user && current_user.id == @board.user_id%>
      <%= link_to "Edit", edit_board_path, class: 'btn btn-primary pull-right' %>
      <% end %>
  <tr>
    <td><h2><%= @board.title %></h2></td>
    <td><h3><%= @board.type.name %>board</h3></td>
    <strong>
      <%= @board.make %>Brand
      </strong>
      <br>
     <!-- bindings/trucks/stomp pad -->
     <% if @board.type_id == 1 %>
      <strong>Stomp pad </strong>
      <% elsif @board.type_id === 2 %>
      <strong> Bindings </strong>
      <% else %>
      <strong> Trucks </strong>
      <% end %>
      <% if @board.footgear == true %>
        Yes  <% else %>  No:
      <%end %>
    </tr>
    <strong> board age: </strong> <%= @board.age %> Years
 </div>
 <div class="">
  <div style="text-align:center;"class="well well-sm ">

     <h3> Dimensions</h3>
     <strong>Length:</strong><%= @board.length %><br>
     <strong>Width:</strong><%= @board.width %><br>
     <% if @board.type_id == 1 %>
     <strong>volume:</strong><%= @board.volume %><br>
     <% end %>
   </div>
 </div>
<div class="well well-sm pull-right">
 <%= @board.description %>
</div>
<tr>
  <hr style="padding-top:30px;">
<% @board.images.each do |i| %>
  <td style="" class="center-text" ><%= attachment_image_tag(i, :file, :limit, 400, 400) %></td>
<% end %>
</tr>
</div>

<hr>

<div class=" text-center">
 <div class="well">
   <% if !user_signed_in? %>
   <strong> $<%= @board.price %> </strong>
   <h3 class="btn-outline" ><%= link_to 'Sign Up to Purchase', new_user_registration_path %></h3>
   <% elsif @board.for_sale == true && @board.user_id != current_user.id %>
  <p> $<%= @board.price %> </p>
    <%= render partial: 'charge', locals: {board: @board} %>
  <% elsif  @board.user_id != current_user.id && @board.for_sale == true %>
    <%= render partial: 'charge', locals: {board: @board} %> here
  <% elsif @board.for_sale === true && @board.user_id == current_user.id %>
      <%= render partial: 'forsale', locals: {board: @board} %>
  <% elsif @board.for_sale == false  && @board.user_id == current_user.id%>
  <%= render partial: 'forsale', locals: {board: @board} %>
 <% end %>


 <br>

 </div>
</div>
</div>

<% if user_signed_in? %>
<% if current_user.id == @board.user.id %>
<%= button_to "delete", @board, :method=>:delete, :class=>:destroy %>
<%= link_to 'Back', boards_path %>

<% end %>
<% end %>
<% end %>
<p class="text-center"> Nothing Here</p>
