
<!-- accessories -->
<div class="row">
  <div class="col-md-11">
    <div class="form-group">
      <strong style="text-decoration:underline;"> Edit Accessory </strong>
      <br>
      <%= f.label :title %>
        <td><%= f.text_field :title, class: 'btn-width form-control' %></td>
        <%= f.hidden_field :user_id, :value => current_user.id %>

    </div>
  </div>
</div>
<div class="row">
  <div class="image-box center-text" style="min-height:150px !important;" id="images">

    <%= f.label :add_images %><br>
    <btn class="center-text" style="position:absolute;left:calc(50% - 90px);">
    <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true, id: 'file-input-acc', type: 'file'  %></btn>
    <div id="image"></div>
  </div>
  <div class="container-fluid row" style="position:relative;min-height:200px;max-height:400px; margin-top:25px;">
    <%= f.fields_for :images do |image_fields| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <span style="max-width:20px;min-height:100px;max-height:100px;">
              <%= image_fields.label :remove %>
              <%= image_fields.check_box :_destroy, class: 'form-control' %>
              <%= attachment_image_tag(image_fields.object, :file, :fill, 75, 75) %>
            </span>
        </div>
    <% end %>
  </div>
  <div id="preview-acc"></div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :brand %>
      <%= f.text_field :brand, class: 'btn-width form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :category %>
      <%= f.grouped_collection_select :category_id, Type.order(:name), :categories, :name, :id, :name,   { :include_blank => 'Category'} , { :class => 'form-control input-lg' } %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :kind %>
      <%= f.grouped_collection_select :kind_id, Category.order(:name), :kinds, :name, :id, :name,   { :include_blank => 'Accssory-type'} , { :class => 'form-control input-lg' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :size %>
    <%= f.number_field :measure, class: 'form-control',:step => 0.01 , min: 0 %>
      <spam id="sizeUnits" style="display:block"><%= f.collection_select( :unit_id, Unit.all, :id, :name,
      { :include_blank => 'Unit'} , { :class => 'form-control' })%> </spam></td>    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :color %>
      <td ><%= f.text_field :color , class: 'form-control' %></td>
  </div>
</div>
<div class="col-md-4">
    <div class="form-group">
      <%= f.label :inventory %>
      <%= f.number_field :inventory, min: 1, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :price %>
      <td ><%= f.number_field :price, min: 1, class: 'form-control' %></td>    </div>
    </div>
  </div>
<script>

  function previewImages() {

var preview = document.querySelector('#preview-acc');

if (this.files) {
  [].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

  // Make sure `file.name` matches our extensions criteria
  if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
  } // else...

  var reader = new FileReader();

  reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 100;
    image.width = 100;
    image.title  = file.name;
    image.src    = this.result;
    preview.appendChild(image);
  }, false);

  reader.readAsDataURL(file);

}

}

document.querySelector('#file-input-acc').addEventListener("change", previewImages, false);
</script>
