<% if @accessories.count >= 1%>
<div class="swiper-container">
<div class="swiper-wrapper">
 <%  @accessories.each do |i| %>
     <div class="swiper-slide" style="border: black 1px solid;
    max-height: 250px;">
          <td class="vendor-link" style="cursor:pointer;">
       <div class="center-text">
         <span id="acc-link"><%= link_to i.title, accessory_path(i), remote: true, data: { toggle: "modal", target: "#accModal" } %></span>
         <div class="accessoryImage" id="aImage" style="cursor:pointer">
           <%= attachment_image_tag(i.images.first, :file, :fill, 120, 120) %>
         </div>
         <div class="accessoryImage1" id="aImage1">
           <%= attachment_image_tag(i.images.first, :file, :fill, 80, 80) %>
         </div>
           <span class="center-text"><%= i.kind.name %></span><strong><br><span>$<%= i.price %></strong></span>
           <div style="z-index:999;position:relative;bottom:0;"  data-id="<%= i.id %>" data-price="<%= i.price %>" id="<%=i.id %>" class="accessory_div btn btn-success">Add</div>
       </div>
</td>
</div>
<% end %>
<% end %>
</div>
 <!-- Add Pagination -->
 <div class="swiper-button-next swiper-button-white"></div>
 <div class="swiper-button-prev swiper-button-white"></div>

 <div style="" class="swiper-pagination"></div>
  </div>

<style>
.swiper-pagination-bullet {
  margin:0px;
}

.fixed-position {

  overflow:hidden !important;
}
</style>
<script>

$(document).ready(function() {
  $('#accModal').on('show.bs.modal', function (e) {
    if ( $('#newModal').is(':visible') ) {
      $('#newModal').addClass('fixed-position');
    } else {
      $('#surfModal').addClass('fixed-position');
    }
  });
  $('#accModal').on('hide.bs.modal', function (e) {
    if ( $('#newModal').is(':visible') ) {
      $('#newModal').removeClass('fixed-position');
    } else {
      $('#surfModal').removeClass('fixed-position');
    }
  });
  $('#surfModal').on('show.bs.modal', function (e) {
    sessionStorage.clear()

  });
  $('#surfModal').on('hide.bs.modal', function (e) {
    sessionStorage.clear()

  });
  $('#newModal').on('hide.bs.modal', function (e) {
    sessionStorage.clear()

  });
  $('#newModal').on('show.bs.modal', function (e) {
    sessionStorage.clear()

  });
// loads board price and resets if accessoriesPriceTotal returns to nil
var pricing = document.getElementById('showPrice');
if (sessionStorage.accessoriesPriceTotal){
  pricing.innerHTML = sessionStorage.accessoriesPriceTotal

} else {
  var prices = $('#showPrice').data('board');

  pricing.innerHTML = prices
}

   $( ".accessory_div" ).click(function() {
    id = $(this).data("id");
    price = $(this).data("price");
    if ($(this).hasClass("panel-success")) {
      // prices -= price
    } else {
      // $(".accessory_div.panel[data-id="+id+"]").removeClass('panel-success')
      // prices += price
    }
  });
});
//
function loadSelectedAccessories() {
  clickedAccessoriesString = sessionStorage.clickedAccessories
  return clickedAccessoriesString
    ? JSON.parse(clickedAccessoriesString)
    : [];
  }
function loadSelectedAccessoriesPrice() {
accessoriesPriceString = sessionStorage.accessoriesPrice
  return accessoriesPriceString
    ? JSON.parse(accessoriesPriceString)
    : [];
  }
function loadSelectedAccessoriesTotal() {
accessoriesPriceTotal = sessionStorage.accessoriesPrice
  return accessoriesPriceTotal
    ? JSON.parse(accessoriesPriceTotal)
    : [];
  }
function saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal) {
  var addRate = $('#shippableForm').data('rate');
  sessionStorage.clickedAccessories = JSON.stringify(clickedAccessories);
  sessionStorage.accessoriesPrice = JSON.stringify(accessoriesPrice);
  sessionStorage.accessoriesPriceTotal = JSON.stringify(accessoriesPriceTotal);
    $("#total").get(0).value = parseFloat(sessionStorage.accessoriesPriceTotal * 100);
    $(".accArray").get(0).value = JSON.parse(sessionStorage.clickedAccessories);
    $("#totalShip").get(0).value = parseFloat(addRate * 100) + parseFloat(sessionStorage.accessoriesPriceTotal * 100);
    $(".accArrayShip").get(0).value = JSON.parse(sessionStorage.clickedAccessories);
}
function clickAccessory(accessory_div, price) {
  $(accessory_div).addClass('panel-success');
  $(accessory_div).addClass('snow-background');
  var clickedAccessories = loadSelectedAccessories();
  var accessoriesPrice = loadSelectedAccessoriesPrice();
  var accessoriesPriceTotal = $('#showPrice').data('board');

  accessoriesPrice.push(price);
  clickedAccessories.push(accessory_div.id);
  if (accessoriesPrice.length > 1){
    for(i = 0; i < accessoriesPrice.length; i++) {
      accessoriesPriceTotal += accessoriesPrice[i];
      var pricing = document.getElementById('showPrice');
      pricing.innerHTML = accessoriesPriceTotal
      sessionStorage.pricing = pricing.innerHTML
      document.getElementById('showPrice').innerHTML = sessionStorage.pricing;
      }
  } else {
    accessoriesPriceTotal += accessoriesPrice[0];
    var pricing = document.getElementById('showPrice');
    pricing.innerHTML = accessoriesPriceTotal
    sessionStorage.pricing = pricing.innerHTML
    document.getElementById('showPrice').innerHTML = sessionStorage.pricing ;
};
  saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal);
  var accessoriesPriceTotal = loadSelectedAccessoriesTotal();
}
function unclickAccessory(accessory_div, price) {
  $(accessory_div).removeClass('panel-success');
  $(accessory_div).removeClass('snow-background');
  var accessoriesPriceTotal = sessionStorage.accessoriesPriceTotal;
  var clickedAccessories = loadSelectedAccessories();
  var removeThis = clickedAccessories.indexOf(accessory_div.id);
  if (removeThis > -1)  (
    clickedAccessories.splice(removeThis, 1)
  );
  var accessoriesPrice = loadSelectedAccessoriesPrice();
  var removeThisP = accessoriesPrice.indexOf(price);
  if (removeThisP > -1)  (
    accessoriesPrice.splice(removeThisP, 1)
  );
  if (accessoriesPrice.length > 0) {
    accessoriesPriceTotal -= price;
    var pricing = document.getElementById('showPrice');
    pricing.innerHTML = accessoriesPriceTotal
    sessionStorage.accessoriesPriceTotal = accessoriesPriceTotal
  } else {
    accessoriesPriceTotal -= price;
    document.getElementById('showPrice').innerHTML = $('#showPrice').data('board')
  }
  saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal);
}
$(function(){
  // restore taken seats
  $.each(loadSelectedAccessories(), function(i, accessory_div, price){
    $('#'+accessory_div).addClass('panel-success');
    $('#'+accessory_div).addClass('snow-background');
  });
  $('.accessory_div').on('click', function() {
    var accessory_div = this;
    price = $(this).data("price");
    if (loadSelectedAccessories().indexOf(accessory_div.id) < 0) {
      // not taken
      this.innerHTML = "Remove"
      clickAccessory(accessory_div, price);
    } else {
      this.innerHTML = "Add"
      unclickAccessory(accessory_div, price);
    }
  });

  var w = window.innerWidth

    if (w <= 700 && w >= 551) {
      var slides = 3
    } else if (w <= 450){
      var slides = 2
    } else {
      var slides = 4
    };

  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: slides,
    nextButton: '.swiper-button-next',
     prevButton: '.swiper-button-prev',
    paginationClickable: true,
    spaceBetween: 1,
    freeMode: true
});

})();

</script>


<!--  -->
