
<% if @accessories.count >= 1%>
 <%  @accessories.each do |i| %>
 <tr data-id="<%= i.id %>" data-price="<%= i.price %>"  class="accessory_div col-sm-6 center-text" style="background-color:white;min-width:25%;">

<td class="vendor-link" style="cursor:pointer;"> <div>
<%= i.title %><strong>$<%= i.price %>.00</strong>
<div class="accessoryImage" id="aImage" style="cursor:pointer">
<%= attachment_image_tag(i.images.first, :file, :fill, 120, 120) %>
</div>
<div class="accessoryImage1" id="aImage1">
  accessoryImage
<%= attachment_image_tag(i.images.first, :file, :fill, 80, 80) %>
</div>
<%=   i.kind.name %></td>
</div>
</tr>
<% end %>
<% else %>
<%= render partial: 'boards/none' %>
<% end %>
<script>

var prices = $('#showPrice').data('board');
var pricing = document.getElementById('showPrice');
pricing.innerHTML = prices


$(document).ready(function() {


   $( ".accessory_div" ).click(function() {
  id = $(this).closest("tr").data("id");
  price = $(this).closest("tr").data("price");


    if (this.style['background-color'] == 'white') {
    this.style['background-color'] = 'lightgrey';
    prices += price
  } else {
    this.style['background-color'] = 'white';
    prices -= price
  }

      var pricing = document.getElementById('showPrice');
      pricing.innerHTML = prices
});

});


</script>
