<%= form_tag({controller: :accessories, action: :search_accessories}, {method: :get, remote: true}) do  %>
  <div class="input-group pull-left"style="max-width:50%;">
    <span class="input-group-btn">
    <%= grouped_collection_select  nil, :kind_id, Category.where(id: @board.category_id), :kinds,
          :name, :id, :name, {prompt: "Select Kind" },
          { id: 'Kind-select' , class: "form-control"} %>
    </span>
  </div>
    <div class="input-group pull-right" style="max-width:50%;">
      <span class="input-group-btn">
        <%= collection_select(nil, :brand, Accessory.where(category_id: @board.category_id, :user_id => @board.user_id).where("inventory >= ?", 1).select(:brand).uniq, :brand, :brand, {:include_blank => "Select BRand", },{  class: "form-control"}) %>
<!-- new ^ -->
       </span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <span>
            <%= number_field :minimum, params[:minimum], style: 'width: 120px;', class: 'form-control', min: 1, placeholder: "min length" %>
          </span>
        </div>
      </div>
      <div class="col-md-4" style="position: absolute;top: 34px;left: 123px;">
        <div class="input-group" style="width: 112px;">
            <span style="">
              <%= number_field :maximum, params[:maximum], class: 'form-control',min: 1, placeholder: "max length" %>
            </span>
            <span style="width: 56px;position: absolute;float: right;top: 0px;">
              <%= collection_select(nil, :unit_id, Unit.all, :id, :name,
                { :include_blank => 'Unit'} , { :class => 'form-control' })%>
            </span>
          </div>


      </div>

    </div>
<div class="col-md-4">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Accessories.."  %>
     <span class="input-group-btn">
       <%= hidden_field_tag :board_id, @board.id%>
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
 <% end %>
