<% if @accessories.count >= 1%>
 <%  @accessories.each do |i| %>
<tr data-id="<%= i.id %>" data-price="<%= i.price %>" class="panel col-sm-6" style="max-height:195px;min-height:160px;position:relative;padding:0;background-color:white;min-width:25%;">
   <td class="vendor-link" style="cursor:pointer;">
<div>
  <%= i.title %>
  <div class="accessoryImage" id="aImage" style="cursor:pointer">
    <%= attachment_image_tag(i.images.first, :file, :fill, 120, 120) %>
  </div>
  <div class="accessoryImage1" id="aImage1">
    <%= attachment_image_tag(i.images.first, :file, :fill, 80, 80) %>
  </div>
  <span class="center-text"><%= i.kind.name %></span><strong><br><span>$<%= i.price %>.00</strong></span>
  </td>
  <div style="padding-top:5px;z-index:999;position:relative;bottom:0;"  id="<%=i.id %>" class="pull-right accessory_div btn btn-success">Add</div>

</div>
</tr>
<% end %>
<% else %>
<%= render partial: 'boards/none' %>
<% end %>
<script>

$('#newModal').on('show.bs.modal', function (e) {
  sessionStorage.clear()
});
$('#newModal').on('hide.bs.modal', function (e) {
  sessionStorage.clear()
});
// loads board price and resets if accessoriesPriceTotal returns to nil
var pricing = document.getElementById('showPrice');
if (sessionStorage.accessoriesPriceTotal){
pricing.innerHTML = sessionStorage.accessoriesPriceTotal

} else {
  var prices = $('#showPrice').data('board');
  pricing.innerHTML = prices

}

$(document).ready(function() {

   $( ".accessory_div" ).click(function() {
    id = $(this).closest("tr").data("id");
    price = $(this).closest("tr").data("price");

    if ($(this).hasClass("panel-success")) {
      // prices -= price

    } else {
      // $(".accessory_div.panel[data-id="+id+"]").removeClass('panel-success')
      // prices += price
    }
  });
});

//
function loadSelectedAccessories() {
  clickedAccessoriesString = sessionStorage.clickedAccessories
  return clickedAccessoriesString
    ? JSON.parse(clickedAccessoriesString)
    : [];
}
function loadSelectedAccessoriesPrice() {
accessoriesPriceString = sessionStorage.accessoriesPrice
  return accessoriesPriceString
    ? JSON.parse(accessoriesPriceString)
    : [];
  }

function loadSelectedAccessoriesTotal() {
accessoriesPriceTotal = sessionStorage.accessoriesPrice
  return accessoriesPriceTotal
    ? JSON.parse(accessoriesPriceTotal)
    : [];
  }

function saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal) {
  sessionStorage.clickedAccessories = JSON.stringify(clickedAccessories);
  sessionStorage.accessoriesPrice = JSON.stringify(accessoriesPrice);
  sessionStorage.accessoriesPriceTotal = JSON.stringify(accessoriesPriceTotal);
}

function clickAccessory(accessory_div, price) {
  $(accessory_div).addClass('panel-success');
  $(accessory_div).addClass('snow-background');

  var clickedAccessories = loadSelectedAccessories();
  var accessoriesPrice = loadSelectedAccessoriesPrice();
  var accessoriesPriceTotal = $('#showPrice').data('board');

  accessoriesPrice.push(price);
  clickedAccessories.push(accessory_div.id);
  if (accessoriesPrice.length > 1){
    for(i = 0; i < accessoriesPrice.length; i++) {
      accessoriesPriceTotal += accessoriesPrice[i];
      var pricing = document.getElementById('showPrice');
      pricing.innerHTML = accessoriesPriceTotal
      sessionStorage.pricing = pricing.innerHTML
      document.getElementById('showPrice').innerHTML = sessionStorage.pricing;
      }
  } else {
    accessoriesPriceTotal += accessoriesPrice[0];
    var pricing = document.getElementById('showPrice');
    pricing.innerHTML = accessoriesPriceTotal
    sessionStorage.pricing = pricing.innerHTML
    document.getElementById('showPrice').innerHTML = sessionStorage.pricing ;

};
  saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal);
  var accessoriesPriceTotal = loadSelectedAccessoriesTotal();
}


function unclickAccessory(accessory_div, price) {
  $(accessory_div).removeClass('panel-success');
  $(accessory_div).removeClass('snow-background');
  var accessoriesPriceTotal = sessionStorage.accessoriesPriceTotal;

  var clickedAccessories = loadSelectedAccessories();
  var removeThis = clickedAccessories.indexOf(accessory_div.id);
  if (removeThis > -1)  (
    clickedAccessories.splice(removeThis, 1)
  );

  var accessoriesPrice = loadSelectedAccessoriesPrice();
  var removeThisP = accessoriesPrice.indexOf(price);
  if (removeThisP > -1)  (
    accessoriesPrice.splice(removeThisP, 1)
  );

if (accessoriesPrice.length > 0) {
  accessoriesPriceTotal -= price;
  var pricing = document.getElementById('showPrice');
  pricing.innerHTML = accessoriesPriceTotal
  sessionStorage.accessoriesPriceTotal = accessoriesPriceTotal

} else {
  accessoriesPriceTotal -= price;
  document.getElementById('showPrice').innerHTML = $('#showPrice').data('board')
}
  saveClickedAccessories(clickedAccessories, accessoriesPrice, accessoriesPriceTotal);
}

$(function(){
  // restore taken seats
  $.each(loadSelectedAccessories(), function(i, accessory_div, price){
    $('#'+accessory_div).addClass('panel-success');
    $('#'+accessory_div).addClass('snow-background');
  });

  $('.accessory_div').on('click', function() {
    var accessory_div = this;
    price = $(this).closest("tr").data("price");

    if (loadSelectedAccessories().indexOf(accessory_div.id) < 0) {
      // not taken
      this.innerHTML = "Remove"

      clickAccessory(accessory_div, price);
    } else {
      this.innerHTML = "Add"

      unclickAccessory(accessory_div, price);
    }
  });
})();
</script>
