<% content_for(:header) do %>
<script>
</script>
<% end %>
    <!-- edit button plus contact for shipping, is contact for shipping necessary -->
  <div class="well-sm pull-left" id="acc-show" style="position:absolute;top:0;">
  </div>
    <!-- begin view -->
<div class="title center-text">
  <strong><%= @accessory.title %></strong>
</div>
  <div class="image-box-accessory center-text" id="images">
    <div class="center-text" style="max-height:220px;">
      <div class="siema-acc">
        <% @accessory.images.each_with_index do |photo, index| %>
                <div>

                    <%= image_tag(attachment_url(photo, :file, :fill, 150, 150, format: 'jpg')) %>
                 </div>
        <% end %>
    </div>
  </div>
  <hr class="style13">
</div>
<div class="dimensions" style="max-height:250px;">
  <table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th class="col-sm-3"> brand: </th>
      <th class="col-sm-3"> dimension: </th>
      <th class="col-sm-3"> color: </th>
      <th class="col-sm-3"> category: </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-3"> <%= @accessory.brand %> </td>
      <% if @accessory.measure %>
      <td class="col-sm-3"> <%= @accessory.measure %><%= @accessory.unit.name %> </td>
      <% end %>
      <td class="col-sm-3"> <%= @accessory.color %> </td>
      <td class="col-sm-3"> <%= @accessory.category.name %> </td>
    </tr>
    <tr>
      <th class="col-sm-3"> kind: </th>
      <% if @accessory.board_id %>
      <th class="col-sm-3"> board: </th>
      <% end %>
      <th class="col-sm-3"> inventory: </th>
      <th class="col-sm-3"> price: </th>
    </tr>
    <tr>
      <td class="col-sm-3"> <%= @accessory.kind.name %> </td>
      <% if @accessory.board_id %>
        <td class="col-sm-3"> <%= link_to @accessory.board.title, board_path(@board) %> </td>
      <% end %>
      <td class="col-sm-3"> <%= @accessory.inventory %> </td>
      <td class="col-sm-3"> <%= @accessory.price %> </td>
    </tr>
  </tbody>
</table>

<br>
<br>
<hr class="style13">
<script>
const siemas = document.querySelectorAll('.siema-acc');

// Extend prototype with method that adds arrows to DOM
// Style the arrows with CSS or JS — up to you mate
Siema.prototype.addArrows = function() {

  // make buttons & append them inside Siema's container
  this.prevArrow = document.createElement('button');
  this.nextArrow = document.createElement('button');
  this.prevArrow.textContent = 'back';
  this.nextArrow.textContent = 'next';
  this.selector.appendChild(this.prevArrow)
  this.selector.appendChild(this.nextArrow)

  // event handlers on buttons
  this.prevArrow.addEventListener('click', () => this.prev());
  this.nextArrow.addEventListener('click', () => this.next());

}

// this is fairly new way of looping through DOM Elements
// More about ithere: https://pawelgrzybek.com/loop-through-a-collection-of-dom-elements/
// For better compatibility I suggest using for loop
for(const siema of siemas) {
  const instance = new Siema({
    selector: siema,
  });
  instance.addArrows();
}

</script>
