
<div id="results">
    <div class="top-dash">
<h4 class="dash-data-title"> accessories </h4>
<thead class="" >
  <td>
    <div class="center-text pagination" id="active_boards">
    <%= paginate @accessories, remote: true, window: 1 %>
    </div>
  </td>
</thead>
<div class="col-md-12 table-scrollable">
  <table style="right: 59px;" class="table table-bordered table-striped table-hover" id="">

        <thead>
          <tr>
            <th>images</th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "id" %></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%=  sortable "inventory" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "title" %></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "price" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "brand" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%=  sortable "board_id" %></i></th>
            <th> Category </th>
            <th> Kind </th>
          </tr>
        </thead>
        <tbody>
        <% @accessories.each do |a| %>
            <tr>
                <td class= "desktop-items-img" style="margin:0px;">
                  <%= link_to attachment_image_tag(a.images.first, :file, :fill, 80, 80), a, remote: true, data: { toggle: "modal", target: "#accModal" } %>
                  <%= link_to "Edit", edit_accessory_path(a), class: 'center-text btn-btn-sm btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#accEdit" } %>
                </td>
                <td class=" mobile-items-img" style="margin:0px;overflow-x:hidden;">
                  <%= link_to attachment_image_tag(a.images.first, :file, :fill, 40, 40), a, remote: true, data: { toggle: "modal", target: "#accModal" } %>
                  <%= link_to "Edit", edit_accessory_path(a), class: 'center-text btn-btn-sm btn-primary pull-right', remote: true, data: { toggle: "modal", target: "#accEdit" } %>
                </td>

              <td><%=link_to a.id, accessory_path(a), remote: true, data: { toggle: "modal", target: "#accModal" } %></td>
              <td><%= a.inventory %>%</td>
              <td><%=  a.title.truncate(13) %></td>
              <% if a.price %>
              <td><%= format_amount(a.price * 100) %></td>
              <% end %>
              <td><%= a.brand  %></td>
              <td><%= a.board_id %></td>
              <td><%= a.category.name  %>%</td>
              <td><%= a.kind.name  %>%</td>
          <% end %>
        </tbody>
      </table>
  <!--  -->
  </div>
 </div>
</div>


 <%= form_tag({controller: :accessories, action: :search_table}, {method: :get, remote: true}) do  %>

 <div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
   <div class="input-group">
     <span class="input-group-btn">
     <%= grouped_collection_select  nil, :kind_id, Category.all, :kinds,
           :name, :id, :name, {prompt: "Select Kind" },
           { id: 'Kind-select' , class: "form-control"} %>
     </span>
   </div><!-- /input-group -->
   <div>

   <span class="input-group-btn">
   <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
         :name, :id, :name, {prompt: "Select type" },
         { id: 'category-select' , class: "form-control"} %>
   </span>
 </div><!-- /input-group -->
   <div class="col-lg-6">
     <div class="input-group">
       <span class="input-group-btn">
         <%= collection_select(nil, :brand, Accessory.where(:user_id => current_user.id).order(:brand).distinct.sort, :brand, :brand, {prompt: "Choose make"},{ class: "form-control" }) %>
        </span>
     </div>
   </div>
 </div><!-- /.col-lg-6 -->
 <div class="col-md-4 search-bar">
    <div class="input-group">
      <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
      <span class="input-group-btn">
        <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <% end %>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="accModal">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-header">
           <button type="button" class="close" style="color:white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-content">
         </div>
       </div>
     </div>
   </div>
