<div id="results">
<h4 class="dash-data-title"> accessories </h4>
<thead >
  <td>
    <div class="center-text pagination" id="active_boards">
    <%= paginate @accessories, remote: true, window: 1 %>
    </div>
  </td>
</thead>
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover" id="results">

        <thead>
          <tr>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "title" %></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "price" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%= sortable "brand" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%=  sortable "inventory" %></i></th>
            <th><i style="display:inline;" class="btn btn-sort"> <%=  sortable "board_id" %></i></th>
            <th>images</th>

          </tr>
        </thead>

        <tbody>
        <% @accessories.each do |a| %>
            <tr>
              <td><%=  a.title.truncate(13) %></td>
              <td><%= format_amount(a.price * 100) %></td>
              <td><%= a.brand  %>%</td>
              <td><%= a.inventory %>%</td>
              <td><%= a.board_id %></td>
              <td><%= attachment_image_tag(a.images.first, :file, :fill, 80, 80) %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  <!--  -->
  </table>
</div>

<div>
 <%= form_tag({controller: :accessories, action: :search_table}, {method: :get, remote: true}) do  %>

 <div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
   <div class="input-group">
     <span class="input-group-btn">
     <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
           :name, :id, :name, {prompt: "Select type" },
           { id: 'category-select' , class: "form-control"} %>
     </span>
   </div><!-- /input-group -->
   <div class="col-lg-6">
     <div class="input-group">
       <span class="input-group-btn">
         <%= collection_select(nil, :brand, Accessory.where(:user_id => current_user.id).order(:brand).distinct.sort, :brand, :brand, {prompt: "Choose make"},{ class: "form-control" }) %>
        </span>
     </div>
   </div>
 </div><!-- /.col-lg-6 -->
 <div class="col-md-4 search-bar">
    <div class="input-group">
      <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
      <span class="input-group-btn">
        <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <% end %>
