<script src="https://js.stripe.com/v3/"></script>

<div id="purchaseTokens" style="max-width:300px;width:100%;">
  <form action="/charges" method="POST" id="payment-offer">
        <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        <% end %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :offer, true %>
        <% if current_user %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :customer_id, current_user.id %>
        <% end %>
        <%= hidden_field_tag :vendor_id,  @board.user_id %>
        <%= hidden_field_tag :board_id, @board.id %>
        <%= hidden_field_tag :item, @board.title %>
        <div id="card-errors"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <small id="offerInfo">Offers expire in 48 hours. Accessories will be added if applicable. If shipping is selected the fee will be added to offer total.  </small>
              <input class="form-control input-lg" id="amount" name="amount" type="text" placeholder="$ Amount '20.00'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="card-element">Card details</label>
              <div id="card-element" class="form-control input-lg field">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% if @user %>
            <% customerEmail = @user.email %>
            <% else %>
            <% customerEmail = "nil" %>
            <% end %>
            <input type="hidden" name="email" value="<%= customerEmail %>">
<!--  -->
<div class="form-group">
  <label>Shipping: <small>$<%= @board.rate.to_f %></small></label>
<input id="shipOfferCheck" type="checkbox" >
</div>
<div class="row" id="shippingOffer" style="display:none;">
  <div class="col-md-12">
    <div class="form-group">
      <input  id="name" class="form-control input-lg field" maxlength="40" type="text" placeholder="name">
    </div>
  </div>
    <div class="col-md-12">
      <div class="form-group">
          <input id="address-line1" class="form-control input-lg field" maxlength="35" placeholder="Address">
        </div>
      </div>
        <div class="col-md-12">
          <div class="form-group">
              <input id="address-city" type="text" class="form-control input-lg field" maxlength="35" placeholder="City">
            </div>
          </div>
        <div class="col-md-12">
          <div class="form-group">
            <input id="address-state" type="text" maxlength="20" class="form-control input-lg field" placeholder="State">
          </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
                <input id="address-zip" type="number" maxlength="5" class="form-control input-lg field" placeholder="Zipcode">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <input  id="address-country" type"text"  maxlength="40" class="form-control input-lg field" placeholder="Country">
                </div>
            </div>
  </div>
<!--  -->
            <button style="color:black;" class="btn btn-lg btn-block btn-info" id="submit_payment" type="submit">
              Make Offer
            </button>
          </div>
        </div>
        </div>
<script>
$(function(){
   var shipOffer = document.getElementById('shipOfferCheck');
   var shippingDetails = document.getElementById('shippingOffer');
   shipOffer.onclick = function() {
     if (this.checked) {
        shippingDetails.style['display'] = 'block';
     } else {
       shippingDetails.style['display'] = 'none';
     }
    };
});
</script>
