
<div id="results">
 <div class="top-dash">
  <div class="row" id="pending-table">
    <% if @picked_boards.count == 0 %>
      <%= render partial: 'boards/none' %>
    <% end %>
    <thead>
      <td>
        <div class="center-text" id="active_boards">
        <%= paginate @picked_boards, remote: true, window: 1 %>
        </div>
        <tr>
          <td class="filtering center-text">
            <span> <strong style="position:relative;margin-bottom:20px;text-decoration:underline;">Waiting for Pick up </strong></span>
            <br>

            <ti> <strong> Sort by: </strong> </ti>
            <i style="display:inline;"> <%= sortable "updated_at", "Time" %></i>
           </ti>
          </td>
        </tr>
      </td>
    </thead>
<style>
</style>
    <div class="table-scrollable ">
      <table style="table-layout:fixed;min-width:100%;max-width:100%;overflow-x:scroll;" class="table table-bordered table-striped table-hover" id="results">
        <thead>
          <tr>
            <th>image</th>
            <th><i style="display:inline;"> <%= sortable "title" %></th>
            <th><i style="display:inline;"> <%= sortable "price" %></i></th>
            <th><i style="display:inline;"> <%= sortable "cost" %></i></th>
            <th><i style="display:inline;"> <%= sortable "margin" %></i></th>
            <th>listing</th>
          </tr>
        </thead>

        <tbody>
        <% @picked_boards.each do |charge| %>
            <tr>
              <td class= "desktop-items-img" style="margin:0px;"><%= link_to attachment_image_tag(charge.chargeBoard.images.first, :file, :fill, 80, 80), charge, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td class=" mobile-items-img" style="margin:0px;overflow-x:hidden;"><%= link_to attachment_image_tag(charge.chargeBoard.images.first, :file, :fill, 40, 40), charge, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
              <td><%= link_to charge.item.truncate(13), charge, target: :_blank %>
                <%=
                  check_box_tag 'picked', true, charge.picked,
                    onchange: "$(this).data('params', 'picked=' + this.checked)",
                    data: { remote: true, url: charge_path(charge.id), method: :patch }
                    %>
              <td><%= format_amount(charge.price * 100) %></td>
              <td><%= format_amount(charge.price * 100)  %></td>
              <td><%= charge.user.name  %>%</td>
              <td class="text-center">
                <small><%=charge.chargeBoard.category.name %> </small>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--  -->

    <tbody >
      <td>
        <div class="center-text pagination" id="active_boards">
        <%= paginate @picked_boards, remote: true, window: 1 %>
        </div>
      </td>
    </tbody>
  </table>
</div>
<div>
<%= form_tag({controller: :charges, action: :search_picked}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
      <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
            :name, :id, :name, {prompt: "Select type" },
            { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
<% end %>
</div>
