<div>
<%= form_tag({controller: :charges, action: :search_shipped}, {method: :get, remote: true}) do  %>

<div class="col-md-4" style="position:fixed;top:50px;z-index:2;left:calc(45%);">
  <div class="input-group">
    <span class="input-group-btn">
      <%= grouped_collection_select  nil, :category_id, Type.all, :categories,
            :name, :id, :name, {prompt: "Select type" },
            { id: 'category-select' , class: "form-control"} %>
    </span>
  </div><!-- /input-group -->
  <div class="row">
    <div class="input-group" style="float:right">
      <%= text_field_tag :user, nil, class: 'form-control', :placeholder => "Customer Name or email.."  %>
    </div>
  </div>
</div><!-- /.col-lg-6 -->
<div class="col-md-4 search-bar">
   <div class="input-group">
     <%= text_field_tag :keyword, nil, class: 'form-control', :placeholder => "Search for.."  %>
     <span class="input-group-btn">
       <%= button_tag "Go!", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' ></i> Searching..."} %>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->

<% end %>
</div>
<div class="top-dash">
<div id="results">
 <div id="shipped-table">
   <% if @shipped_boards.count == 0 %>
     <%= render partial: 'boards/none' %>
   <% end %>
   <thead>
     <td>
       <div class="center-text" id="shipped_boards">
       <%= paginate @shipped_boards, remote: true, window: 1 %>
       </div>
       <tr>
         <td class="filtering center-text">
           <span> <strong style="position:relative;margin-bottom:20px;text-decoration:underline;">Need to ship </strong></span>
           <br>
           <ti> <strong> Sort by: </strong> </ti>
           <i style="display:inline;"> <%= sortable "updated_at", "Time" %></i>
          </ti>
         </td>
       </tr>
     </td>
   </thead>
   <div class="table-scrollable ">
     <table style="" class="table table-bordered table-striped table-hover" id="">
       <thead>
         <tr>
           <th>image</th>
             <th><i style="display:inline;"> User </th>
             <th><i style="display:inline;"> <%= sortable "id" %></i></th>
             <th><i style="display:inline;"> <%= sortable "item", "Title" %></th>
             <th><i style="display:inline;"> <%= sortable "price" %></i></th>
             <th><i style="display:inline;"> <%= sortable "created_at", "purchased" %></i></th>
             <th><i style="display:inline;"> UPC </i></th>
           <th>listing</th>
          </tr>
        </thead>

        <tbody>
        <% @shipped_boards.each do |charge| %>
              <tr>
                <td class= "desktop-items-img" style="margin:0px;"><%= link_to attachment_image_tag(charge.chargeBoard.images.first, :file, :fill, 80, 80), charge, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
                <td class=" mobile-items-img" style="margin:0px;overflow-x:hidden;"><%= link_to attachment_image_tag(charge.chargeBoard.images.first, :file, :fill, 40, 40), charge, remote: true, data: { toggle: "modal", target: "#newModal" } %></td>
                <td><%= charge.user.name  %>
                              <%= charge.user.email  %></td>
                  <td><%= charge.id  %>
                  Shipped:<%=
                    check_box_tag 'shipped', true, charge.shipped,
                      onchange: "$(this).data('params', 'shipped=' + this.checked)",
                      data: { remote: true, url: charge_path(charge.id), method: :patch }
                      %>
                      </td>
                      <td><%= charge.item.truncate(13) %></td>
                <td><%= format_amount(charge.price * 100) %></td>
                <td><%= format_date(charge.created_at) %></td>
                <td> <%if charge.board.upc.present? %>
                      <%= charge.board.upc %>
                      <% end %>
                </td>
                <td class="text-center">
                  <small><%=charge.chargeBoard.type.name %>: </small>
                  <small><%=charge.chargeBoard.category.name %> </small>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--  -->

    <tbody >
      <td>
        <div class="center-text pagination" id="active_boards">
        <%= paginate @shipped_boards, remote: true, window: 1 %>
        </div>
      </td>
    </tbody>
  </table>
</div>
