<script>
$(document).ready(function() {
var openTracking = document.getElementById('openTracking');
var trackpartial = document.getElementById('trackPartial');
var closeTracking = document.getElementById('closeTracking');
$('#chargeModal').on('hide.bs.modal', function (e) {
  trackpartial.style.display == 'none'
});
openTracking.onclick = function() {
  if (trackpartial.style.display == 'none') {
     trackpartial.style['display'] = 'block';
     closeTracking.style['display'] = 'block';
     openTracking.style['display'] = 'none';
   }
}

closeTracking.onclick = function() {
if (trackPartial.style.display == 'block') {
  closeTracking.style['display'] = 'none';
  trackPartial.style['display'] = 'none';
  openTracking.style['display'] = 'block';
  }
 }
});
</script>
<%= content_for :page_title, 'Review charge' %>
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">
        <strong>Receipt No: </strong><%= @charge.id %> <span class="pull-right ">
        <%= format_amount(@charge.price)  %></span>
      |<strong>  <%= @charge.vendor.company %> </strong>|
      </h2>

      <hr>
      <dt> <%= @board.type.name %>:<%= @board.category.name %></dt>
      <% if @charge.accessories? %>
      <dt>:Add On: Accessories</dt>
      <% @accessories.each do |a| %>
      <hr>
          <dd><strong> Title:</strong>
            <%= link_to a.title, a, remote: true, data: { toggle: "modal", target: "#accModal" } %>
          </dd>
          <dd><strong> Kind:</strong><%= a.kind.name %> <dd><%= %> </dd>
          <dd><strong> Price:</strong><%= format_amount(a.price * 100) %> <dd><%= %> </dd>
          <% end %>
      <% end %>
      <hr>

      <% if current_user == @charge.vendor %>
      <h3 class="btn btn-sort" style="max-width:100px;link-style:none;position:relative;bottom:2px;left:11px;" id="openTracking"><%= tracking = @charge.shipping == true ? "Tracking #" : "Picked Up" %></h3>
      <h3 class="btn btn-danger" style="max-width:100px;display:none;position: relative;bottom: 2px;left: 11px;" id="closeTracking">CLOSE</h3>
        <div id="trackPartial" class="" style="max-height:69px;min-height:45px;border:4px solid black;left:calc(50% - 160px);display:none;z-index:990;top:88px;position:absolute;">
          <div style="width:300px;min-height:50px;max-height50px;background-color:#f5f5f5;z-index:989;">
            <%= render partial: 'charges/tracking', locals: {charge: @charge} %>
          </div>
        </div>
        <% if @charge.shipping == true %>
          <small>Tracking:<%= @charge.tracking %></small>
        <% end %>
        <% end %>

        <hr>
      <% if @charge.board.accessories.exists? %>
      <dt>Accessories</dt>
      <% @completeAccessories.each do |a| %>
      <hr>
      <dd><%= link_to a.title, a, remote: true, data: { toggle: "modal", target: "#accModal" } %></dd>
      <dd><strong> Kind:</strong><%= a.kind.name %> <dd><%= %> </dd>
      <dd><strong> Price:</strong><%= a.price %> <dd><%= %> </dd>
      <% end %>
      <% end %>
      <% if @charge.rental %>
      <hr>
        <strong> Pick up:</strong><dd><%= @charge.start_time.to_s.split('00').first %> 8am </dd>
        <strong> Drop Off:</strong><dd><%= @charge.end_time.to_s.split('00').first %> 5pm</dd>
      <% end %>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <dl>
            <dt>Purchase From:</dt>
            <dd>
              <% if @charge.user.name %>
              <strong>Customer Name:</strong> <%= @charge.user.name %>
              <% end %>
              <br>
              <strong>Customer Email:</strong> <%= @charge.user.email %>

            </dd>
            <dd>
              <% if @charge.board.images.exists? %>
              <%= image_tag(attachment_url(@charge.board.images.first, :file, :fill, 150, 150, format: 'jpg')) %>
              <% end %>
            </dd>
            <hr>
            <% if current_user.stripe_account %>
             <dt>Payment method:</dt>
             <dd><%= @payments['source']['brand']%></dd>
              <% if @board.upc.present? %>
               <dt> UPC:</dt>
               <dd><%= @board.upc %></dd>
              <% end %>
              <dt> Board:</dt>
              <dd>
              <%= @board.title %>
              </dd>
            <% end %>
            <hr>
            <% if @charge.shipping == false || @charge.rental == true %>
              <dd>In store pick Up</dd>
            <% else %>
             <dt>Shipping to</dt>
             <dd> <%= @charge.full_address %> </dd>
             <% end %>
            <hr>
            <dt>Created:</dt>
            <dd><%= format_date(@charge.created_at) %></dd>
            <hr>
          </dl>
        </div>
      </div>
    </div>
  </div>
