<%= content_for :page_title, 'Review charge' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">
        <strong>Receipt No: </strong><%= @charge.id %> <span class="pull-right ">$<%= @charge.price / 100%>.00</span>
      |<strong>  <%= @charge.vendor.company %> </strong>|
      </h2>
      <% if @charge.rental %>
      <hr>
        <strong> Pick up:</strong><dd><%= @charge.start_time.to_s.split('00').first %> 8am </dd>
        <strong> Drop Off:</strong><dd><%= @charge.end_time.to_s.split('00').first %> 5pm</dd>
      <% end %>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <dl>
            <dt>Purchase From:</dt>
            <dd><%= @charge.user.name %></dd>
            <hr>
            <% if current_user.stripe_account %>
            <dt>Payment method:</dt>
            <dd><%= @payments['source']['brand']%></dd>
            <% end %>
            <hr>
            <dt>For <%= @board.category.name %>:</dt>
            <dd><%= link_to @board.title, board_path(@board) %></dd>
            <hr>
            <% if @charge.shipping == false || @charge.rental == true %>
              <dd>In store pick Up</dd>
            <% else %>
             <dt>Shipped</dt>
             <% end %>
            <hr>
            <dt>Created:</dt>
            <dd><%= format_date(@charge.created_at) %></dd>
      <hr>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
